Repository mobxjs/mobx.dart: changes, and which Codecov flags are due for each by the changed paths.
All: mobx, mobx_codegen, flutter_mobx

Check logo placement
  README.md
Due: none

Align to right
  README.md
Due: none

Move logo up
  README.md
Due: none

Added image to the repo
  README.md
  docs/src/images/flutter-favorite.png
Due: none

Add flutter favorite logo (#329)
  README.md
  docs/src/images/flutter-favorite.png
Due: none

fixing logo size
  .idea/libraries/Dart_Packages.xml
  .idea/libraries/Flutter_Plugins.xml
  .idea/workspace.xml
  README.md
  docs/src/home.mdx
  flutter_mobx/README.md
  mobx/README.md
Due: none

Display stack traces with all caught errors (#327)
  flutter_mobx/lib/src/observer.dart
Due: flutter_mobx

few changes and upgrade to docz
  .idea/libraries/Dart_Packages.xml
  .idea/mobx.dart.iml
  .idea/workspace.xml
  docs/package-lock.json
  docs/package.json
Due: none

Fix: Widgets failed to call super.dispose()
  mobx/lib/src/api/store.dart
  mobx/test/store_test.dart
Due: mobx

Remove unneeded test file as requested
  mobx/test/store_test.dart
Due: none

Added StatelessObserverWidget and StatefulObserverWidget
  analysis_options.yaml
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/lib/src/observer.dart
  flutter_mobx/test/flutter_mobx_test.dart
  mobx/lib/src/api/annotations.dart
  mobx/lib/src/api/observable_collections/observable_list.dart
  mobx/lib/src/api/store.dart
  mobx_codegen/lib/src/template/params.dart
  mobx_codegen/test/data/valid_annotated_store_referencing_store_input.dart
  mobx_examples/lib/todos/todo_widgets.dart
  tool/expose_version.dart
Due: mobx, mobx_codegen, flutter_mobx

fixing analyzer error
  .idea/libraries/Dart_Packages.xml
  .idea/libraries/Dart_SDK.xml
  .idea/workspace.xml
  docs/package-lock.json
  mobx/lib/src/core/derivation.dart
  mobx/lib/src/core/reaction.dart
Due: mobx

Fix: Widgets failed to call super.dispose() (#334)
  mobx/lib/src/api/store.dart
  mobx/test/store_test.dart
Due: mobx

Fix typo
  flutter_mobx/test/flutter_mobx_test.dart
Due: none

working syntax highlight
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  docs/doczrc.js
  docs/gatsby-config.js
  docs/package-lock.json
  docs/package.json
  docs/src/gatsby-theme-docz/components/index.js
Due: none

working pages. Now need to format the inline-code fragments...still figuring out
  .idea/misc.xml
  .idea/workspace.xml
  docs/doczrc.js
  docs/src/api/observable.mdx
  docs/src/components/testimonial.tsx
  docs/src/gatsby-theme-docz/components/Logo/index.js
  docs/src/guides/organizing-stores.mdx
Due: none

adding favicon
  .idea/workspace.xml
  docs/doczrc.js
  docs/package.json
  docs/src/gatsby-theme-docz/wrapper.js
Due: none

custom inline code block
  .idea/workspace.xml
  docs/src/gatsby-theme-docz/components/index.js
Due: none

adding documentation to the public methods...WIP
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
Due: none

adding documentation to the public methods...WIP
  .idea/workspace.xml
  docs/doczrc.js
Due: none

Upgrade docz (#302)
  .idea/libraries/Dart_Packages.xml
  .idea/misc.xml
  .idea/mobx.dart.iml
  .idea/workspace.xml
  docs/doczrc.js
  docs/gatsby-browser.js
  docs/package-lock.json
  docs/package.json
  docs/src/api/observable.mdx
  docs/src/components/testimonial.tsx
  docs/src/gatsby-theme-docz/components/Logo/index.js
  docs/src/gatsby-theme-docz/components/index.js
  docs/src/gatsby-theme-docz/wrapper.js
  docs/src/getting-started/index.mdx
  docs/src/guides/organizing-stores.mdx
  package-lock.json
Due: none

cached output of vscode extension to avoid errors on CI
  .idea/mobx.dart.iml
  .idea/workspace.xml
  docs/doczrc.js
  docs/gatsby-remark-vscode-extensions/oscarcs.dart-syntax-highlighting-only/[Content_Types].xml
  docs/gatsby-remark-vscode-extensions/oscarcs.dart-syntax-highlighting-only/extension.vsixmanifest
  docs/gatsby-remark-vscode-extensions/oscarcs.dart-syntax-highlighting-only/extension/LICENSE.md
  docs/gatsby-remark-vscode-extensions/oscarcs.dart-syntax-highlighting-only/extension/README.md
  docs/gatsby-remark-vscode-extensions/oscarcs.dart-syntax-highlighting-only/extension/language-configuration.json
  docs/gatsby-remark-vscode-extensions/oscarcs.dart-syntax-highlighting-only/extension/logo.png
  docs/gatsby-remark-vscode-extensions/oscarcs.dart-syntax-highlighting-only/extension/package.json
  docs/gatsby-remark-vscode-extensions/oscarcs.dart-syntax-highlighting-only/extension/syntaxes/dart-language-configuration.json
  docs/gatsby-remark-vscode-extensions/oscarcs.dart-syntax-highlighting-only/extension/syntaxes/dart.json
  docs/gatsby-remark-vscode-extensions/oscarcs.dart-syntax-highlighting-only/extension/syntaxes/dart.json.license
Due: none

Added StatelessObserverWidget and StatefulObserverWidget (#336)
  analysis_options.yaml
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/lib/src/observer.dart
  flutter_mobx/test/flutter_mobx_test.dart
  mobx/lib/src/api/annotations.dart
  mobx/lib/src/api/observable_collections/observable_list.dart
  mobx_codegen/lib/src/template/params.dart
  mobx_codegen/test/data/valid_annotated_store_referencing_store_input.dart
  mobx_examples/lib/todos/todo_widgets.dart
  tool/expose_version.dart
Due: mobx, mobx_codegen, flutter_mobx

style improvements
  .idea/workspace.xml
  docs/doczrc.js
  docs/src/components/CircleBullet.tsx
  docs/src/components/PubBadge.tsx
  docs/src/components/Sponsor.tsx
  docs/src/components/Testimonial.tsx
  docs/src/gatsby-theme-docz/components/Logo/index.js
  docs/src/home.mdx
Due: none

style improvements
  .idea/workspace.xml
  docs/doczrc.js
Due: none

package upgrade for mobx
  .idea/workspace.xml
  docs/src/api/reaction.mdx
  docs/src/development/blueprint.md
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/pubspec.yaml
Due: mobx

package upgrade for flutter_mobx
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/pubspec.yaml
Due: flutter_mobx

updated changelog to add names of contributors
  .idea/workspace.xml
  flutter_mobx/CHANGELOG.md
Due: none

updated changelog to add names of contributors
  .idea/workspace.xml
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/pubspec.yaml
Due: flutter_mobx

adding Robert's testimonial
  .idea/workspace.xml
  docs/src/components/Testimonial.tsx
Due: none

editing the comments
  flutter_mobx/lib/src/observer_provider.dart
Due: flutter_mobx

remove the mobx_codegen and build_runner
  flutter_mobx/pubspec.yaml
Due: none

remove the get it package and its files from the example
  mobx_examples/lib/counter_store/counter_store_widget.dart
  mobx_examples/lib/counter_store/locator.dart
  mobx_examples/lib/main.dart
Due: none

exposing the field to turn on/off the use of StackTrace in the Observer name
  .idea/workspace.xml
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/lib/src/observer.dart
  flutter_mobx/pubspec.yaml
  flutter_mobx/test/flutter_mobx_test.dart
Due: flutter_mobx

Print full error details in test scenarios
  mobx_codegen/test/test_utils.dart
Due: none

Print full error details in test scenarios (#344)
  mobx_codegen/test/test_utils.dart
Due: none

Update pubspec min version to 2.7.0
  mobx/pubspec.yaml
Due: none

added ObservableStream extension #345
  mobx/lib/mobx.dart
  mobx/lib/src/api/extensions.dart
  mobx/lib/src/api/extensions/observable_stream_extension.dart
Due: mobx

Suppress test error logging in absence of exception
  mobx_codegen/test/test_utils.dart
Due: none

Add generated test coverage badge to gitignore
  .gitignore
Due: none

Path conditions:
  mobx: any of: mobx/lib/
  mobx_codegen: any of: mobx_codegen/lib/
  flutter_mobx: any of: flutter_mobx/lib/
