Repository mobxjs/mobx.dart: changes, and which Codecov flags are due for each by the changed paths.
All: mobx, mobx_codegen, flutter_mobx

codecov.yml:

coverage:
  range: 80..100
  status:
    project:
      default: off
      mobx:
        flags: mobx
      mobx_codegen:
        flags: mobx_codegen
      flutter_mobx:
        flags: flutter_mobx

flags:
  # filter the folder(s) you wish to measure by that flag
  mobx:
    # only include files in the mobx folder
    paths:
      - mobx/lib/
  mobx_codegen:
    paths:
      - mobx_codegen/lib/
  flutter_mobx:
    paths:
      - flutter_mobx/lib/

change @required to required
  mobx_codegen/lib/src/template/method_override.dart
  mobx_codegen/lib/src/template/params.dart
  mobx_codegen/test/data/valid_input.dart
  mobx_codegen/test/data/valid_input_annotation_store_config_has_to_string.dart
  mobx_codegen/test/data/valid_output.dart
  mobx_codegen/test/data/valid_output_annotation_store_config_has_to_string.dart
Due: mobx_codegen

Remove duplicated tests
  mobx_codegen/test/invalid_annotations_test.dart
Due: none

Support NNBD (Null safety) for generated code of mobx_codegen (new) (#634)
  mobx_codegen/lib/src/template/computed.dart
  mobx_codegen/lib/src/template/method_override.dart
  mobx_codegen/lib/src/template/params.dart
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/test/data/valid_generic_store_input.dart
  mobx_codegen/test/data/valid_generic_store_output.dart
  mobx_codegen/test/data/valid_import_prefixed_input.dart
  mobx_codegen/test/data/valid_import_prefixed_output.dart
  mobx_codegen/test/data/valid_input.dart
  mobx_codegen/test/data/valid_input_annotation_store_config_has_to_string.dart
  mobx_codegen/test/data/valid_output.dart
  mobx_codegen/test/data/valid_output_annotation_store_config_has_to_string.dart
  mobx_codegen/test/templates_test.dart
  mobx_codegen/test/test_utils.dart
Due: mobx_codegen

updating pubspec and changelog
  flutter_mobx/CHANGELOG.md
  flutter_mobx/pubspec.yaml
  flutter_mobx/test/flutter_mobx_test.dart
  flutter_mobx/test/helpers.dart
  mobx/CHANGELOG.md
  mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/pubspec.yaml
Due: none

fixing analysis errors
  flutter_mobx/pubspec.yaml
  flutter_mobx/test/helpers.dart
Due: none

Fixbug when key is null for ObservableMap
  mobx/lib/src/api/observable_collections/observable_map.dart
Due: mobx

Update observable_map.dart
  mobx/lib/src/api/observable_collections/observable_map.dart
Due: mobx

fixbug https://github.com/mobxjs/mobx.dart/issues/640
  mobx/lib/src/core/reaction_helper.dart
Due: mobx

Fixes some tests
  mobx_codegen/test/data/invalid_multiple_setter_on_readonly_observable_input.dart
  mobx_codegen/test/data/invalid_multiple_setter_on_readonly_observable_output.txt
  mobx_codegen/test/data/invalid_single_setter_on_readonly_observable_input.dart
  mobx_codegen/test/data/invalid_single_setter_on_readonly_observable_output.txt
  mobx_codegen/test/templates_test.dart
Due: none

Add tests which check if the getter is set as public or private
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/test/templates_test.dart
Due: mobx_codegen

Add tests which check if StoreClassCodegenErrors's message depends on all errors
  mobx_codegen/lib/src/errors.dart
  mobx_codegen/test/errors_test.dart
Due: mobx_codegen

Make ObservableMap consistent with Map and fix bug of null in reaction() (#638)
  mobx/lib/src/api/observable_collections/observable_map.dart
  mobx/lib/src/core/reaction_helper.dart
Due: mobx

mostly converted to null safe
  mobx_codegen/lib/src/errors.dart
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/template/action.dart
  mobx_codegen/lib/src/template/async_action.dart
  mobx_codegen/lib/src/template/comma_list.dart
  mobx_codegen/lib/src/template/computed.dart
  mobx_codegen/lib/src/template/method_override.dart
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/lib/src/template/observable_future.dart
  mobx_codegen/lib/src/template/observable_stream.dart
  mobx_codegen/lib/src/template/params.dart
  mobx_codegen/lib/src/template/store.dart
  mobx_codegen/lib/src/template/store_file.dart
  mobx_codegen/lib/src/template/util.dart
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/generator_usage_test.dart
  mobx_codegen/test/nested_store.dart
  mobx_codegen/test/templates_test.dart
  mobx_codegen/test/test_utils.dart
  mobx_codegen/test/util_test.dart
Due: mobx_codegen

package upgrades and test updates for null safety
  flutter_mobx/pubspec.yaml
  flutter_mobx/test/flutter_mobx_test.dart
  flutter_mobx/test/helpers.dart
  mobx/pubspec.yaml
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/generator_usage_test.dart
  mobx_codegen/test/generator_usage_test.g.dart
  mobx_codegen/test/nested_store.g.dart
  mobx_codegen/test/util_test.dart
  mobx_examples/pubspec.yaml
  rfc/spying-and-tracing.md
Due: none

package upgrades and test updates for null safety
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/pubspec.yaml
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/pubspec.yaml
Due: mobx, mobx_codegen, flutter_mobx

Add test which check if errors are validated before source generation
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/test/store_class_visitor_test.dart
Due: mobx_codegen

incompatible mobx_examples packages
  mobx_examples/pubspec.yaml
Due: none

Fixes tests
  mobx_codegen/pubspec.yaml
Due: none

Removes deprecation warning
  mobx_codegen/lib/src/type_names.dart
Due: mobx_codegen

Adds @readonly annotation
  mobx/lib/mobx.dart
  mobx/lib/src/api/annotations.dart
Due: mobx

Adds @readonly annotation (#647)
  mobx/lib/mobx.dart
  mobx/lib/src/api/annotations.dart
Due: mobx

readonly support in annotation
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/lib/src/api/annotations.dart
  mobx/pubspec.yaml
  mobx/test/annotations_test.dart
Due: mobx

Version bump of mobx for mobx_codegen
  mobx_codegen/pubspec.yaml
Due: none

Adds support to @readonly to mobx_codegen
  mobx_codegen/lib/src/errors.dart
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/lib/src/utils/non_private_name_extension.dart
  mobx_codegen/test/data/invalid_multiple_setter_on_readonly_observable_input.dart
  mobx_codegen/test/data/invalid_multiple_setter_on_readonly_observable_output.txt
  mobx_codegen/test/data/invalid_single_setter_on_readonly_observable_input.dart
  mobx_codegen/test/data/invalid_single_setter_on_readonly_observable_output.txt
  mobx_codegen/test/errors_test.dart
  mobx_codegen/test/invalid_annotations_test.dart
  mobx_codegen/test/store_class_visitor_test.dart
  mobx_codegen/test/templates_test.dart
  mobx_codegen/test/utils_test.dart
Due: mobx_codegen

migrating examples to NNBD ...WIP
  mobx_examples/lib/clock/clock.dart
  mobx_examples/lib/connectivity/connectivity_store.dart
  mobx_examples/lib/connectivity/connectivity_widgets.dart
  mobx_examples/lib/dice/dice_counter.g.dart
  mobx_examples/lib/dice/dice_widgets.dart
  mobx_examples/lib/examples.dart
  mobx_examples/lib/form/form_store.dart
  mobx_examples/lib/form/form_store.g.dart
  mobx_examples/lib/form/form_widgets.dart
  mobx_examples/lib/github/github_store.g.dart
  mobx_examples/lib/hackernews/news_store.g.dart
  mobx_examples/lib/hackernews/news_widgets.dart
  mobx_examples/lib/main.reflectable.dart
  mobx_examples/lib/multi_counter/multi_counter_widgets.dart
  mobx_examples/lib/random_stream/random_store.dart
  mobx_examples/lib/random_stream/random_widgets.dart
  mobx_examples/lib/settings/settings_store.dart
  mobx_examples/lib/settings/settings_store.g.dart
  mobx_examples/lib/todos/todo_list.dart
  mobx_examples/lib/todos/todo_list.g.dart
  mobx_examples/lib/todos/todo_widgets.dart
  mobx_examples/pubspec.yaml
  mobx_examples/test/todos_test.dart
  mobx_examples/test/todos_test.reflectable.dart
Due: none

migrating examples
  mobx_examples/lib/clock/clock.dart
  mobx_examples/lib/form/form_store.dart
  mobx_examples/lib/github/github_store.g.dart
  mobx_examples/lib/github/github_widgets.dart
  mobx_examples/lib/hackernews/hn_api.dart
  mobx_examples/lib/hackernews/news_store.dart
  mobx_examples/lib/hackernews/news_store.g.dart
  mobx_examples/lib/hackernews/news_widgets.dart
  mobx_examples/lib/random_stream/random_store.dart
  mobx_examples/pubspec.yaml
Due: none

all examples are fixed for nnbd, adding web folder for chrome build testing
  mobx_examples/.gitignore
  mobx_examples/lib/connectivity/connectivity_store.dart
  mobx_examples/lib/hackernews/hn_api.dart
  mobx_examples/web/favicon.png
  mobx_examples/web/icons/Icon-192.png
  mobx_examples/web/icons/Icon-512.png
  mobx_examples/web/index.html
  mobx_examples/web/manifest.json
Due: none

fixing docs
  docs/.prettierrc
  docs/docs/core-concepts.mdx
  docs/docs/examples/connectivity/index.mdx
  docs/docs/examples/counter.mdx
  docs/docs/examples/dice/index.mdx
  docs/docs/examples/form/index.mdx
  docs/docs/examples/todos/index.mdx
  docs/docs/getting-started/index.mdx
  docs/docs/home.mdx
  docs/package-lock.json
  docs/package.json
  docs/src/components/testimonials.ts
Due: none

all examples and docs done
  docs/docs/community.mdx
  docs/docs/examples/hacker-news/index.mdx
  docs/docs/examples/random-stream/index.mdx
Due: none

version update to 2.0
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/pubspec.yaml
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/pubspec.yaml
  mobx_examples/pubspec.yaml
Due: mobx, mobx_codegen, flutter_mobx

fixing some of the errors
  mobx/test/observable_future_test.dart
  mobx/test/shared_mocks.dart
Due: none

skipping tests for Publish as we are already testing in Build
  .github/workflows/publish.yml
Due: none

include a doc comment about single property setters being wrapped in actions
  docs/docs/examples/form/index.mdx
Due: none

Adds @readonly annotation support to mobx_codegen (#649)
  mobx/lib/src/api/annotations.dart
  mobx_codegen/lib/src/errors.dart
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/lib/src/utils/non_private_name_extension.dart
  mobx_codegen/test/data/invalid_multiple_setter_on_readonly_observable_input.dart
  mobx_codegen/test/data/invalid_multiple_setter_on_readonly_observable_output.txt
  mobx_codegen/test/data/invalid_single_setter_on_readonly_observable_input.dart
  mobx_codegen/test/data/invalid_single_setter_on_readonly_observable_output.txt
  mobx_codegen/test/errors_test.dart
  mobx_codegen/test/invalid_annotations_test.dart
  mobx_codegen/test/store_class_visitor_test.dart
  mobx_codegen/test/templates_test.dart
  mobx_codegen/test/utils_test.dart
Due: mobx, mobx_codegen

`@readonly` support in 2.0.1
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/pubspec.yaml
Due: mobx, mobx_codegen

bumping mobx version
  mobx_codegen/pubspec.yaml
Due: none

bumping mobx version
  mobx/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/pubspec.yaml
Due: mobx_codegen

bumping mobx version
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
Due: mobx
