Repository mobxjs/mobx.dart: changes, and which Codecov flags are due for each by the changed paths.
All: mobx, mobx_codegen, flutter_mobx

Adds @readonly to the docs
  mobx/README.md
Due: none

Adds @readonly to the site
  docs/docs/api/observable.mdx
Due: none

Simplifies the README
  mobx/README.md
Due: none

Add changes to the main README
  README.md
Due: none

Removes @readonly from the README
  README.md
  mobx/README.md
Due: none

upgrading analyzer, test for late observables
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/data/valid_late_variables_input.dart
  mobx_codegen/test/data/valid_late_variables_output.dart
  mobx_codegen/test/mobx_codegen_test.dart
Due: mobx_codegen

Adds short description to READMEs
  README.md
  mobx/README.md
Due: none

Removes trailing line from README
  mobx/README.md
Due: none

Adds @readonly to the docs (#654)
  README.md
  docs/docs/api/observable.mdx
  mobx/README.md
Due: none

minor analyzer fixes
  mobx_examples/lib/hackernews/hn_api.dart
  mobx_examples/lib/main.dart
Due: none

Update README.md
  README.md
Due: none

Expose [ReactionImpl.track] return value, cleanup [ObserverWidgetMixin]
  flutter_mobx/lib/src/observer_widget_mixin.dart
  flutter_mobx/test/helpers.dart
  mobx/lib/src/core/reaction.dart
Due: mobx, flutter_mobx

Enables release mode spying
  mobx/lib/src/core/context.dart
Due: mobx

Disabled spying by default in ReactiveConfig
  mobx/lib/src/core/context.dart
Due: mobx

Enable release mode spying (#669)
  mobx/lib/src/core/context.dart
Due: mobx

fix for #681
  mobx/lib/src/api/async/observable_stream.dart
Due: mobx

fixed analysis errors
  flutter_mobx/lib/src/stateless_observer_widget.dart
  flutter_mobx/test/helpers.dart
  mobx/lib/mobx.dart
  mobx/lib/src/core/spy.dart
  mobx/test/computed_test.dart
  mobx/test/observable_list_test.dart
  mobx/test/spy_test.dart
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/test/utils_test.dart
  mobx_examples/lib/examples.dart
  mobx_examples/lib/main.reflectable.dart
  mobx_examples/lib/multi_counter/multi_counter_widgets.dart
  mobx_examples/lib/todos/todo_widgets.dart
Due: mobx, mobx_codegen, flutter_mobx

fix for #681 (#682)
  mobx/lib/src/api/async/observable_stream.dart
Due: mobx

docs: Update deprecated website for an article
  docs/docs/community.mdx
Due: none

docs: Update deprecated website for an article (#686)
  docs/docs/community.mdx
Due: none

Update to analyzer 2.0.0
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/pubspec.yaml
Due: mobx_codegen

updating version for the bugfix
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/pubspec.yaml
Due: mobx

tests are failing with mockito
  mobx/pubspec.yaml
  mobx/test/all_tests.mocks.dart
  mobx/test/shared_mocks.dart
  mobx/test/spy_test.dart
Due: none

Replacing `mockito` with `mocktail`
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/pubspec.yaml
  mobx/test/action_controller_test.dart
  mobx/test/action_test.dart
  mobx/test/all_tests.dart
  mobx/test/all_tests.mocks.dart
  mobx/test/autorun_test.dart
  mobx/test/computed_test.dart
  mobx/test/context_test.dart
  mobx/test/intercept_test.dart
  mobx/test/listenable_test.dart
  mobx/test/observable_list_test.dart
  mobx/test/observable_map_test.dart
  mobx/test/observable_set_test.dart
  mobx/test/observable_stream_test.dart
  mobx/test/observable_test.dart
  mobx/test/reaction_test.dart
  mobx/test/shared_mocks.dart
  mobx/test/when_test.dart
Due: mobx

fixing analyzer issues
  mobx/test/action_controller_test.dart
  mobx/test/action_test.dart
  mobx/test/autorun_test.dart
  mobx/test/context_test.dart
  mobx/test/observable_list_test.dart
  mobx/test/observable_map_test.dart
  mobx/test/observable_set_test.dart
  mobx/test/observable_stream_test.dart
  mobx/test/observable_test.dart
  mobx/test/reaction_test.dart
  mobx/test/when_test.dart
Due: none

Fix tests null safety and moving from mockito to mocktail (#693)
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/pubspec.yaml
  mobx/test/action_controller_test.dart
  mobx/test/action_test.dart
  mobx/test/all_tests.dart
  mobx/test/all_tests.mocks.dart
  mobx/test/autorun_test.dart
  mobx/test/computed_test.dart
  mobx/test/context_test.dart
  mobx/test/intercept_test.dart
  mobx/test/listenable_test.dart
  mobx/test/observable_list_test.dart
  mobx/test/observable_map_test.dart
  mobx/test/observable_set_test.dart
  mobx/test/observable_stream_test.dart
  mobx/test/observable_test.dart
  mobx/test/reaction_test.dart
  mobx/test/shared_mocks.dart
  mobx/test/spy_test.dart
  mobx/test/when_test.dart
Due: mobx

moving to `mocktail` from `mockito`
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/pubspec.yaml
  flutter_mobx/test/flutter_mobx_test.dart
  flutter_mobx/test/helpers.dart
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/pubspec.yaml
Due: mobx_codegen, flutter_mobx

Move to mocktail (#694)
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/pubspec.yaml
  flutter_mobx/test/flutter_mobx_test.dart
  flutter_mobx/test/helpers.dart
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/pubspec.yaml
Due: mobx_codegen, flutter_mobx

update build_runner
  flutter_mobx/pubspec.yaml
  mobx/pubspec.yaml
Due: none

doc(typo): quiet
  docs/docs/guides/when-does-mobx-react.mdx
Due: none

docs: fix typo
  docs/docs/guides/organizing-stores.mdx
Due: none

Bug fix for computed with nullable values
  mobx/lib/src/core/computed.dart
  mobx/test/computed_test.dart
Due: mobx

Update to analyzer 2.0.0 (#689)
  flutter_mobx/pubspec.yaml
  mobx/pubspec.yaml
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/pubspec.yaml
Due: mobx_codegen

doc(typo): quiet (#695)
  docs/docs/guides/when-does-mobx-react.mdx
Due: none

docs: fix typo (#696)
  docs/docs/guides/organizing-stores.mdx
Due: none

Bug fix for computed with nullable values (#697)
  mobx/lib/src/core/computed.dart
  mobx/test/computed_test.dart
Due: mobx

publishing new versions
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/pubspec.yaml
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/pubspec.yaml
Due: mobx, mobx_codegen, flutter_mobx

ObservableStream.listen() sub should keep observable values updated
  mobx/lib/src/api/async/observable_stream.dart
  mobx/test/observable_stream_test.dart
Due: mobx

Clean-up: moved streamToFuture tests inside group
  mobx/test/observable_stream_test.dart
Due: none

Path conditions:
  mobx: any of: mobx/lib/
  mobx_codegen: any of: mobx_codegen/lib/
  flutter_mobx: any of: flutter_mobx/lib/
