Repository mobxjs/mobx.dart: changes, and which Codecov flags are due for each by the changed paths.
All: mobx, mobx_codegen, flutter_mobx

codecov.yml:

coverage:
  range: 80..100
  status:
    project:
      default: off
      mobx:
        flags: mobx
      mobx_codegen:
        flags: mobx_codegen
      flutter_mobx:
        flags: flutter_mobx

flags:
  # filter the folder(s) you wish to measure by that flag
  mobx:
    # only include files in the mobx folder
    paths:
      - mobx/lib/
  mobx_codegen:
    paths:
      - mobx_codegen/lib/
  flutter_mobx:
    paths:
      - flutter_mobx/lib/

change: refactoring
  mobx_examples/lib/todos/todo_list.dart
Due: none

change: package updates and the pages are working now. Need to fix formatting and syntax-highlighting of code blocks
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  docs/package-lock.json
  docs/package.json
Due: none

change: toString override for MobXException
  .idea/workspace.xml
  mobx/lib/src/core.dart
Due: mobx

change: adding toString to MobXException
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  mobx/lib/src/core.dart
Due: mobx

change: adding toString to MobXException
  .idea/workspace.xml
  mobx/CHANGELOG.md
  mobx/pubspec.yaml
Due: none

Add ObservableValue class
  mobx/lib/src/api/async/observable_future.dart
  mobx/lib/src/api/async/observable_stream.dart
  mobx/lib/src/core.dart
  mobx/lib/src/core/computed.dart
  mobx/lib/src/core/observable.dart
  mobx/lib/src/core/observable_value.dart
  mobx/test/observable_value_test.dart
Due: mobx

Fix: ReactiveWritePolicy.observed does not work.
  mobx/lib/src/core/context.dart
Due: mobx

Add ObservableValue class (#305)
  mobx/lib/src/api/async/observable_future.dart
  mobx/lib/src/api/async/observable_stream.dart
  mobx/lib/src/core.dart
  mobx/lib/src/core/computed.dart
  mobx/lib/src/core/observable.dart
  mobx/lib/src/core/observable_value.dart
  mobx/test/observable_value_test.dart
Due: mobx

getting ready for 0.3.9
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  docs/package-lock.json
  docs/package.json
  mobx/CHANGELOG.md
Due: none

adding version string
  mobx/lib/mobx.dart
Due: mobx

Feat/0.3.9 (#310)
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  docs/package-lock.json
  docs/package.json
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
Due: mobx

version upgrades
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  docs/gatsby-browser.js
  docs/gatsby-config.js
  docs/package-lock.json
  docs/package.json
  docs/src/getting-started/index.mdx
Due: none

change: using discord for chat
  .idea/workspace.xml
  README.md
  docs/src/home.mdx
  mobx/README.md
Due: none

change: using discord for chat
  .idea/workspace.xml
  mobx/CHANGELOG.md
  mobx/pubspec.yaml
Due: none

change: using discord for chat
  .idea/workspace.xml
  README.md
Due: none

workspace updates
  .idea/libraries/Dart_Packages.xml
  .idea/libraries/Dart_SDK.xml
  .idea/libraries/Flutter_Plugins.xml
  .idea/mobx.dart.iml
  .idea/workspace.xml
  docs/package-lock.json
  flutter_mobx/flutter_mobx.iml
Due: none

added link the article on CircleCI blog
  .idea/workspace.xml
  docs/src/community.md
Due: none

Change a test in a way that should fail, but doesn't
  mobx_codegen/test/data/valid_input.dart
Due: none

Add a range to the analyzer version
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/data/valid_annotated_store_referencing_store_input.dart
  mobx_codegen/test/data/valid_annotated_store_referencing_store_output.dart
Due: mobx_codegen

Add support for import prefixes across the board
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/test/data/valid_annotated_store_referencing_store_output.dart
  mobx_codegen/test/data/valid_import_prefixed_input.dart
  mobx_codegen/test/data/valid_import_prefixed_output.dart
  mobx_codegen/test/mobx_codegen_test.dart
Due: mobx_codegen

Bump package version to 0.3.10
  mobx_codegen/CHANGELOG.md
  mobx_codegen/pubspec.yaml
  mobx_examples/pubspec.yaml
Due: none

Upgrade the analyzer to support a range of versions (#309)
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/data/valid_annotated_store_referencing_store_input.dart
  mobx_codegen/test/data/valid_annotated_store_referencing_store_output.dart
  mobx_codegen/test/data/valid_import_prefixed_input.dart
  mobx_codegen/test/data/valid_import_prefixed_output.dart
  mobx_codegen/test/mobx_codegen_test.dart
  mobx_examples/pubspec.yaml
Due: mobx_codegen

change: version sync between the pubspec and code
  .idea/libraries/Dart_Packages.xml
  .idea/libraries/Flutter_Plugins.xml
  .idea/workspace.xml
  mobx/lib/mobx.dart
  mobx_codegen/lib/mobx_codegen.dart
Due: mobx, mobx_codegen

adding documentation to the public methods...WIP
  .idea/libraries/Dart_Packages.xml
  .idea/libraries/Flutter_Plugins.xml
  .idea/workspace.xml
  mobx/lib/mobx.dart
  mobx/lib/src/api/action.dart
  mobx/lib/src/api/annotations.dart
  mobx/lib/src/api/context.dart
  mobx/lib/src/api/observable_collections/observable_list.dart
  mobx/lib/src/api/observable_collections/observable_map.dart
  mobx/lib/src/api/store.dart
Due: mobx

fixing lints
  .idea/libraries/Dart_Packages.xml
  .idea/libraries/Dart_SDK.xml
  .idea/libraries/Flutter_Plugins.xml
  .idea/workspace.xml
  mobx/lib/src/core/context.dart
  mobx_codegen/test/generator_usage_test.dart
Due: mobx

more documentation comments
  .idea/workspace.xml
  mobx/lib/src/api/async/async_action.dart
  mobx/lib/src/api/observable_collections/observable_set.dart
  mobx/lib/src/core.dart
  mobx/lib/src/core/reaction_helper.dart
  mobx/lib/src/interceptable.dart
  mobx/lib/src/listenable.dart
Due: mobx

more documentation comments and package updates
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  mobx/CHANGELOG.md
  mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/pubspec.yaml
Due: none

more documentation comments and package updates
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/lib/src/observer.dart
  flutter_mobx/pubspec.yaml
Due: flutter_mobx

version sync across all packages
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/pubspec.yaml
  mobx/lib/mobx.dart
  mobx/pubspec.yaml
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/pubspec.yaml
Due: mobx, mobx_codegen, flutter_mobx

version sync across all packages
  .idea/workspace.xml
  flutter_mobx/CHANGELOG.md
  mobx/CHANGELOG.md
Due: none

add connectivity example and update version of mobx used for reaction to run
  mobx_examples/lib/connectivity/connectivity_store.dart
  mobx_examples/lib/connectivity/connectivity_store.g.dart
  mobx_examples/lib/connectivity/connectivity_widgets.dart
  mobx_examples/lib/examples.dart
  mobx_examples/lib/main.dart
  mobx_examples/pubspec.yaml
Due: none

fix grammar in comment on using a delay with reaction
  mobx_examples/lib/connectivity/connectivity_widgets.dart
Due: none

add connectivity example that demonstrates using a reaction (#319)
  mobx_examples/lib/connectivity/connectivity_store.dart
  mobx_examples/lib/connectivity/connectivity_store.g.dart
  mobx_examples/lib/connectivity/connectivity_widgets.dart
  mobx_examples/lib/examples.dart
  mobx_examples/lib/main.dart
  mobx_examples/pubspec.yaml
Due: none

tidy up connectivity example
  mobx_examples/lib/connectivity/connectivity_store.dart
  mobx_examples/lib/connectivity/connectivity_widgets.dart
Due: none

add documentation for connectivity example
  docs/src/examples/connectivity/connectivity.gif
  docs/src/examples/connectivity/index.mdx
Due: none

fix minor grammar errors
  docs/src/examples/connectivity/index.mdx
Due: none

reword sentence on disposing reaction
  docs/src/examples/connectivity/index.mdx
Due: none

add connectivity example to the docs (#320)
  docs/src/examples/connectivity/connectivity.gif
  docs/src/examples/connectivity/index.mdx
  mobx_examples/lib/connectivity/connectivity_store.dart
  mobx_examples/lib/connectivity/connectivity_widgets.dart
Due: none

Added TodoJsonMapper example
  mobx_examples/.gitignore
  mobx_examples/build.yaml
  mobx_examples/lib/examples.dart
  mobx_examples/lib/github/github_store.dart
  mobx_examples/lib/main.dart
  mobx_examples/lib/main.reflectable.dart
  mobx_examples/lib/todos/todo_list.g.dart
  mobx_examples/lib/todos_json_mapper/todo_json_mapper.dart
  mobx_examples/lib/todos_json_mapper/todo_json_mapper.g.dart
  mobx_examples/lib/todos_json_mapper/todo_json_mapper_list.dart
  mobx_examples/lib/todos_json_mapper/todo_json_mapper_list.g.dart
  mobx_examples/lib/todos_json_mapper/todo_json_mapper_widgets.dart
  mobx_examples/pubspec.yaml
Due: none

Display stack traces with all caught errors
  flutter_mobx/lib/src/observer.dart
Due: flutter_mobx
