Repository mobxjs/mobx.dart: changes, and which Codecov flags are due for each by the changed paths.
All: mobx, mobx_codegen, flutter_mobx

codecov.yml:

coverage:
  range: 80..100
  status:
    project:
      default: off
      mobx:
        flags: mobx
      mobx_codegen:
        flags: mobx_codegen
      flutter_mobx:
        flags: flutter_mobx

flags:
  # filter the folder(s) you wish to measure by that flag
  mobx:
    # only include files in the mobx folder
    paths:
      - mobx/lib/
  mobx_codegen:
    paths:
      - mobx_codegen/lib/
  flutter_mobx:
    paths:
      - flutter_mobx/lib/

spying in observable
  mobx/test/spy_test.dart
Due: none

fixing the assert return statement
  mobx/lib/src/core/spy.dart
Due: mobx

basic spy tests
  mobx/lib/src/api/annotations.dart
  mobx/lib/src/core/spy.dart
  mobx/test/spy_test.dart
Due: mobx

many of the data structures were not accepting names.
  mobx/lib/src/api/async/observable_future.dart
  mobx/lib/src/api/async/observable_stream.dart
  mobx/lib/src/api/extensions/observable_future_extension.dart
  mobx/lib/src/api/extensions/observable_list_extension.dart
  mobx/lib/src/api/extensions/observable_map_extension.dart
  mobx/lib/src/api/extensions/observable_set_extension.dart
  mobx/lib/src/api/extensions/observable_stream_extension.dart
  mobx/lib/src/api/observable_collections/observable_list.dart
  mobx/lib/src/api/observable_collections/observable_map.dart
  mobx/lib/src/api/observable_collections/observable_set.dart
  mobx/lib/src/core/observable.dart
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/template/computed.dart
  mobx_examples/lib/dice/dice_counter.g.dart
  mobx_examples/lib/form/form_store.g.dart
  mobx_examples/lib/github/github_store.g.dart
  mobx_examples/lib/todos/todo_list.g.dart
  rfc/spying-and-tracing.md
Due: mobx, mobx_codegen

reporting actions with more detailed info
  mobx/lib/mobx.dart
  mobx/lib/src/core/action.dart
  mobx/lib/src/core/action_extensions.dart
  mobx/lib/src/core/atom_extensions.dart
  mobx/lib/src/core/reaction.dart
  mobx/lib/src/core/spy.dart
  mobx_codegen/lib/src/template/action.dart
  mobx_examples/lib/counter/counter.g.dart
  mobx_examples/lib/dice/dice_counter.g.dart
  mobx_examples/lib/form/form_store.g.dart
  mobx_examples/lib/github/github_store.g.dart
  mobx_examples/lib/hackernews/news_store.g.dart
  mobx_examples/lib/main.dart
  mobx_examples/lib/multi_counter/multi_counter_store.g.dart
  mobx_examples/lib/todos/todo_list.g.dart
Due: mobx, mobx_codegen

fixing tests in mobx
  mobx/test/shared_mocks.dart
Due: none

fixing lints
  mobx/test/observable_stream_test.dart
Due: none

adding lcov
  package.json
Due: none

more missing tests for name related ones
  mobx/test/observable_future_test.dart
  mobx/test/observable_stream_test.dart
Due: none

reaction dispose being tracked in spy
  mobx/lib/src/core/reaction.dart
  mobx/lib/src/core/spy.dart
Due: mobx

fixing lint
  mobx/lib/src/api/annotations.dart
  mobx/test/spy_test.dart
Due: mobx

refactoring in spy, some cleanups in toString generation on Stores
  mobx/lib/mobx.dart
  mobx/lib/src/core/action.dart
  mobx/lib/src/core/action_extensions.dart
  mobx/lib/src/core/atom_extensions.dart
  mobx/lib/src/core/observable.dart
  mobx/lib/src/core/reaction.dart
  mobx/lib/src/core/spy.dart
  mobx_codegen/lib/src/template/action.dart
  mobx_codegen/lib/src/template/store.dart
  mobx_examples/lib/connectivity/connectivity_store.g.dart
  mobx_examples/lib/counter/counter.g.dart
  mobx_examples/lib/dice/dice_counter.g.dart
  mobx_examples/lib/form/form_store.g.dart
  mobx_examples/lib/github/github_store.g.dart
  mobx_examples/lib/hackernews/news_store.g.dart
  mobx_examples/lib/main.dart
  mobx_examples/lib/multi_counter/multi_counter_store.g.dart
  mobx_examples/lib/random_stream/random_store.g.dart
  mobx_examples/lib/settings/settings_store.g.dart
  mobx_examples/lib/todos/todo.g.dart
  mobx_examples/lib/todos/todo_list.g.dart
Due: mobx, mobx_codegen

all tests passing
  mobx_codegen/lib/src/template/rows.dart
  mobx_codegen/lib/src/template/store.dart
  mobx_codegen/test/data/valid_generic_store_output.dart
  mobx_codegen/test/data/valid_import_prefixed_output.dart
  mobx_codegen/test/data/valid_output.dart
  mobx_codegen/test/data/valid_output_annotation_store_config_has_to_string.dart
  mobx_codegen/test/templates_test.dart
Due: mobx_codegen

fixing analysis errors
  mobx_codegen/lib/src/template/store.dart
Due: mobx_codegen

fixed an overflow issues in github widgets. Better naming of AsyncAction spy
  mobx/lib/src/api/async/async_action.dart
  mobx/test/action_controller_test.dart
  mobx/test/spy_test.dart
  mobx_examples/lib/github/github_widgets.dart
Due: mobx

adding mobx
  .github/workflows/build.yml
Due: none

improving coverage and adding missing tests
  mobx/lib/src/api/async/observable_future.dart
  mobx/lib/src/api/observable_collections/observable_set.dart
  mobx/lib/src/core/action.dart
  mobx/test/observable_list_test.dart
  mobx/test/observable_map_test.dart
  mobx/test/observable_set_test.dart
  mobx/test/observable_stream_test.dart
  mobx/test/spy_test.dart
Due: mobx

trying for mobx_codegen only
  .github/workflows/build.yml
Due: none

build only on push
  .github/workflows/build.yml
Due: none

naming of AsyncActions
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/template/async_action.dart
  mobx_codegen/lib/src/template/store.dart
  mobx_examples/lib/connectivity/connectivity_store.g.dart
  mobx_examples/lib/counter/counter.g.dart
  mobx_examples/lib/dice/dice_counter.g.dart
  mobx_examples/lib/form/form_store.g.dart
  mobx_examples/lib/github/github_store.g.dart
  mobx_examples/lib/hackernews/news_store.g.dart
  mobx_examples/lib/multi_counter/multi_counter_store.g.dart
  mobx_examples/lib/random_stream/random_store.g.dart
  mobx_examples/lib/settings/settings_store.g.dart
  mobx_examples/lib/todos/todo.g.dart
  mobx_examples/lib/todos/todo_list.g.dart
Due: mobx_codegen

merging changes from master
  mobx_examples/lib/main.dart
Due: none

adding the spy tests
  mobx/test/all_tests.dart
  package.json
Due: none

docs: add zh-CN doc
  translation/zh-CH/README.md
Due: none

docs: add zh-CN doc
  translation/zh-CN/README.md
Due: none

docs: fix zh-CN doc contributing wording
  translation/zh-CN/README.md
Due: none

[feat] Added map function on Future extension
  mobx/lib/src/api/extensions/observable_future_extension.dart
Due: mobx

Document translation of zh-CN. (#469)
  translation/zh-CN/README.md
Due: none

Update README.md
  translation/pt-BR/README.md
Due: none

Update README.md (#471)
  translation/pt-BR/README.md
Due: none

Add a throwReactionErrors setup task.
  mobx/test/computed_test.dart
  mobx/test/util.dart
Due: none

Fire computed observers when the computed changes.
  mobx/lib/src/core/computed.dart
  mobx/test/computed_test.dart
Due: mobx

Allow a custom equals method for Computed.
  mobx/lib/src/core/computed.dart
  mobx/pubspec.yaml
  mobx/test/computed_test.dart
Due: mobx

Create a testSetup method for boilerplate test setup.
  mobx/test/action_controller_test.dart
  mobx/test/action_test.dart
  mobx/test/annotations_test.dart
  mobx/test/async_action_test.dart
  mobx/test/autorun_test.dart
  mobx/test/bug_related_test.dart
  mobx/test/computed_test.dart
  mobx/test/context_test.dart
  mobx/test/exceptions_test.dart
  mobx/test/extensions/observable_future_extension_test.dart
  mobx/test/extensions/observable_list_extension_test.dart
  mobx/test/extensions/observable_map_extension_test.dart
  mobx/test/extensions/observable_set_extension_test.dart
  mobx/test/extensions/observable_stream_extension_test.dart
  mobx/test/intercept_test.dart
  mobx/test/listenable_test.dart
  mobx/test/observable_future_test.dart
  mobx/test/observable_list_test.dart
  mobx/test/observable_map_test.dart
  mobx/test/observable_set_test.dart
  mobx/test/observable_stream_test.dart
  mobx/test/observable_test.dart
  mobx/test/observable_value_test.dart
  mobx/test/observe_test.dart
  mobx/test/reaction_test.dart
  mobx/test/reactive_policies_test.dart
  mobx/test/spy_test.dart
  mobx/test/util.dart
  mobx/test/when_test.dart
Due: none

Include turnOffWritePolicy in the boilerplate testSetup.
  mobx/test/action_controller_test.dart
  mobx/test/action_test.dart
  mobx/test/autorun_test.dart
  mobx/test/bug_related_test.dart
  mobx/test/computed_test.dart
  mobx/test/context_test.dart
  mobx/test/extensions/observable_future_extension_test.dart
  mobx/test/extensions/observable_list_extension_test.dart
  mobx/test/extensions/observable_map_extension_test.dart
  mobx/test/extensions/observable_set_extension_test.dart
  mobx/test/extensions/observable_stream_extension_test.dart
  mobx/test/intercept_test.dart
  mobx/test/listenable_test.dart
  mobx/test/observable_future_test.dart
  mobx/test/observable_list_test.dart
  mobx/test/observable_map_test.dart
  mobx/test/observable_set_test.dart
  mobx/test/observable_stream_test.dart
  mobx/test/observable_test.dart
  mobx/test/observable_value_test.dart
  mobx/test/observe_test.dart
  mobx/test/reaction_test.dart
  mobx/test/reactive_policies_test.dart
  mobx/test/spy_test.dart
  mobx/test/util.dart
  mobx/test/when_test.dart
Due: none

StoreConfig for whether to report writes when setting an equal value.
  mobx/lib/src/api/annotations.dart
Due: mobx

Create a StoreConfig flag controlling equal-value observable sets.
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/lib/src/template/store.dart
  mobx_codegen/test/data/valid_generic_store_input_notify_on_equal_set_false.dart
  mobx_codegen/test/data/valid_generic_store_output_notify_on_equal_set_false.dart
  mobx_codegen/test/data/valid_import_prefixed_output.dart
  mobx_codegen/test/data/valid_output.dart
  mobx_codegen/test/data/valid_output_annotation_store_config_has_to_string.dart
  mobx_codegen/test/mobx_codegen_test.dart
  mobx_codegen/test/templates_test.dart
Due: mobx_codegen

add Reaction argument as _
  mobx/lib/src/api/reaction.dart
Due: mobx

add Reaction argument as _ (#491)
  mobx/lib/src/api/reaction.dart
Due: mobx

Change CounterExample Widget to StatelessWidget
  docs/src/core-concepts.mdx
Due: none
