Repository mobxjs/mobx.dart: changes, and which Codecov flags are due for each by the changed paths.
All: mobx, mobx_codegen, flutter_mobx

Add a throwReactionErrors setup task. (#479)
  mobx/test/action_controller_test.dart
  mobx/test/action_test.dart
  mobx/test/annotations_test.dart
  mobx/test/async_action_test.dart
  mobx/test/autorun_test.dart
  mobx/test/bug_related_test.dart
  mobx/test/computed_test.dart
  mobx/test/context_test.dart
  mobx/test/exceptions_test.dart
  mobx/test/extensions/observable_future_extension_test.dart
  mobx/test/extensions/observable_list_extension_test.dart
  mobx/test/extensions/observable_map_extension_test.dart
  mobx/test/extensions/observable_set_extension_test.dart
  mobx/test/extensions/observable_stream_extension_test.dart
  mobx/test/intercept_test.dart
  mobx/test/listenable_test.dart
  mobx/test/observable_future_test.dart
  mobx/test/observable_list_test.dart
  mobx/test/observable_map_test.dart
  mobx/test/observable_set_test.dart
  mobx/test/observable_stream_test.dart
  mobx/test/observable_test.dart
  mobx/test/observable_value_test.dart
  mobx/test/observe_test.dart
  mobx/test/reaction_test.dart
  mobx/test/reactive_policies_test.dart
  mobx/test/spy_test.dart
  mobx/test/util.dart
  mobx/test/when_test.dart
Due: none

Allow a custom equals method for Computed. (#482)
  mobx/lib/src/core/computed.dart
  mobx/pubspec.yaml
  mobx/test/computed_test.dart
Due: mobx

removing unnecessary files
  mobx_examples/macos/Podfile
  mobx_examples/web/icons/Icon-192.png
  mobx_examples/web/icons/Icon-512.png
  mobx_examples/web/index.html
  mobx_examples/web/manifest.json
Due: none

fixes the case where a computed.observe was not firing correctly
  mobx/lib/src/core/computed.dart
  mobx/test/computed_test.dart
Due: mobx

pubspec updates and publishing the spy feature
  mobx/CHANGELOG.md
  mobx/lib/src/api/reaction.dart
  mobx/lib/src/core.dart
  mobx/lib/src/core/computed.dart
  mobx/lib/src/core/observable.dart
  mobx/lib/src/core/reaction_helper.dart
  mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/pubspec.yaml
Due: mobx

upgrading to v2 of gatsby-remark-vscode
  docs/doczrc.js
  docs/gatsby-remark-vscode-extensions/oscarcs.dart-syntax-highlighting-only/[Content_Types].xml
  docs/gatsby-remark-vscode-extensions/oscarcs.dart-syntax-highlighting-only/extension.vsixmanifest
  docs/gatsby-remark-vscode-extensions/oscarcs.dart-syntax-highlighting-only/extension/LICENSE.md
  docs/gatsby-remark-vscode-extensions/oscarcs.dart-syntax-highlighting-only/extension/README.md
  docs/gatsby-remark-vscode-extensions/oscarcs.dart-syntax-highlighting-only/extension/language-configuration.json
  docs/gatsby-remark-vscode-extensions/oscarcs.dart-syntax-highlighting-only/extension/logo.png
  docs/gatsby-remark-vscode-extensions/oscarcs.dart-syntax-highlighting-only/extension/package.json
  docs/gatsby-remark-vscode-extensions/oscarcs.dart-syntax-highlighting-only/extension/syntaxes/dart-language-configuration.json
  docs/gatsby-remark-vscode-extensions/oscarcs.dart-syntax-highlighting-only/extension/syntaxes/dart.json
  docs/gatsby-remark-vscode-extensions/oscarcs.dart-syntax-highlighting-only/extension/syntaxes/dart.json.license
  docs/package-lock.json
  docs/package.json
  docs/src/guides/build-output.mdx
Due: none

docs for spy
  docs/design/mobx.afdesign
  docs/src/api/reaction.mdx
  docs/src/api/spy.mdx
  docs/src/gatsby-theme-docz/index.css
  docs/src/images/mobx-counter-spy.png
  docs/src/images/spy.png
Due: none

fixing order of events
  docs/design/mobx.afdesign
  docs/src/images/spy.png
Due: none

removing the language for shell scripts (shell) in mdx files
  docs/src/development/release.mdx
  docs/src/guides/build-output.mdx
Due: none

fixing photo url
  docs/src/components/testimonials.ts
Due: none

fix and improve ListChange details for ObservableList (#490)
  mobx/lib/src/api/observable_collections/observable_list.dart
  mobx/test/observable_list_test.dart
Due: mobx

fix and improve ListChange details for ObservableList (#490) (#496)
  mobx/lib/src/api/observable_collections/observable_list.dart
  mobx/test/observable_list_test.dart
Due: mobx

version update
  mobx/CHANGELOG.md
  mobx/pubspec.yaml
Due: none

correct docs
  mobx/lib/src/api/reaction.dart
Due: mobx

update docs
  docs/src/examples/connectivity/index.mdx
Due: none

Update delay in docs (#513)
  docs/src/examples/connectivity/index.mdx
  mobx/lib/src/api/reaction.dart
Due: mobx

Template addition
  mobx_codegen/lib/src/template/store_file.dart
Due: mobx_codegen

Template addition (#518)
  mobx_codegen/lib/src/template/store_file.dart
Due: mobx_codegen

add setEmail, setPassword and setUsername actions.
  mobx_examples/lib/form/form_store.dart
Due: none

user actions instead of directly change observable
  mobx_examples/lib/form/form_widgets.dart
Due: none

add setUsername, setEmail and setPassword action.
  mobx_examples/lib/form/form_store.dart
Due: none

use actions
  mobx_examples/lib/form/form_widgets.dart
Due: none

version update
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/pubspec.yaml
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/pubspec.yaml
Due: mobx, mobx_codegen, flutter_mobx

fixing the broken test
  mobx_codegen/CHANGELOG.md
  mobx_codegen/test/data/valid_output_annotation_store_config_has_to_string.dart
Due: none

Fixed self reference while passing parent to child
  docs/src/guides/organizing-stores.mdx
Due: none

Fixed self reference while passing parent to child (#539)
  docs/src/guides/organizing-stores.mdx
Due: none

docs: Add redirect to GraphQL + MobX blog. Closes #200
  docs/src/community.mdx
Due: none

docs: Add redirect to GraphQL + MobX blog. Closes #200 (#544)
  docs/src/community.mdx
Due: none

improving pub.dev score with reformatting
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/lib/src/api/observable_collections/observable_list.dart
  mobx/pubspec.yaml
  mobx_examples/lib/connectivity/connectivity_store.g.dart
  mobx_examples/lib/counter/counter.g.dart
  mobx_examples/lib/dice/dice_counter.g.dart
  mobx_examples/lib/form/form_store.g.dart
  mobx_examples/lib/github/github_store.g.dart
  mobx_examples/lib/hackernews/news_store.g.dart
  mobx_examples/lib/main.reflectable.dart
  mobx_examples/lib/multi_counter/multi_counter_store.g.dart
  mobx_examples/lib/random_stream/random_store.g.dart
  mobx_examples/lib/settings/settings_store.g.dart
  mobx_examples/lib/todos/todo.g.dart
  mobx_examples/lib/todos/todo_list.g.dart
  mobx_examples/test/todos_test.reflectable.dart
Due: mobx

reformatting for improving pub.dev scores
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/lib/src/stateful_observer_widget.dart
  flutter_mobx/lib/src/stateless_observer_widget.dart
  flutter_mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/mobx_codegen_test.dart
Due: mobx_codegen, flutter_mobx

fixing analyzer errors
  mobx_codegen/lib/src/mobx_codegen_base.dart
Due: mobx_codegen

docs: Replace deprecated Reference
  docs/src/getting-started/index.mdx
Due: none

docs: Api Docs add optional Arguments (Reactions)
  docs/src/api/reaction.mdx
Due: none

match reaction and createReaction signatures
  mobx/lib/src/api/reaction.dart
  mobx/lib/src/core/reaction_helper.dart
Due: mobx

docs: Replace deprecated Reference (#553)
  docs/src/getting-started/index.mdx
Due: none

match reaction and createReaction signatures (#555)
  mobx/lib/src/api/reaction.dart
  mobx/lib/src/core/reaction_helper.dart
Due: mobx

Update Readme.MD
  translation/pt-BR/README.md
Due: none

Update Readme.MD (#561)
  translation/pt-BR/README.md
Due: none

Fixing a broken test due to the change in the way the build_runner generates the code
  mobx_codegen/test/data/valid_import_prefixed_output.dart
Due: none

Fixing a broken test due to the change in the way the build_runner generates the code (#570)
  mobx_codegen/test/data/valid_import_prefixed_output.dart
Due: none

Path conditions:
  mobx: any of: mobx/lib/
  mobx_codegen: any of: mobx_codegen/lib/
  flutter_mobx: any of: flutter_mobx/lib/
