Repository mobxjs/mobx.dart: changes, and which Codecov flags are due for each by the changed paths.
All: mobx, mobx_codegen, flutter_mobx

listen() subs should also receive the initialValue
  mobx/lib/src/api/async/observable_stream.dart
  mobx/test/observable_stream_test.dart
Due: mobx

Ensure ObservableStream cleans-up/closes correctly
  mobx/lib/src/api/async/observable_stream.dart
  mobx/test/observable_stream_test.dart
Due: mobx

Add method to explicitly close observable stream
  mobx/lib/src/api/async/observable_stream.dart
  mobx/test/observable_stream_test.dart
Due: mobx

Minimize diff in observable stream
  mobx/lib/src/api/async/observable_stream.dart
Due: mobx

Cancel sub if no listeners and source is a broadcast stream
  mobx/lib/src/api/async/observable_stream.dart
  mobx/test/observable_stream_test.dart
Due: mobx

Fix analyze errors
  mobx/lib/src/api/observable_collections.dart
  mobx/test/autorun_test.dart
  mobx/test/computed_test.dart
  mobx/test/observable_list_test.dart
  mobx/test/observable_stream_test.dart
  mobx/test/observable_test.dart
Due: mobx

Update observable stream docs to explain new behavior
  mobx/lib/src/api/async/observable_stream.dart
Due: mobx

Fix analyzer errors for mobx_codegen
  mobx_codegen/lib/src/type_names.dart
Due: mobx_codegen

Fix: ObservableStream.listen() should also keep observable values updated (#708)
  mobx/lib/src/api/async/observable_stream.dart
  mobx/lib/src/api/observable_collections.dart
  mobx/test/autorun_test.dart
  mobx/test/computed_test.dart
  mobx/test/observable_list_test.dart
  mobx/test/observable_stream_test.dart
  mobx/test/observable_test.dart
  mobx_codegen/lib/src/type_names.dart
Due: mobx, mobx_codegen

Added missing parameter to asyncWhen example
  mobx/lib/src/api/reaction.dart
Due: mobx

Added missing parameter to asyncWhen example (#709)
  mobx/lib/src/api/reaction.dart
Due: mobx

fix: make readonly work with computed
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/test/templates_test.dart
Due: mobx_codegen

refactor: swaps string builder for string literal
  mobx_codegen/lib/src/template/observable.dart
Due: mobx_codegen

fix: make readonly work with computed (#710)
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/test/templates_test.dart
Due: mobx_codegen

publishing new versions
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/pubspec.yaml
Due: mobx, mobx_codegen

Remove redundant brackets
  mobx/lib/src/api/observable_collections/observable_map.dart
Due: mobx

docs: adds context configuration for spies
  docs/docs/api/spy.mdx
Due: none

ci: fix pipeline
  flutter_mobx/lib/src/observer_widget_mixin.dart
  flutter_mobx/lib/src/stateful_observer_widget.dart
  flutter_mobx/test/flutter_mobx_test.dart
Due: flutter_mobx

perf: avoid calculating time on disabled spy
  mobx/lib/src/core/action.dart
Due: mobx

perf: avoid creating strings on disabled spy
  mobx/lib/src/core/atom_extensions.dart
Due: mobx

fix: mocks isSpyEnabled on tests
  mobx/test/action_controller_test.dart
  mobx/test/action_test.dart
Due: none

fix: uncomment expectations in tests
  mobx/test/action_test.dart
Due: none

ci: fix pipeline (#722)
  flutter_mobx/lib/src/observer_widget_mixin.dart
  flutter_mobx/lib/src/stateful_observer_widget.dart
  flutter_mobx/test/flutter_mobx_test.dart
Due: flutter_mobx

Remove redundant brackets (#719)
  mobx/lib/src/api/observable_collections/observable_map.dart
Due: mobx

docs: fix minor grammar issue
  docs/docs/api/spy.mdx
Due: none

fix: minor linting issue in master
  mobx/lib/src/api/observable_collections/observable_map.dart
Due: mobx

Update core concepts docs
  docs/docs/core-concepts.mdx
Due: none

Update core concepts docs (#724)
  docs/docs/core-concepts.mdx
Due: none

fixing some issues with executing the tests in mobx_codegen as well analyzer issues. Also upgraded the package versions.
  flutter_mobx/pubspec.yaml
  mobx/lib/src/api/observable_collections/observable_map.dart
  mobx/pubspec.yaml
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/all_tests.dart
  mobx_codegen/test/test_utils.dart
  mobx_codegen/test/util_test.dart
  mobx_codegen/test/utils_test.dart
Due: mobx

minor fix in parsing
  mobx/lib/src/api/observable_collections/observable_map.dart
Due: mobx

Update mobx/lib/src/core/atom_extensions.dart
  mobx/lib/src/core/atom_extensions.dart
Due: mobx

Perf/increase performance when spy is disabled (#723)
  mobx/lib/src/core/action.dart
  mobx/lib/src/core/atom_extensions.dart
  mobx/test/action_controller_test.dart
  mobx/test/action_test.dart
Due: mobx

new versions
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/pubspec.yaml
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/pubspec.yaml
Due: mobx, mobx_codegen, flutter_mobx

docs: adds context configuration for spies (#721)
  docs/docs/api/spy.mdx
Due: none

allowing publishing with included .iml file
  .gitignore
Due: none

Update observer_widget_mixin.dart
  flutter_mobx/lib/src/observer_widget_mixin.dart
Due: flutter_mobx

Update observer_widget_mixin.dart (#726)
  flutter_mobx/lib/src/observer_widget_mixin.dart
Due: flutter_mobx

allowing publishing with included .iml file
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/pubspec.yaml
Due: flutter_mobx

fixing issues with the mobx_examples
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/pubspec.yaml
  mobx_examples/analysis_options.yaml
  mobx_examples/build.yaml
  mobx_examples/lib/main.dart
  mobx_examples/lib/main.reflectable.dart
  mobx_examples/lib/todos/observable_todo_list_converter.dart
  mobx_examples/lib/todos/todo.dart
  mobx_examples/lib/todos/todo.g.dart
  mobx_examples/lib/todos/todo_list.dart
  mobx_examples/lib/todos/todo_list.g.dart
  mobx_examples/pubspec.yaml
  mobx_examples/test/todos_test.reflectable.dart
  mobx_examples/test/widget_test.dart
  package.json
Due: mobx_codegen

Path conditions:
  mobx: any of: mobx/lib/
  mobx_codegen: any of: mobx_codegen/lib/
  flutter_mobx: any of: flutter_mobx/lib/
