Repository mobxjs/mobx.dart: changes, and which Codecov flags are due for each by the changed paths.
All: mobx, mobx_codegen, flutter_mobx

codecov.yml:

coverage:
  range: 80..100
  status:
    project:
      default: off
      mobx:
        flags: mobx
      mobx_codegen:
        flags: mobx_codegen
      flutter_mobx:
        flags: flutter_mobx

flags:
  # filter the folder(s) you wish to measure by that flag
  mobx:
    # only include files in the mobx folder
    paths:
      - mobx/lib/
  mobx_codegen:
    paths:
      - mobx_codegen/lib/
  flutter_mobx:
    paths:
      - flutter_mobx/lib/

Convert imperative loop into map and use join to generate toString
  mobx_codegen/lib/src/template/store.dart
Due: mobx_codegen

Update test of toString method generation when @toString annotation is used
  mobx_codegen/test/data/valid_output_annotation_make_to_string.dart
Due: none

Convert imperative loop into map and use join to generate toString
  mobx_codegen/lib/src/template/store.dart
  mobx_codegen/test/data/valid_output_annotation_make_to_string.dart
Due: mobx_codegen

Fix ObservableMap not adding null values
  mobx/lib/src/api/observable_collections/observable_map.dart
Due: mobx

Test if adding a null key works
  mobx/test/observable_map_test.dart
Due: none

Fix ObservableMap not adding null values (#417)
  mobx/lib/src/api/observable_collections/observable_map.dart
  mobx/test/observable_map_test.dart
Due: mobx

Add @Vardiak as a contributor
  .all-contributorsrc
  README.md
Due: none

new version
  .idea/workspace.xml
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/pubspec.yaml
  package.json
Due: mobx

Change annotation from @toString to @MakeStoreConfig(makeToString: true) in tests
  mobx/test/annotations_test.dart
  mobx_codegen/test/data/valid_input_annotation_store_config_to_string.dart
  mobx_codegen/test/data/valid_output_annotation_store_config_to_string.dart
  mobx_codegen/test/mobx_codegen_test.dart
Due: none

Change annotation from @toString to @MakeStoreConfig(makeToString: true) in lib
  mobx/lib/mobx.dart
  mobx/lib/src/api/annotations.dart
  mobx_codegen/lib/src/store_class_visitor.dart
Due: mobx, mobx_codegen

Add generation of toString method with annotation @StoreConfig
  mobx/lib/mobx.dart
  mobx/lib/src/api/annotations.dart
  mobx/test/annotations_test.dart
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/test/data/valid_generic_store_input.dart
  mobx_codegen/test/data/valid_import_prefixed_input.dart
  mobx_codegen/test/data/valid_input.dart
  mobx_codegen/test/data/valid_input_annotation_store_config_has_to_string.dart
  mobx_codegen/test/data/valid_output_annotation_store_config_has_to_string.dart
  mobx_codegen/test/mobx_codegen_test.dart
Due: mobx, mobx_codegen

Corrected ObservableMap documentation
  mobx/lib/src/api/observable_collections/observable_map.dart
Due: mobx

Corrected ObservableMap documentation (#421)
  mobx/lib/src/api/observable_collections/observable_map.dart
Due: mobx

Add @geisterfurz007 as a contributor
  .all-contributorsrc
  README.md
Due: none

Remove MakeStoreConfig class because of redundancy with StoreConfig
  mobx/lib/src/api/annotations.dart
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/pubspec.yaml
Due: mobx, mobx_codegen

Change thanks to in 1.02
  mobx_codegen/CHANGELOG.md
Due: none

Uncomment show statement
  mobx/lib/mobx.dart
Due: mobx

Enclose in backticks for code formatting
  mobx/CHANGELOG.md
  mobx_codegen/CHANGELOG.md
Due: none

Rename isGenerateToStringTrue into hasGeneratedToString
  mobx_codegen/lib/src/store_class_visitor.dart
Due: mobx_codegen

Rename isToStringAnnotatedStoreClass into isStoreConfigAnnotatedStoreClass
  mobx_codegen/lib/src/store_class_visitor.dart
Due: mobx_codegen

Remove private observable and computed from toString method generation
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/template/computed.dart
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/lib/src/template/store.dart
  mobx_codegen/test/data/valid_input_annotation_store_config_has_to_string.dart
  mobx_codegen/test/data/valid_output_annotation_store_config_has_to_string.dart
Due: mobx_codegen

Rename publiccomputedsList to publicComputedsList
  mobx_codegen/lib/src/template/store.dart
Due: mobx_codegen

making links to be relative, package updates
  .idea/libraries/Flutter_Plugins.xml
  .idea/workspace.xml
  docs/package-lock.json
  docs/package.json
  docs/src/components/testimonials.ts
  docs/src/examples/connectivity/index.mdx
Due: none

fixing analyzer error
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  flutter_mobx/lib/src/observer.dart
Due: flutter_mobx

removing redirects until the domain is resolved
  .idea/workspace.xml
  netlify.toml
Due: none

fixing the bad docs build
  .idea/workspace.xml
  docs/package-lock.json
  docs/package.json
  netlify.toml
Due: none

fixing avatar
  .idea/workspace.xml
  docs/src/components/testimonials.ts
Due: none

remove redirect
  .idea/workspace.xml
  netlify.toml
Due: none

Fixes two links to mobx-dart on netlify
  README.md
Due: none

Fixes two links to mobx-dart on netlify (#424)
  README.md
Due: none

fixing links to mobx site
  .idea/workspace.xml
  docs/src/home.mdx
  translation/pt-BR/README.md
Due: none

adding sponsor link
  .idea/workspace.xml
  README.md
  docs/src/home.mdx
Due: none

Add StoreConfig annotation in mobx
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/lib/src/api/annotations.dart
  mobx/pubspec.yaml
  mobx/test/annotations_test.dart
Due: mobx

Add StoreConfig annotation in mobx (#430)
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/lib/src/api/annotations.dart
  mobx/pubspec.yaml
  mobx/test/annotations_test.dart
Due: mobx

Upgrade mobx dependencie in mobx_codegen: mobx: ^1.0.2
  mobx_codegen/pubspec.yaml
Due: none

Add hawkbee to contributors list
  .all-contributorsrc
  README.md
Due: none

Remove empty line
  mobx_codegen/pubspec.yaml
Due: none

Add generation of toString method when @tostring annotation is used (#414)
  .all-contributorsrc
  README.md
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/template/computed.dart
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/lib/src/template/rows.dart
  mobx_codegen/lib/src/template/store.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/data/valid_generic_store_input.dart
  mobx_codegen/test/data/valid_import_prefixed_input.dart
  mobx_codegen/test/data/valid_input_annotation_store_config_has_to_string.dart
  mobx_codegen/test/data/valid_output_annotation_store_config_has_to_string.dart
  mobx_codegen/test/mobx_codegen_test.dart
Due: mobx_codegen

update contributor count
  README.md
Due: none

fixing links
  .idea/workspace.xml
  README.md
  mobx_codegen/example/README.md
  translation/pt-BR/README.md
Due: none
