Repository mobxjs/mobx.dart: changes, and which Codecov flags are due for each by the changed paths.
All: mobx, mobx_codegen, flutter_mobx

codecov.yml:

coverage:
  range: 80..100
  status:
    project:
      default: off
      mobx:
        flags: mobx
      mobx_codegen:
        flags: mobx_codegen
      flutter_mobx:
        flags: flutter_mobx

flags:
  # filter the folder(s) you wish to measure by that flag
  mobx:
    # only include files in the mobx folder
    paths:
      - mobx/lib/
  mobx_codegen:
    paths:
      - mobx_codegen/lib/
  flutter_mobx:
    paths:
      - flutter_mobx/lib/

changed the link
  docs/src/core-concepts.mdx
Due: none

changed the title
  docs/src/core-concepts.mdx
Due: none

added the link of the complete code base present in git repository (#228)
  docs/src/core-concepts.mdx
Due: none

added space
  docs/src/examples/form/index.mdx
Due: none

fixed
  docs/src/examples/form/index.mdx
Due: none

added space (#230)
  docs/src/examples/form/index.mdx
Due: none

added link to code
  .idea/workspace.xml
  docs/src/guides/json-serialization.mdx
Due: none

better naming
  .idea/workspace.xml
  docs/src/guides/json-serialization.mdx
  mobx_examples/lib/todos/todo_list.dart
  mobx_examples/lib/todos/todo_list.g.dart
Due: none

fixed typos
  .idea/workspace.xml
  docs/src/guides/json-serialization.mdx
Due: none

adding svg version of logo
  .idea/workspace.xml
  docs/design/mobx.afdesign
  docs/src/images/mobx.svg
Due: none

adding favicon
  .idea/workspace.xml
  docs/src/index.html
Due: none

adding favicon
  .idea/workspace.xml
  docs/design/mobx.afdesign
  docs/src/images/mobx@2x.png
Due: none

adding favicon
  .idea/workspace.xml
  docs/doczrc.js
  docs/src/index.html
Due: none

reporting only when there is a change in set
  .idea/workspace.xml
  mobx/lib/src/api/observable_collections/observable_set.dart
Due: mobx

reporting only when there is a change in map
  .idea/workspace.xml
  mobx/lib/src/api/observable_collections/observable_map.dart
Due: mobx

version update to 0.3.4
  .idea/workspace.xml
  mobx/CHANGELOG.md
  mobx/pubspec.yaml
Due: none

bug fix for #238, version update to 0.3.5
  .idea/workspace.xml
  mobx/CHANGELOG.md
  mobx/lib/src/api/async/observable_future.dart
  mobx/pubspec.yaml
  mobx/test/observable_future_test.dart
Due: mobx

Update index.mdx
  docs/src/getting-started/index.mdx
Due: none

Update index.mdx (#242)
  docs/src/getting-started/index.mdx
Due: none

Reaction and Observer equality comparator
  mobx/lib/src/api/reaction.dart
  mobx/lib/src/core.dart
  mobx/lib/src/core/observable.dart
  mobx/lib/src/core/reaction_helper.dart
  mobx/test/observe_test.dart
  mobx/test/reaction_test.dart
Due: mobx

update links in community section
  docs/src/community.md
Due: none

remove periods
  docs/src/community.md
Due: none

Update community page (#243)
  docs/src/community.md
Due: none

refactored tests to be file driven rather than putting as strings in test files
  .idea/libraries/Dart_Packages.xml
  .idea/libraries/Flutter_Plugins.xml
  .idea/workspace.xml
  mobx_codegen/lib/src/errors.dart
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/test/data/invalid_computed_annotation.dart
  mobx_codegen/test/data/invalid_computed_output.txt
  mobx_codegen/test/data/invalid_input.dart
  mobx_codegen/test/data/invalid_observable_annotation.dart
  mobx_codegen/test/data/invalid_observable_output.txt
  mobx_codegen/test/data/invalid_output.txt
  mobx_codegen/test/data/valid_generic_store_input.dart
  mobx_codegen/test/data/valid_generic_store_output.dart
  mobx_codegen/test/data/valid_input.dart
  mobx_codegen/test/data/valid_output.dart
  mobx_codegen/test/errors_test.dart
  mobx_codegen/test/invalid_annotations_test.dart
  mobx_codegen/test/mobx_codegen_test.dart
  mobx_codegen/test/test_utils.dart
Due: mobx_codegen

fixing dart analyzer issues
  .idea/workspace.xml
  analysis_options.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/analysis_options.yaml
  mobx_codegen/lib/src/errors.dart
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/lib/src/template/action.dart
  mobx_codegen/lib/src/template/async_action.dart
  mobx_codegen/lib/src/template/computed.dart
  mobx_codegen/lib/src/template/method_override.dart
  mobx_codegen/lib/src/template/observable_future.dart
  mobx_codegen/lib/src/template/observable_stream.dart
  mobx_codegen/lib/src/template/store.dart
  mobx_codegen/lib/src/template/util.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/errors_test.dart
  mobx_codegen/test/generator_usage_test.dart
  mobx_codegen/test/mobx_codegen_test.dart
  mobx_codegen/test/templates_test.dart
  mobx_codegen/test/test_utils.dart
  mobx_examples/lib/counter/counter.g.dart
  mobx_examples/lib/form/form_store.g.dart
  mobx_examples/lib/github/github_store.g.dart
  mobx_examples/lib/hackernews/news_store.g.dart
  mobx_examples/lib/multi_counter/multi_counter_store.g.dart
  mobx_examples/lib/random_stream/random_store.g.dart
  mobx_examples/lib/random_stream/random_widgets.dart
  mobx_examples/lib/todos/todo.g.dart
  mobx_examples/lib/todos/todo_list.g.dart
Due: mobx_codegen

upgrading test_coverage
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  mobx/CHANGELOG.md
  mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/pubspec.yaml
Due: none

invalid @action checks
  .idea/workspace.xml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/src/errors.dart
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/test/data/invalid_action_multiple.dart
  mobx_codegen/test/data/invalid_action_multiple_output.txt
  mobx_codegen/test/data/invalid_computed_multiple.dart
  mobx_codegen/test/data/invalid_computed_multiple_output.txt
  mobx_codegen/test/data/invalid_computed_output.txt
  mobx_codegen/test/data/invalid_computed_single.dart
  mobx_codegen/test/data/invalid_computed_single_output.txt
  mobx_codegen/test/data/invalid_observable_multiple.dart
  mobx_codegen/test/data/invalid_observable_multiple_output.txt
  mobx_codegen/test/data/invalid_observable_output.txt
  mobx_codegen/test/data/invalid_observable_single.dart
  mobx_codegen/test/data/invalid_observable_single_output.txt
  mobx_codegen/test/invalid_annotations_test.dart
Due: mobx_codegen

fixing analyzer issues
  .idea/workspace.xml
Due: none

fixing analyzer issues
  mobx_codegen/test/invalid_annotations_test.dart
Due: none

fixing tests
  .idea/workspace.xml
  mobx_codegen/test/data/invalid_computed_multiple.dart
  mobx_codegen/test/data/invalid_computed_multiple_output.txt
  mobx_codegen/test/invalid_annotations_test.dart
Due: none

increasing coverage
  .idea/workspace.xml
  mobx_codegen/lib/src/errors.dart
Due: mobx_codegen

increasing coverage
  .idea/workspace.xml
  mobx_codegen/test/mobx_codegen_test.dart
Due: none

increasing coverage
  .idea/workspace.xml
  mobx_codegen/test/data/only_abstract_store.dart
  mobx_codegen/test/mobx_codegen_test.dart
Due: none

Add the @store annotation
  mobx/lib/mobx.dart
  mobx/lib/src/api/annotations.dart
Due: mobx

Add the @store annotation (#248)
  mobx/lib/mobx.dart
  mobx/lib/src/api/annotations.dart
Due: mobx

0.3.6-alpha
  .idea/workspace.xml
  mobx/CHANGELOG.md
  mobx/pubspec.yaml
Due: none

adding a small test for increasing coverage
  .idea/workspace.xml
  mobx/test/annotations_test.dart
Due: none

Reaction and Observer equality comparator (#241)
  mobx/lib/src/api/reaction.dart
  mobx/lib/src/core.dart
  mobx/lib/src/core/observable.dart
  mobx/lib/src/core/reaction_helper.dart
  mobx/test/observe_test.dart
  mobx/test/reaction_test.dart
Due: mobx

updated changelog
  .idea/workspace.xml
  mobx/CHANGELOG.md
  mobx/lib/src/core/reaction_helper.dart
Due: mobx
