Repository mobxjs/mobx.dart: changes, and which Codecov flags are due for each by the changed paths.
All: mobx, mobx_codegen, flutter_mobx, mobx_lint

fix: error with code generation when file has unnamed extension (#1020)
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/src/template/method_override.dart
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/lib/version.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/data/with_extension_input.dart
  mobx_codegen/test/data/with_extension_output.dart
  mobx_codegen/test/mobx_codegen_test.dart
Due: mobx_codegen

feat: add scheduler option to autorun and reaction (#979)
  mobx/CHANGELOG.md
  mobx/lib/src/api/reaction.dart
  mobx/lib/src/core/reaction_helper.dart
  mobx/lib/version.dart
  mobx/pubspec.yaml
  mobx/test/autorun_test.dart
  mobx/test/reaction_test.dart
Due: mobx

builder_with_child docs
  docs/docs/api/observers.mdx
Due: none

.obs and .toggle docs
  docs/docs/api/observable.mdx
Due: none

typo
  docs/docs/api/observable.mdx
Due: none

Revert "builder_with_child docs"
  docs/docs/api/observers.mdx
Due: none

[docs] obs(), toggle() (#1027)
  docs/docs/api/observable.mdx
Due: none

better withBuildChild
  flutter_mobx/lib/src/observer.dart
  flutter_mobx/test/flutter_mobx_test.dart
Due: flutter_mobx

docs
  docs/docs/api/observers.mdx
Due: none

rename builderWithChild parameter to builder
  docs/docs/api/observers.mdx
  flutter_mobx/lib/src/observer.dart
  flutter_mobx/test/flutter_mobx_test.dart
Due: flutter_mobx

bump ver.
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/version.dart
  flutter_mobx/pubspec.yaml
Due: flutter_mobx

bump melos
  pubspec.yaml
Due: none

remove explicit WidgetBuilder type
  flutter_mobx/test/helpers.dart
Due: none

ignore
  mobx_codegen/test/generator_usage_test.dart
Due: none

Revert "ignore"
  mobx_codegen/test/generator_usage_test.dart
Due: none

Revert "remove explicit WidgetBuilder type"
  flutter_mobx/test/helpers.dart
Due: none

upd. flutter_lints
  flutter_mobx/pubspec.yaml
Due: none

remove lib name
  flutter_mobx/lib/flutter_mobx.dart
Due: flutter_mobx

Revert "remove lib name"
  flutter_mobx/lib/flutter_mobx.dart
Due: flutter_mobx

ignore warning
  flutter_mobx/lib/flutter_mobx.dart
Due: flutter_mobx

fix unused_element
  mobx_codegen/analysis_options.yaml
  mobx_codegen/test/generator_usage_test.dart
  mobx_examples/lib/todos/todo_widgets.dart
Due: none

Fix CI/CD analyzer crashes (#1033)
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/pubspec.yaml
  mobx_codegen/analysis_options.yaml
  mobx_codegen/test/generator_usage_test.dart
  mobx_examples/lib/todos/todo_widgets.dart
Due: flutter_mobx

Revert "fix unused_element"
  mobx_codegen/analysis_options.yaml
  mobx_codegen/test/generator_usage_test.dart
  mobx_examples/lib/todos/todo_widgets.dart
Due: none

revert: ignore: unused_element
  mobx_codegen/analysis_options.yaml
  mobx_codegen/test/generator_usage_test.dart
Due: none

withBuildChild fix (#1034)
  docs/docs/api/observers.mdx
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/src/observer.dart
  flutter_mobx/lib/version.dart
  flutter_mobx/pubspec.yaml
  flutter_mobx/test/flutter_mobx_test.dart
  mobx_codegen/analysis_options.yaml
  mobx_codegen/test/generator_usage_test.dart
  pubspec.yaml
Due: flutter_mobx

fix: package upgrades, analysis issue fixes
  docs/package.json
  docs/pnpm-lock.yaml
  docs/src/components/home/BadgesSection.tsx
  flutter_mobx/test/helpers.dart
  mobx/example/pubspec.yaml
  mobx/lib/mobx.dart
  mobx/lib/src/api/action.dart
  mobx/lib/src/api/extensions/primitive_types_extensions.dart
  mobx/pubspec.yaml
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/pubspec.yaml
  mobx_lint/pubspec.yaml
Due: mobx, mobx_codegen

chore(release): publish packages
  CHANGELOG.md
  flutter_mobx/CHANGELOG.md
  flutter_mobx/pubspec.yaml
  mobx/CHANGELOG.md
  mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/pubspec.yaml
  mobx_examples/CHANGELOG.md
  mobx_examples/pubspec.yaml
  mobx_lint/CHANGELOG.md
  mobx_lint/pubspec.yaml
Due: none

fix: fixing lints in tests
  mobx_codegen/test/generator_usage_test.dart
Due: none

Upgrading packages and sdk
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/src/template/util.dart
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/util_test.dart
Due: mobx_codegen

Upgrading packages and sdk
  mobx_lint/CHANGELOG.md
  mobx_lint/pubspec.yaml
Due: none

remove preamble
  mobx_codegen/lib/src/template/util.dart
Due: mobx_codegen

Update source_gen package version
  flutter_mobx/lib/version.dart
  mobx/lib/version.dart
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/src/template/util.dart
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/lib/version.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/util_test.dart
  mobx_lint/lib/version.dart
Due: mobx, mobx_codegen, flutter_mobx, mobx_lint

Update source_gen package version
  flutter_mobx/lib/version.dart
  mobx/lib/src/core/computed.dart
  mobx/lib/version.dart
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/template/method_override.dart
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/lib/src/template/util.dart
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/lib/version.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/data/annotations_test_class_output.dart
  mobx_codegen/test/data/valid_import_prefixed_output.dart
  mobx_codegen/test/data/valid_keep_alive_computed_output.dart
  mobx_codegen/test/data/valid_late_variables_output.dart
  mobx_codegen/test/data/valid_output.dart
  mobx_codegen/test/data/valid_output_annotation_store_config_has_to_string.dart
  mobx_codegen/test/data/with_extension_input.dart
  mobx_codegen/test/data/with_extension_output.dart
  mobx_codegen/test/store_class_visitor_test.dart
  mobx_codegen/test/util_test.dart
  mobx_lint/lib/version.dart
Due: mobx, mobx_codegen, flutter_mobx, mobx_lint

fix: analyzer version constraint in changelog
  mobx_codegen/CHANGELOG.md
Due: none

Fixes #1036 Bump source_gen version (#1038)
  flutter_mobx/lib/version.dart
  mobx/lib/src/core/computed.dart
  mobx/lib/version.dart
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/template/method_override.dart
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/lib/src/template/util.dart
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/lib/version.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/data/annotations_test_class_output.dart
  mobx_codegen/test/data/valid_import_prefixed_output.dart
  mobx_codegen/test/data/valid_keep_alive_computed_output.dart
  mobx_codegen/test/data/valid_late_variables_output.dart
  mobx_codegen/test/data/valid_output.dart
  mobx_codegen/test/data/valid_output_annotation_store_config_has_to_string.dart
  mobx_codegen/test/data/with_extension_input.dart
  mobx_codegen/test/data/with_extension_output.dart
  mobx_codegen/test/store_class_visitor_test.dart
  mobx_codegen/test/util_test.dart
  mobx_lint/lib/version.dart
Due: mobx, mobx_codegen, flutter_mobx, mobx_lint

feat: added new method to collections
  mobx/lib/src/api/observable_collections/observable_list.dart
  mobx/lib/src/api/observable_collections/observable_map.dart
  mobx/lib/src/api/observable_collections/observable_set.dart
Due: mobx

feat: added tests for new method
  mobx/test/observable_list_test.dart
  mobx/test/observable_map_test.dart
  mobx/test/observable_set_test.dart
Due: none

chore: version bump
  mobx/lib/version.dart
  mobx/pubspec.yaml
Due: mobx

Update codegen to use new analyzer element2 API (>= 7.4.0), and update build_test to 3.3.0
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/template/method_override.dart
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/lib/src/template/util.dart
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/data/invalid_action_multiple_output.txt
  mobx_codegen/test/store_class_visitor_test.dart
  mobx_codegen/test/test_utils.dart
  mobx_codegen/test/util_test.dart
Due: mobx_codegen

Path conditions:
  mobx: any of: mobx/lib/
  mobx_codegen: any of: mobx_codegen/lib/
  flutter_mobx: any of: flutter_mobx/lib/
  mobx_lint: any of: mobx_lint/lib/
