Repository mobxjs/mobx.dart: changes, and which Codecov flags are due for each by the changed paths.
All: mobx, mobx_codegen, flutter_mobx

Remove `ObservableSet.linkedHashSetFrom()` and use `Set` by default (#869)
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/lib/src/api/observable_collections/observable_set.dart
  mobx/lib/version.dart
  mobx/pubspec.yaml
  mobx/test/observable_set_test.dart
Due: mobx

feat: allow a custom equals parameter for ObservableStream
  docs/docs/api/observable.mdx
  flutter_mobx/lib/version.dart
  mobx/lib/src/api/async/observable_future.dart
  mobx/lib/src/api/async/observable_stream.dart
  mobx/pubspec.yaml
  mobx/test/observable_stream_test.dart
  mobx_codegen/lib/version.dart
Due: mobx, mobx_codegen, flutter_mobx

feat: allow a custom equals parameter for ObservableStream
  mobx/CHANGELOG.md
  mobx/lib/version.dart
Due: mobx

`disableErrorBoundaries` will not only affect `Reaction`s, but also things like `Computed`s, so should say `Derivation`s to be exact (#861)
  mobx/lib/src/core/context.dart
Due: mobx

version syncing with pubspec.yaml
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/version.dart
  flutter_mobx/pubspec.yaml
  melos.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/version.dart
  mobx_codegen/pubspec.yaml
Due: mobx_codegen, flutter_mobx

simplifying set_version a bit more
  tool/expose_version.dart
Due: none

Feat: Allow a custom equals parameter for ObservableStream (#771)
  docs/docs/api/observable.mdx
  mobx/CHANGELOG.md
  mobx/lib/src/api/async/observable_future.dart
  mobx/lib/src/api/async/observable_stream.dart
  mobx/lib/version.dart
  mobx/pubspec.yaml
  mobx/test/observable_stream_test.dart
Due: mobx

get_it added as a dependency
  mobx_examples/pubspec.yaml
Due: none

get_it used as a dependency injector, inner page after login, serverside validation runs after local validation, more like a real world scenario
  mobx_examples/lib/form/form_store.dart
  mobx_examples/lib/form/form_store.g.dart
  mobx_examples/lib/form/form_widgets.dart
Due: none

update analyzer version
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/pubspec.yaml
Due: mobx_codegen

update analyzer version
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/version.dart
  mobx_codegen/pubspec.yaml
Due: mobx_codegen

Update cheat-sheet.mdx
  docs/docs/guides/cheat-sheet.mdx
Due: none

Update cheat-sheet.mdx (#878)
  docs/docs/guides/cheat-sheet.mdx
Due: none

test: fix tests in dart 2.19
  mobx/test/reaction_test.dart
Due: none

test: fix tests in dart 2.19
  mobx/CHANGELOG.md
  mobx/lib/version.dart
  mobx/pubspec.yaml
Due: mobx

test: fix tests in dart 2.19
  mobx/CHANGELOG.md
  mobx/lib/src/core.dart
  mobx/lib/src/core/atom.dart
  mobx/lib/src/core/computed.dart
  mobx/lib/src/core/context.dart
  mobx/lib/src/core/reaction.dart
Due: mobx

test: fix tests in dart 2.19 (#879)
  mobx/CHANGELOG.md
  mobx/lib/src/core.dart
  mobx/lib/src/core/atom.dart
  mobx/lib/src/core/computed.dart
  mobx/lib/src/core/context.dart
  mobx/lib/src/core/reaction.dart
  mobx/lib/version.dart
  mobx/pubspec.yaml
  mobx/test/reaction_test.dart
Due: mobx

update analyzer version to `>=4.4.0 <6.0.0` (#877)
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/lib/version.dart
  mobx_codegen/pubspec.yaml
Due: mobx_codegen

updating the github actions
  .github/workflows/build.yml
  .github/workflows/publish.yml
  flutter_mobx/melos_flutter_mobx.iml
  melos_mobx_dart.iml
  mobx/melos_mobx.iml
  tool/coverage.sh
Due: none

running dart format
  mobx/lib/mobx.dart
  mobx/lib/src/api/async/async_action.dart
  mobx/lib/src/api/async/observable_stream.dart
  mobx/lib/src/api/extensions.dart
  mobx/lib/src/api/extensions/primitive_types_extensions.dart
  mobx/test/extensions/primitive_types_extensions_test.dart
  mobx/test/observable_set_test.dart
  mobx/test/reaction_test.dart
  mobx_codegen/test/data/valid_import_prefixed_output.dart
  mobx_codegen/test/data/valid_late_variables_output.dart
  mobx_codegen/test/data/valid_output.dart
  mobx_codegen/test/errors_test.dart
  mobx_codegen/test/mobx_codegen_test.dart
  mobx_codegen/test/store_class_visitor_test.dart
Due: mobx

updating versions of mobx and mobx_codegen
  mobx/CHANGELOG.md
  mobx/lib/version.dart
  mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/version.dart
  mobx_codegen/pubspec.yaml
Due: mobx, mobx_codegen

fixed insecure link in changelog
  flutter_mobx/CHANGELOG.md
  flutter_mobx/pubspec.yaml
Due: none

fixed insecure link in changelog
  flutter_mobx/lib/version.dart
Due: flutter_mobx

add reportManualChange methods
  mobx/lib/src/api/observable_collections/observable_list.dart
  mobx/lib/src/api/observable_collections/observable_map.dart
  mobx/lib/src/api/observable_collections/observable_set.dart
  mobx/lib/src/core/observable.dart
Due: mobx

add mobx_utils
  mobx_utils/.gitignore
  mobx_utils/.metadata
  mobx_utils/CHANGELOG.md
  mobx_utils/LICENSE
  mobx_utils/README.md
  mobx_utils/analysis_options.yaml
  mobx_utils/lib/mobx_utils.dart
  mobx_utils/pubspec.yaml
  mobx_utils/pubspec_overrides.yaml
  mobx_utils/test/mobx_utils_test.dart
Due: none

formal
  mobx/CHANGELOG.md
  mobx/pubspec.yaml
Due: none

use base class
  mobx_utils/lib/mobx_utils.dart
Due: none

add comments
  mobx_utils/lib/mobx_utils.dart
Due: none

format
  mobx_utils/lib/mobx_utils.dart
Due: none

updating docs with latest versions of packages
  docs/docs/api/observable.mdx
  docs/docs/home.mdx
  docs/docusaurus.config.js
  docs/package.json
  docs/src/components/CircleBullet.tsx
  docs/src/components/Testimonial.tsx
  docs/yarn.lock
Due: none

test: action should wrap in transaction
  mobx/test/action_test.dart
Due: none

test: action should wrap in transaction (#833)
  mobx/test/action_test.dart
Due: none

feat: add observable queue
  mobx/CHANGELOG.md
  mobx/lib/src/api/observable_collections.dart
  mobx/lib/src/api/observable_collections/observable_queue.dart
  mobx/lib/version.dart
  mobx/pubspec.yaml
  mobx/test/observable_queue_test.dart
Due: mobx

feat: add observable queue
  mobx/test/all_tests.dart
Due: none

feat: add observable queue
  mobx/lib/src/api/observable_collections/observable_queue.dart
Due: mobx

test: add atom_test
  mobx/CHANGELOG.md
  mobx/lib/version.dart
  mobx/pubspec.yaml
  mobx/test/all_tests.dart
  mobx/test/atom_test.dart
Due: mobx

chore: add a version change
  mobx/CHANGELOG.md
  mobx/lib/version.dart
  mobx/pubspec.yaml
Due: mobx

Refactor atom.dart to make code cleaner (#854)
  mobx/CHANGELOG.md
  mobx/lib/src/core/atom.dart
  mobx/lib/version.dart
  mobx/pubspec.yaml
Due: mobx

gh-844 (#894)
  mobx/CHANGELOG.md
  mobx/lib/src/api/observable_collections/observable_list.dart
  mobx/lib/src/api/observable_collections/observable_map.dart
  mobx/lib/src/api/observable_collections/observable_set.dart
  mobx/lib/src/core/action.dart
  mobx/lib/src/core/atom.dart
  mobx/lib/src/core/atom_extensions.dart
  mobx/lib/src/core/computed.dart
  mobx/lib/src/core/context.dart
  mobx/lib/src/core/observable.dart
  mobx/lib/src/core/reaction.dart
  mobx/lib/src/utils.dart
  mobx/lib/version.dart
  mobx/pubspec.yaml
  mobx/test/action_test.dart
  mobx/test/all_tests.dart
  mobx/test/atom_extensions_test.dart
  mobx/test/atom_test.dart
  mobx/test/computed_test.dart
  mobx/test/observable_list_test.dart
  mobx/test/observable_map_test.dart
  mobx/test/observable_set_test.dart
  mobx/test/observable_test.dart
  mobx/test/reaction_test.dart
Due: mobx

fix: Example FormStore importing non-existent file
  mobx_examples/lib/form/form_store.dart
Due: none

Path conditions:
  mobx: any of: mobx/lib/
  mobx_codegen: any of: mobx_codegen/lib/
  flutter_mobx: any of: flutter_mobx/lib/
