Repository mobxjs/mobx.dart: changes, and which Codecov flags are due for each by the changed paths.
All: mobx, mobx_codegen, flutter_mobx

feat: Inherited annotations for actions, observables futures and observable stream
  mobx/lib/version.dart
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/template/action.dart
  mobx_codegen/lib/src/template/annotations_generator_mixin.dart
  mobx_codegen/lib/src/template/async_action.dart
  mobx_codegen/lib/src/template/observable_future.dart
  mobx_codegen/lib/src/template/observable_stream.dart
  mobx_codegen/lib/version.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/data/annotations_test_class_input.dart
  mobx_codegen/test/data/annotations_test_class_output.dart
  mobx_codegen/test/generator_usage_test.g.dart
  mobx_codegen/test/mobx_codegen_test.dart
  mobx_codegen/test/nested_store.g.dart
  mobx_codegen/test/store_with_custom_context.g.dart
  mobx_codegen/test/templates_test.dart
Due: mobx, mobx_codegen

ci: Replaces implicit-casts for strict-casts
  mobx/analysis_options.yaml
Due: none

Observer with excluded child Test
  flutter_mobx/lib/src/observer_with_excluded_child.dart
  flutter_mobx/test/flutter_mobx_test.dart
Due: flutter_mobx

melos run changelog
  flutter_mobx/CHANGELOG.md
  flutter_mobx/pubspec.yaml
Due: none

refactor: new 2 parameters in Observer instead of new widget
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/src/observer.dart
  flutter_mobx/lib/src/observer_with_excluded_child.dart
  flutter_mobx/test/flutter_mobx_test.dart
Due: flutter_mobx

better example in changelog
  flutter_mobx/CHANGELOG.md
Due: none

"Observer child not in immediate context is not rebuilt" test added
  flutter_mobx/test/flutter_mobx_test.dart
Due: none

upd. pubspec and changelog
  flutter_mobx/CHANGELOG.md
  flutter_mobx/pubspec.yaml
Due: none

better test
  flutter_mobx/test/flutter_mobx_test.dart
Due: none

even better test
  flutter_mobx/test/flutter_mobx_test.dart
Due: none

ci: remove testing using beta version
  .github/workflows/build.yml
Due: none

feat: Adds support for annotations (#904)
  mobx/analysis_options.yaml
  mobx/lib/version.dart
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/template/action.dart
  mobx_codegen/lib/src/template/annotations_generator_mixin.dart
  mobx_codegen/lib/src/template/async_action.dart
  mobx_codegen/lib/src/template/observable_future.dart
  mobx_codegen/lib/src/template/observable_stream.dart
  mobx_codegen/lib/version.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/data/annotations_test_class_input.dart
  mobx_codegen/test/data/annotations_test_class_output.dart
  mobx_codegen/test/generator_usage_test.g.dart
  mobx_codegen/test/mobx_codegen_test.dart
  mobx_codegen/test/nested_store.g.dart
  mobx_codegen/test/store_with_custom_context.g.dart
  mobx_codegen/test/templates_test.dart
  mobx_examples/lib/form/form_store.dart
Due: mobx, mobx_codegen

chore: typo
  docs/docs/examples/github/index.mdx
Due: none

chore: typo (#918)
  docs/docs/examples/github/index.mdx
Due: none

feat: allows a reaction to be fired even if the value hasn't changed.
  .github/workflows/build.yml
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/lib/src/api/annotations.dart
  mobx/lib/src/core.dart
  mobx/lib/src/core/atom_extensions.dart
  mobx/lib/version.dart
  mobx/pubspec.yaml
  mobx/test/atom_extensions_test.dart
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/generator_usage_test.dart
  mobx_codegen/test/generator_usage_test.g.dart
Due: mobx, mobx_codegen

feat: allows a reaction to be fired even if the value hasn't changed.
  mobx/test/annotations_test.dart
Due: none

feat: allows a reaction to be fired even if the value hasn't changed.
  mobx/lib/src/api/annotations.dart
Due: mobx

feat: Adds custom `equals` for creating observables. (#907)
  .github/workflows/build.yml
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/lib/src/api/annotations.dart
  mobx/lib/src/core.dart
  mobx/lib/src/core/atom_extensions.dart
  mobx/lib/version.dart
  mobx/pubspec.yaml
  mobx/test/annotations_test.dart
  mobx/test/atom_extensions_test.dart
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/generator_usage_test.dart
  mobx_codegen/test/generator_usage_test.g.dart
Due: mobx, mobx_codegen

analyzer version bump to `>=4.4.0 <6.2.0`
  mobx_codegen/CHANGELOG.md
  mobx_codegen/pubspec.yaml
Due: none

removed depricated enclosingElement3
  mobx_codegen/lib/src/type_names.dart
Due: mobx_codegen

feat: require analyzer: '>=4.4.0 <6.2.0'
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/version.dart
  mobx_codegen/pubspec.yaml
Due: mobx_codegen

feat: require analyzer: '>=4.4.0 <6.2.0'
  mobx_codegen/lib/src/template/util.dart
  mobx_codegen/test/util_test.dart
Due: mobx_codegen

feat: require `analyzer: '^5.12.0'`
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/src/template/util.dart
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/lib/version.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/util_test.dart
Due: mobx_codegen

feat: require `analyzer: '^5.12.0'`
  mobx_codegen/lib/src/template/util.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/data/valid_output_annotation_store_config_has_to_string.dart
  mobx_codegen/test/util_test.dart
Due: mobx_codegen

feat: require `analyzer: ^5.12.0` (#934)
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/src/template/util.dart
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/lib/version.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/data/valid_output_annotation_store_config_has_to_string.dart
  mobx_codegen/test/util_test.dart
Due: mobx_codegen

feat: add `MultiReactionBuilder` widget
  flutter_mobx/lib/src/reaction_builder.dart
Due: flutter_mobx

feat: add `MultiReactionBuilder` widget
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/src/multi_reaction_builder.dart
  flutter_mobx/lib/src/reaction_builder.dart
  flutter_mobx/pubspec.yaml
  flutter_mobx/test/multi_reaction_builder_test.dart
Due: flutter_mobx

feat: add `MultiReactionBuilder` widget
  flutter_mobx/test/multi_reaction_builder_test.dart
Due: none

feat: add `MultiReactionBuilder` widget
  flutter_mobx/test/all_tests.dart
Due: none

feat: add `MultiReactionBuilder` widget
  flutter_mobx/test/reaction_builder_test.dart
Due: none

feat: add `MultiReactionBuilder` widget (#917)
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/src/multi_reaction_builder.dart
  flutter_mobx/lib/src/reaction_builder.dart
  flutter_mobx/pubspec.yaml
  flutter_mobx/test/all_tests.dart
  flutter_mobx/test/multi_reaction_builder_test.dart
  flutter_mobx/test/reaction_builder_test.dart
Due: flutter_mobx

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

upgrading to new melos, version update patching
  .gitignore
  flutter_mobx/CHANGELOG.md
  flutter_mobx/flutter_mobx.iml
  flutter_mobx/lib/version.dart
  flutter_mobx/pubspec.yaml
  melos.yaml
  mobx/mobx.iml
  mobx_codegen/mobx_codegen.iml
  pubspec.yaml
Due: flutter_mobx

upgrading to new melos, version update patching
  .gitignore
Due: none

updates melos and does version patching for flutter_mobx (#943)
  .gitignore
  flutter_mobx/CHANGELOG.md
  flutter_mobx/flutter_mobx.iml
  flutter_mobx/lib/version.dart
  flutter_mobx/pubspec.yaml
  melos.yaml
  mobx/mobx.iml
  mobx_codegen/mobx_codegen.iml
  pubspec.yaml
Due: flutter_mobx

🐛 Fixes issue in ObservableList while using Iterables.
  mobx/CHANGELOG.md
  mobx/lib/src/api/observable_collections/observable_list.dart
  mobx/lib/version.dart
  mobx/pubspec.yaml
  mobx/test/observable_list_test.dart
Due: mobx

🐛 Fixes issue in ObservableList while using Iterables. (#942)
  mobx/CHANGELOG.md
  mobx/lib/src/api/observable_collections/observable_list.dart
  mobx/lib/version.dart
  mobx/pubspec.yaml
  mobx/test/observable_list_test.dart
Due: mobx

refactor: export `MultiReactionBuilder` from `flutter_mobx.dart`
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/lib/version.dart
  flutter_mobx/pubspec.yaml
Due: flutter_mobx

refactor: export `MultiReactionBuilder` from `flutter_mobx.dart`
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/version.dart
  flutter_mobx/pubspec.yaml
Due: flutter_mobx

refactor: export `MultiReactionBuilder` from `flutter_mobx.dart` (#946)
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/lib/version.dart
  flutter_mobx/pubspec.yaml
Due: flutter_mobx

Path conditions:
  mobx: any of: mobx/lib/
  mobx_codegen: any of: mobx_codegen/lib/
  flutter_mobx: any of: flutter_mobx/lib/
