Repository mobxjs/mobx.dart: changes, and which Codecov flags are due for each by the changed paths.
All: mobx, mobx_codegen, flutter_mobx

docs: add mobx_utils page
  docs/docs/guides/mobx-utils.mdx
  docs/sidebars.js
Due: none

Observer.optimized added
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/src/observer.dart
  flutter_mobx/pubspec.yaml
Due: flutter_mobx

Test added
  flutter_mobx/test/flutter_mobx_test.dart
Due: none

Changelog written
  flutter_mobx/CHANGELOG.md
Due: none

asserts
  flutter_mobx/lib/src/observer.dart
Due: flutter_mobx

set_version
  flutter_mobx/lib/version.dart
Due: flutter_mobx

fix comment
  flutter_mobx/lib/src/observer.dart
Due: flutter_mobx

revert formatting
  flutter_mobx/lib/src/observer.dart
Due: flutter_mobx

renamed optimized to withChild
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/src/observer.dart
  flutter_mobx/test/flutter_mobx_test.dart
Due: flutter_mobx

comment fix
  flutter_mobx/test/flutter_mobx_test.dart
Due: none

Observer.optimized (#952)
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/src/observer.dart
  flutter_mobx/lib/version.dart
  flutter_mobx/pubspec.yaml
  flutter_mobx/test/flutter_mobx_test.dart
Due: flutter_mobx

rename to excludedChild
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/src/observer.dart
  flutter_mobx/test/flutter_mobx_test.dart
Due: flutter_mobx

version
  flutter_mobx/lib/version.dart
  flutter_mobx/pubspec.yaml
Due: flutter_mobx

withBuiltChild
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/src/observer.dart
  flutter_mobx/test/flutter_mobx_test.dart
Due: flutter_mobx

updating docusaurus version and changing the way versions are fetched and used in Codeblocks
  docs/docs/api/observers.mdx
  docs/docs/examples/dice/index.mdx
  docs/docs/getting-started/index.mdx
  docs/docs/guides/cheat-sheet.mdx
  docs/docs/guides/json-serialization.mdx
  docs/docs/versions.js
  docs/docusaurus.config.js
  docs/package.json
  docs/plugins/fetch-versions/index.js
  docs/pnpm-lock.yaml
  docs/src/components/testimonials.ts
  docs/src/theme/CodeBlock/index.tsx
  docs/src/theme/CodeBlock/utils.ts
  docs/tsconfig.json
  docs/yarn.lock
Due: none

fix: `ObservableSet` and `ObservableMap` should not notify all listeners when `observe` with fireImmediately
  mobx/CHANGELOG.md
  mobx/lib/version.dart
  mobx/pubspec.yaml
Due: mobx

fix: `ObservableSet` and `ObservableMap` should not notify all listeners when `observe` with fireImmediately
  mobx/CHANGELOG.md
Due: none

fix: `ObservableSet` and `ObservableMap` should not notify all listeners when `observe` with fireImmediately
  mobx/lib/src/api/observable_collections/observable_map.dart
  mobx/lib/src/api/observable_collections/observable_set.dart
  mobx/test/observable_list_test.dart
  mobx/test/observable_map_test.dart
  mobx/test/observable_set_test.dart
Due: mobx

Observer excludedchild (#958)
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/src/observer.dart
  flutter_mobx/lib/version.dart
  flutter_mobx/pubspec.yaml
  flutter_mobx/test/flutter_mobx_test.dart
Due: flutter_mobx

fix: observableset and observablemap notify all listeners when one is added with fireimmediately true (#962)
  mobx/CHANGELOG.md
  mobx/lib/src/api/observable_collections/observable_map.dart
  mobx/lib/src/api/observable_collections/observable_set.dart
  mobx/lib/version.dart
  mobx/pubspec.yaml
  mobx/test/observable_list_test.dart
  mobx/test/observable_map_test.dart
  mobx/test/observable_set_test.dart
Due: mobx

Avoid unnecessary observable notifications of Iterable or Map fields
  mobx/CHANGELOG.md
  mobx/lib/src/core/atom_extensions.dart
  mobx/lib/version.dart
  mobx/pubspec.yaml
  mobx/test/atom_extensions_test.dart
Due: mobx

Avoid unnecessary observable notifications of `Iterable` or `Map` fields
  mobx/lib/src/core/atom_extensions.dart
  mobx/lib/src/core/observable.dart
  mobx/lib/src/utils.dart
Due: mobx

Avoid unnecessary observable notifications of `Iterable` or `Map` fields
  mobx/test/atom_extensions_test.dart
Due: none

Avoid unnecessary observable notifications of `Iterable` or `Map` fields
  mobx/CHANGELOG.md
Due: none

Avoid unnecessary observable notifications of `Iterable` or `Map` fields
  mobx/lib/src/core/atom_extensions.dart
  mobx/test/atom_extensions_test.dart
Due: mobx

Avoid unnecessary observable notifications of Iterable or Map fields (#951)
  mobx/CHANGELOG.md
  mobx/lib/src/core/atom_extensions.dart
  mobx/lib/src/core/observable.dart
  mobx/lib/src/utils.dart
  mobx/lib/version.dart
  mobx/pubspec.yaml
  mobx/test/atom_extensions_test.dart
Due: mobx

ci: publish action should run on the main branch
  .github/workflows/publish.yml
Due: none

ci: publish action should run on the main branch
  .github/workflows/mirror.yaml
Due: none

remove mirror action
  .github/workflows/mirror.yaml
Due: none

ci: publish action should run on the main branch (#965)
  .github/workflows/publish.yml
Due: none

docs: add mobx vs inherited model
  docs/docs/guides/mobx-vs-inherited-model.mdx
  docs/sidebars.js
Due: none

docs: use pnpm instead of yarn
  docs/README.md
Due: none

docs: use pnpm instead of yarn (#967)
  docs/README.md
Due: none

docs: add mobx vs inherited model (#966)
  docs/docs/guides/mobx-vs-inherited-model.mdx
  docs/sidebars.js
Due: none

feat: Adds `useEquatable` for creating observables
  docs/docs/api/observable.mdx
  mobx/CHANGELOG.md
  mobx/lib/src/api/annotations.dart
  mobx/lib/src/core/atom_extensions.dart
  mobx/lib/src/utils.dart
  mobx/lib/version.dart
  mobx/pubspec.yaml
  mobx/test/all_tests.dart
  mobx/test/atom_extensions_test.dart
  mobx/test/utils_test.dart
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/lib/version.dart
  mobx_codegen/pubspec.yaml
Due: mobx, mobx_codegen

feat: Added automatic generation of `==` and `hashCode` method with `@StoreConfig` annotation
  mobx/CHANGELOG.md
  mobx/lib/src/api/annotations.dart
  mobx/lib/src/api/store.dart
  mobx/lib/src/utils.dart
  mobx/lib/version.dart
  mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/template/store.dart
  mobx_codegen/lib/version.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/data/annotations_test_class_output.dart
  mobx_codegen/test/data/valid_generic_store_input.dart
  mobx_codegen/test/data/valid_import_prefixed_input.dart
  mobx_codegen/test/data/valid_input.dart
  mobx_codegen/test/data/valid_late_variables_input.dart
  mobx_codegen/test/data/valid_output_annotation_store_config_has_to_string.dart
  mobx_codegen/test/generator_usage_test.g.dart
  mobx_codegen/test/nested_store.g.dart
  mobx_codegen/test/store_class_visitor_test.dart
  mobx_codegen/test/store_with_custom_context.g.dart
Due: mobx, mobx_codegen

feat: Adds `useEquatable` for creating observables (#971)
  docs/docs/api/observable.mdx
  mobx/CHANGELOG.md
  mobx/lib/src/api/annotations.dart
  mobx/lib/src/core/atom_extensions.dart
  mobx/lib/src/utils.dart
  mobx/lib/version.dart
  mobx/pubspec.yaml
  mobx/test/all_tests.dart
  mobx/test/atom_extensions_test.dart
  mobx/test/utils_test.dart
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/lib/version.dart
  mobx_codegen/pubspec.yaml
Due: mobx, mobx_codegen

feat: support late observables
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/lib/version.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/data/valid_late_variables_output.dart
  mobx_codegen/test/generator_usage_test.dart
  mobx_codegen/test/generator_usage_test.g.dart
  mobx_codegen/test/nested_store.g.dart
  mobx_codegen/test/store_with_custom_context.g.dart
Due: mobx_codegen

Path conditions:
  mobx: any of: mobx/lib/
  mobx_codegen: any of: mobx_codegen/lib/
  flutter_mobx: any of: flutter_mobx/lib/
