Repository mobxjs/mobx.dart: changes, and which Codecov flags are due for each by the changed paths.
All: mobx, mobx_codegen, flutter_mobx

codecov.yml:

coverage:
  range: 80..100
  status:
    project:
      default: off
      mobx:
        flags: mobx
      mobx_codegen:
        flags: mobx_codegen
      flutter_mobx:
        flags: flutter_mobx

flags:
  # filter the folder(s) you wish to measure by that flag
  mobx:
    # only include files in the mobx folder
    paths:
      - mobx/lib/
  mobx_codegen:
    paths:
      - mobx_codegen/lib/
  flutter_mobx:
    paths:
      - flutter_mobx/lib/

docs on linking stores and best practices when working with mobx
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  docs/src/guides/organizing-stores.mdx
Due: none

docs on linking stores and best practices when working with mobx
  .idea/workspace.xml
  docs/src/guides/organizing-stores.mdx
Due: none

adding store lifetime doc
  .idea/workspace.xml
  docs/src/guides/organizing-stores.mdx
Due: none

docs on linking stores and best practices when working with mobx (#435)
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  docs/src/guides/organizing-stores.mdx
Due: none

replace json_serializable by dart_json_mapper
  mobx_examples/.gitignore
  mobx_examples/build.yaml
  mobx_examples/lib/connectivity/connectivity_store.dart
  mobx_examples/lib/connectivity/connectivity_store.g.dart
  mobx_examples/lib/counter/counter.dart
  mobx_examples/lib/counter/counter.g.dart
  mobx_examples/lib/dice/dice_counter.dart
  mobx_examples/lib/dice/dice_counter.g.dart
  mobx_examples/lib/form/form_store.dart
  mobx_examples/lib/form/form_store.g.dart
  mobx_examples/lib/github/github_store.dart
  mobx_examples/lib/github/github_store.g.dart
  mobx_examples/lib/hackernews/news_store.dart
  mobx_examples/lib/hackernews/news_store.g.dart
  mobx_examples/lib/main.dart
  mobx_examples/lib/multi_counter/multi_counter_store.dart
  mobx_examples/lib/multi_counter/multi_counter_store.g.dart
  mobx_examples/lib/random_stream/random_store.dart
  mobx_examples/lib/random_stream/random_store.g.dart
  mobx_examples/lib/settings/settings_store.dart
  mobx_examples/lib/settings/settings_store.g.dart
  mobx_examples/lib/todos/todo.dart
  mobx_examples/lib/todos/todo.g.dart
  mobx_examples/lib/todos/todo_list.dart
  mobx_examples/lib/todos/todo_list.g.dart
  mobx_examples/pubspec.yaml
  mobx_examples/test/todos_test.dart
Due: none

revert g parts
  mobx_examples/lib/connectivity/connectivity_store.dart
  mobx_examples/lib/connectivity/connectivity_store.g.dart
  mobx_examples/lib/counter/counter.dart
  mobx_examples/lib/counter/counter.g.dart
  mobx_examples/lib/dice/dice_counter.dart
  mobx_examples/lib/dice/dice_counter.g.dart
  mobx_examples/lib/form/form_store.dart
  mobx_examples/lib/form/form_store.g.dart
  mobx_examples/lib/github/github_store.dart
  mobx_examples/lib/github/github_store.g.dart
  mobx_examples/lib/hackernews/news_store.dart
  mobx_examples/lib/hackernews/news_store.g.dart
  mobx_examples/lib/multi_counter/multi_counter_store.dart
  mobx_examples/lib/multi_counter/multi_counter_store.g.dart
  mobx_examples/lib/random_stream/random_store.dart
  mobx_examples/lib/random_stream/random_store.g.dart
  mobx_examples/lib/settings/settings_store.dart
  mobx_examples/lib/settings/settings_store.g.dart
  mobx_examples/lib/todos/todo.dart
  mobx_examples/lib/todos/todo.g.dart
  mobx_examples/lib/todos/todo_list.dart
  mobx_examples/lib/todos/todo_list.g.dart
Due: none

update generated code with latest mobx 1.0.2
  mobx_examples/lib/connectivity/connectivity_store.g.dart
  mobx_examples/lib/counter/counter.g.dart
  mobx_examples/lib/dice/dice_counter.g.dart
  mobx_examples/lib/form/form_store.g.dart
  mobx_examples/lib/github/github_store.g.dart
  mobx_examples/lib/hackernews/news_store.g.dart
  mobx_examples/lib/multi_counter/multi_counter_store.g.dart
  mobx_examples/lib/random_stream/random_store.g.dart
  mobx_examples/lib/settings/settings_store.g.dart
  mobx_examples/lib/todos/todo.g.dart
  mobx_examples/lib/todos/todo_list.dart
  mobx_examples/lib/todos/todo_list.g.dart
Due: none

Replace json_serializable by dart_json_mapper in Examples module (#440)
  mobx_examples/.gitignore
  mobx_examples/build.yaml
  mobx_examples/lib/connectivity/connectivity_store.dart
  mobx_examples/lib/connectivity/connectivity_store.g.dart
  mobx_examples/lib/counter/counter.g.dart
  mobx_examples/lib/dice/dice_counter.dart
  mobx_examples/lib/dice/dice_counter.g.dart
  mobx_examples/lib/form/form_store.g.dart
  mobx_examples/lib/github/github_store.g.dart
  mobx_examples/lib/hackernews/news_store.g.dart
  mobx_examples/lib/main.dart
  mobx_examples/lib/multi_counter/multi_counter_store.g.dart
  mobx_examples/lib/random_stream/random_store.g.dart
  mobx_examples/lib/settings/settings_store.g.dart
  mobx_examples/lib/todos/todo.dart
  mobx_examples/lib/todos/todo.g.dart
  mobx_examples/lib/todos/todo_list.dart
  mobx_examples/lib/todos/todo_list.g.dart
  mobx_examples/pubspec.yaml
  mobx_examples/test/todos_test.dart
Due: none

working examples
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  mobx_examples/lib/connectivity/connectivity_store.g.dart
  mobx_examples/lib/counter/counter.g.dart
  mobx_examples/lib/dice/dice_counter.g.dart
  mobx_examples/lib/form/form_store.g.dart
  mobx_examples/lib/github/github_store.g.dart
  mobx_examples/lib/hackernews/news_store.g.dart
  mobx_examples/lib/multi_counter/multi_counter_store.g.dart
  mobx_examples/lib/random_stream/random_store.g.dart
  mobx_examples/lib/settings/settings_store.g.dart
  mobx_examples/lib/todos/todo.g.dart
  mobx_examples/lib/todos/todo_list.g.dart
  mobx_examples/macos/Podfile
Due: none

fixing link to translated readme on github
  .idea/workspace.xml
  mobx/README.md
Due: none

fixing link to translated readme on github
  .idea/workspace.xml
  mobx/CHANGELOG.md
  mobx/pubspec.yaml
Due: none

Update json-serialization.mdx
  docs/src/guides/json-serialization.mdx
Due: none

Update json-serialization.mdx (#445)
  docs/src/guides/json-serialization.mdx
Due: none

using the PubBadge instead of raw urls to pub.dev
  .idea/workspace.xml
  docs/package-lock.json
  docs/package.json
  docs/src/guides/json-serialization.mdx
Due: none

fixed link to Roadmap inside README.md
  .idea/workspace.xml
  mobx/CHANGELOG.md
  mobx/README.md
  mobx/pubspec.yaml
Due: none

changing private field to public (usernameCheck) as its causing dart2js to generate a self-loop for setter.
  .idea/libraries/Dart_Packages.xml
  .idea/libraries/Flutter_Plugins.xml
  .idea/workspace.xml
  mobx_examples/lib/connectivity/connectivity_store.g.dart
  mobx_examples/lib/counter/counter.g.dart
  mobx_examples/lib/dice/dice_counter.g.dart
  mobx_examples/lib/form/form_store.dart
  mobx_examples/lib/form/form_store.g.dart
  mobx_examples/lib/form/form_widgets.dart
  mobx_examples/lib/github/github_store.g.dart
  mobx_examples/lib/hackernews/news_store.g.dart
  mobx_examples/lib/multi_counter/multi_counter_store.g.dart
  mobx_examples/lib/random_stream/random_store.g.dart
  mobx_examples/lib/settings/settings_store.g.dart
  mobx_examples/lib/todos/todo.g.dart
  mobx_examples/lib/todos/todo_list.g.dart
Due: none

initial draft of spy feature
  .idea/workspace.xml
  rfc/spying-and-tracing.md
Due: none

Add missing toString to MobXCyclicReactionException
  mobx/lib/src/core.dart
Due: mobx

Add missing toString to MobXCyclicReactionException
  mobx/lib/src/core.dart
  mobx/test/exceptions_test.dart
Due: mobx

Add missing toString to MobXCyclicReactionException (#452)
  mobx/lib/src/core.dart
  mobx/test/exceptions_test.dart
Due: mobx

more detail on the benefits and some thoughts on the API
  .idea/workspace.xml
  rfc/spying-and-tracing.md
Due: none

more updates to the spec and starting with a test
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  mobx/lib/src/core.dart
  mobx/lib/src/core/computed.dart
  mobx/test/spy_test.dart
  rfc/spying-and-tracing.md
Due: mobx

uncommenting the line about setup validations
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  mobx_examples/lib/form/form_widgets.dart
Due: none

Adding the Observer around the right widget in multi-counter example
  .idea/workspace.xml
  mobx_examples/lib/multi_counter/multi_counter_store.dart
  mobx_examples/lib/multi_counter/multi_counter_widgets.dart
Due: none

adding a section clarifying why we need Observable equivalents of core data structures
  .idea/workspace.xml
  docs/src/api/observable.mdx
Due: none

spying in observable
  .idea/workspace.xml
  mobx/lib/mobx.dart
  mobx/lib/src/core.dart
  mobx/lib/src/core/context.dart
  mobx/lib/src/core/context_extensions.dart
  mobx/lib/src/core/observable.dart
  mobx/lib/src/core/spy.dart
  mobx/test/spy_test.dart
Due: mobx

Fixes #458 where exceptions were not properly reported on the console and were missing the stacktrace.
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/src/observer_widget_mixin.dart
  flutter_mobx/pubspec.yaml
  flutter_mobx/test/flutter_mobx_test.dart
  mobx/CHANGELOG.md
  mobx/lib/src/core.dart
  mobx/lib/src/core/computed.dart
  mobx/lib/src/core/context.dart
  mobx/lib/src/core/reaction.dart
  mobx/pubspec.yaml
  mobx_examples/pubspec.yaml
Due: mobx, flutter_mobx

fixing analyzer errors
  .idea/workspace.xml
  mobx/lib/src/core.dart
Due: mobx

upgrading packages
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  flutter_mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/pubspec.yaml
Due: none

improving test coverage
  .idea/workspace.xml
  mobx/CHANGELOG.md
  mobx/pubspec.yaml
  mobx/test/exceptions_test.dart
Due: none

minor grammar fix
  .idea/workspace.xml
  flutter_mobx/CHANGELOG.md
  mobx/CHANGELOG.md
Due: none

Fixes #458 where exceptions were not properly reported on the console… (#459)
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/src/observer_widget_mixin.dart
  flutter_mobx/pubspec.yaml
  flutter_mobx/test/flutter_mobx_test.dart
  mobx/CHANGELOG.md
  mobx/lib/src/core.dart
  mobx/lib/src/core/computed.dart
  mobx/lib/src/core/context.dart
  mobx/lib/src/core/reaction.dart
  mobx/pubspec.yaml
  mobx/test/exceptions_test.dart
  mobx_codegen/CHANGELOG.md
  mobx_codegen/pubspec.yaml
  mobx_examples/pubspec.yaml
Due: mobx, flutter_mobx

adding a section to point out a gotcha with the builder function of Observer
  .idea/workspace.xml
  docs/package-lock.json
  docs/package.json
  docs/src/api/reaction.mdx
Due: none

initial draft of spy feature
  rfc/spying-and-tracing.md
Due: none

more detail on the benefits and some thoughts on the API
  rfc/spying-and-tracing.md
Due: none

more updates to the spec and starting with a test
  mobx/lib/src/core/computed.dart
  mobx/test/spy_test.dart
  rfc/spying-and-tracing.md
Due: mobx

spying in observable
  mobx/lib/mobx.dart
  mobx/lib/src/core.dart
  mobx/lib/src/core/context.dart
  mobx/lib/src/core/context_extensions.dart
  mobx/lib/src/core/observable.dart
  mobx/lib/src/core/spy.dart
  mobx/test/spy_test.dart
Due: mobx

removing the ignored .idea/
  .gitignore
  .idea/libraries/Dart_Packages.xml
  .idea/libraries/Dart_SDK.xml
  .idea/libraries/Flutter_Plugins.xml
  .idea/misc.xml
  .idea/mobx.dart.iml
  .idea/modules.xml
  .idea/vcs.xml
  .idea/workspace.xml
Due: none

spying on computed values. Simplifying the code template for `@observable` fields. This considerably reduces the amount of generated code.
  mobx/lib/mobx.dart
  mobx/lib/src/core.dart
  mobx/lib/src/core/atom_extensions.dart
  mobx/lib/src/core/computed.dart
  mobx/lib/src/core/context.dart
  mobx/lib/src/core/observable.dart
  mobx/lib/src/core/spy.dart
  mobx_codegen/lib/src/template/observable.dart
  mobx_examples/lib/connectivity/connectivity_store.g.dart
  mobx_examples/lib/counter/counter.g.dart
  mobx_examples/lib/dice/dice_counter.g.dart
  mobx_examples/lib/form/form_store.g.dart
  mobx_examples/lib/github/github_store.g.dart
  mobx_examples/lib/hackernews/news_store.g.dart
  mobx_examples/lib/multi_counter/multi_counter_store.g.dart
  mobx_examples/lib/settings/settings_store.g.dart
  mobx_examples/lib/todos/todo.g.dart
  mobx_examples/lib/todos/todo_list.g.dart
Due: mobx, mobx_codegen

fixing the assert return statement
  mobx/lib/src/core/spy.dart
Due: mobx
