Repository mobxjs/mobx.dart: changes, and which Codecov flags are due for each by the changed paths.
All: mobx, mobx_codegen, flutter_mobx

codecov.yml:

coverage:
  range: 80..100
  status:
    project:
      default: off
      mobx:
        flags: mobx
      mobx_codegen:
        flags: mobx_codegen
      flutter_mobx:
        flags: flutter_mobx

flags:
  # filter the folder(s) you wish to measure by that flag
  mobx:
    # only include files in the mobx folder
    paths:
      - mobx/lib/
  mobx_codegen:
    paths:
      - mobx_codegen/lib/
  flutter_mobx:
    paths:
      - flutter_mobx/lib/

chore: format code
  mobx/lib/src/api/extensions.dart
  mobx/test/extensions/primitive_types_extensions_test.dart
Due: mobx

feat: Add `onDispose` callback to `Computed`, such that old values can be properly disposed #857
  mobx/lib/src/core/computed.dart
Due: mobx

test: add tests to `disposeValue` #857
  mobx/test/computed_test.dart
Due: none

test: add tests for "Allow users to bypass observability system for performance"
  mobx/test/computed_test.dart
  mobx/test/observable_list_test.dart
  mobx/test/observable_map_test.dart
  mobx/test/observable_set_test.dart
Due: none

feat: add `Computed.dispose` #859
  mobx/lib/src/core/computed.dart
Due: mobx

test: add tests for Computed.dispose
  mobx/test/computed_test.dart
Due: none

`disableErrorBoundaries` will not only affect `Reaction`s, but also things like `Computed`s, so should say `Derivation`s to be exact
  mobx/lib/src/core/context.dart
Due: mobx

ci: if the test fails, github action should fail. (#835)
  mobx_codegen/lib/src/type_names.dart
  tool/coverage.sh
Due: mobx_codegen

test: reproduce #855
  mobx/test/atom_extensions_test.dart
Due: none

fix: Avoid unnecessary observable notifications of `@observable` fields of `Store`s #855
  mobx/lib/src/core/atom_extensions.dart
Due: mobx

Revert "test: add tests for Computed.dispose"
  mobx/test/computed_test.dart
Due: none

Revert "feat: add `Computed.dispose` #859"
  mobx/lib/src/core/computed.dart
Due: mobx

Revert "test: add tests to `disposeValue` #857"
  mobx/test/computed_test.dart
Due: none

Revert "feat: Add `onDispose` callback to `Computed`, such that old values can be properly disposed #857"
  mobx/lib/src/core/computed.dart
Due: mobx

format code and minor change to code
  mobx/lib/src/api/async/async_action.dart
  mobx/lib/src/api/extensions/primitive_types_extensions.dart
  mobx/lib/src/core/atom.dart
Due: mobx

add Observable.nonObservableValue
  mobx/lib/src/core/observable.dart
  mobx/test/observable_test.dart
Due: mobx

fix: Reaction lacks toString, so cannot see which reaction causes the error #864
  mobx/lib/src/core/reaction.dart
  mobx/test/reaction_test.dart
Due: mobx

feat: Add StackTrace to reactions in debug mode to easily spot which reaction it is #864
  mobx/lib/src/core/context.dart
  mobx/lib/src/core/reaction.dart
  mobx/test/reaction_test.dart
Due: mobx

fix linter errors
  mobx/lib/src/core/reaction.dart
Due: mobx

add toString and debugCreationStack
  mobx/lib/src/core/action.dart
  mobx/lib/src/core/atom.dart
  mobx/lib/src/core/computed.dart
  mobx/lib/src/core/observable.dart
  mobx/lib/src/core/reaction.dart
  mobx/lib/src/utils.dart
  mobx/test/action_test.dart
  mobx/test/computed_test.dart
  mobx/test/observable_test.dart
  mobx/test/reaction_test.dart
Due: mobx

docs: added #851 discussions on ObservableList
  docs/docs/api/observable.mdx
Due: none

docs: added #851 discussions on ObservableList (#865)
  docs/docs/api/observable.mdx
Due: none

fix: #868 remove linkedHashSetFrom constructor, added tests for ordered hash set
  mobx/lib/src/api/observable_collections/observable_set.dart
  mobx/test/observable_set_test.dart
Due: mobx

fix: updated version, added changelog
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/pubspec.yaml
Due: mobx

hotfix: use Set instead of identity constructor
  mobx/lib/src/api/observable_collections/observable_set.dart
Due: mobx

Update mobx/lib/src/api/observable_collections/observable_set.dart
  mobx/lib/src/api/observable_collections/observable_set.dart
Due: mobx

fix: directly use Set
  mobx/lib/src/api/observable_collections/observable_set.dart
Due: mobx

add issue_tracker links to pubspec
  flutter_mobx/pubspec.yaml
  mobx/pubspec.yaml
  mobx_codegen/pubspec.yaml
Due: none

update changelog and pubspec files for issue tracker fix
  flutter_mobx/CHANGELOG.md
  flutter_mobx/pubspec.yaml
  mobx/CHANGELOG.md
  mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/pubspec.yaml
Due: none

add changes from running set:versions
  flutter_mobx/lib/flutter_mobx.dart
  mobx/lib/mobx.dart
  mobx_codegen/lib/mobx_codegen.dart
Due: mobx, mobx_codegen, flutter_mobx

- Integrated `melos` for development time workflow - cleaning up npm dependency to run scripts. All done via `melos`
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/lib/version.dart
  flutter_mobx/melos_flutter_mobx.iml
  flutter_mobx/pubspec_overrides.yaml
  melos.yaml
  melos_mobx_dart.iml
  mobx/lib/mobx.dart
  mobx/lib/version.dart
  mobx/melos_mobx.iml
  mobx/test/all_tests.dart
  mobx/test/observable_stream_test.dart
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/lib/version.dart
  mobx_codegen/melos_mobx_codegen.iml
  mobx_codegen/pubspec_overrides.yaml
  mobx_examples/lib/connectivity/connectivity_store.g.dart
  mobx_examples/lib/counter/counter.g.dart
  mobx_examples/lib/dice/dice_counter.g.dart
  mobx_examples/lib/form/form_store.g.dart
  mobx_examples/lib/github/github_store.g.dart
  mobx_examples/lib/hackernews/news_store.g.dart
  mobx_examples/lib/multi_counter/multi_counter_store.g.dart
  mobx_examples/lib/random_stream/random_store.g.dart
  mobx_examples/lib/settings/settings_store.g.dart
  mobx_examples/lib/todos/todo.g.dart
  mobx_examples/lib/todos/todo_list.g.dart
  mobx_examples/lib/version.dart
  mobx_examples/pubspec.yaml
  mobx_examples/pubspec_overrides.yaml
  package-lock.json
  package.json
  tool/expose_version.dart
  tool/gen.sh
  tool/pub-get-all.ts
  tsconfig.json
  yarn.lock
Due: mobx, mobx_codegen, flutter_mobx

passing tests in mobx
  mobx/test/observable_stream_test.dart
Due: none

updating docs
  docs/src/images/people/giri.jpg
Due: none

updating node version for netlify
  docs/.nvmrc
Due: none

bumping up versions to accommodate the move to version.dart
  flutter_mobx/CHANGELOG.md
  flutter_mobx/pubspec.yaml
  mobx/CHANGELOG.md
  mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/pubspec.yaml
Due: none

fixing the release file with proper formatting
  docs/docs/development/release.mdx
Due: none

removed fixes word
  mobx/CHANGELOG.md
Due: none

fix: set version using melos
  mobx/lib/mobx.dart
  mobx/lib/version.dart
Due: mobx
