Repository mobxjs/mobx.dart: changes, and which Codecov flags are due for each by the changed paths.
All: mobx, mobx_codegen, flutter_mobx, mobx_lint

Improve code formatting and update version number
  mobx/CHANGELOG.md
  mobx/lib/src/core/observable.dart
  mobx/lib/version.dart
  mobx/pubspec.yaml
  mobx/test/autorun_test.dart
Due: mobx

fixed example error
  mobx_examples/lib/dice/dice_widgets.dart
Due: none

fixed example error (#995)
  mobx_examples/lib/dice/dice_widgets.dart
Due: none

adding autowiki badge
  README.md
Due: none

trying a fix for analysis issue
  mobx_codegen/lib/src/type_names.dart
Due: mobx_codegen

package upgrades and fixing analysis errors
  flutter_mobx/pubspec.yaml
  mobx/pubspec.yaml
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/pubspec.yaml
  mobx_lint/pubspec.yaml
Due: mobx_codegen

fixing analysis errors
  mobx/test/autorun_test.dart
  mobx/test/observable_list_test.dart
  mobx/test/when_test.dart
  mobx_examples/lib/form/form_widgets.dart
  mobx_examples/lib/multi_counter/multi_counter_store.dart
  mobx_examples/lib/multi_counter/multi_counter_store.g.dart
  mobx_examples/lib/multi_counter/multi_counter_widgets.dart
Due: none

fixing analysis errors
  flutter_mobx/pubspec.yaml
  mobx/pubspec.yaml
  mobx_codegen/pubspec.yaml
Due: none

add the useDeepEquality and equals fields for code generation
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/template/observable.dart
Due: mobx_codegen

updated CHANGELOG.md and bump to 2.6.2
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/version.dart
  mobx_codegen/pubspec.yaml
Due: mobx_codegen

docs: add Japanese README
  README.md
  translation/ja-JP/README.md
  translation/pt-BR/README.md
Due: none

docs: update README.md
  translation/ja-JP/README.md
Due: none

docs: add Japanese README (#1005)
  translation/ja-JP/README.md
  translation/pt-BR/README.md
  translation/zh-CN/README.md
Due: none

docs: add Korean README
  translation/ko-KR/README.md
Due: none

docs: add Korean README
  README.md
  translation/ja-JP/README.md
  translation/ko-KR/README.md
  translation/pt-BR/README.md
  translation/zh-CN/README.md
Due: none

docs: add Korean README (#1006)
  translation/ja-JP/README.md
  translation/ko-KR/README.md
  translation/pt-BR/README.md
  translation/zh-CN/README.md
Due: none

feat: add scheduler option to autorun and reaction
  mobx/CHANGELOG.md
  mobx/lib/src/api/reaction.dart
  mobx/lib/src/core/reaction_helper.dart
  mobx/lib/version.dart
  mobx/pubspec.yaml
  mobx/test/autorun_test.dart
  mobx/test/reaction_test.dart
Due: mobx

Update README.md
  mobx_codegen/example/README.md
Due: none

Update README.md
  README.md
Due: none

Update README.md
  translation/pt-BR/README.md
Due: none

Update README.md
  translation/zh-CN/README.md
Due: none

Update README.md
  translation/ko-KR/README.md
Due: none

Update README.md
  translation/ja-JP/README.md
Due: none

[Fix] Broken Links (#1011)
  README.md
  mobx_codegen/example/README.md
  translation/ja-JP/README.md
  translation/ko-KR/README.md
  translation/pt-BR/README.md
  translation/zh-CN/README.md
Due: none

Update index.mdx
  docs/docs/examples/todos/index.mdx
Due: none

fixing analysis errors
  mobx_codegen/lib/src/type_names.dart
Due: mobx_codegen

fixing analysis errors
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/lib/version.dart
  mobx_codegen/pubspec.yaml
Due: mobx_codegen

fixing analysis errors (#1021)
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/lib/version.dart
  mobx_codegen/pubspec.yaml
Due: mobx_codegen

ci: run the CI every day at 10AM
  .github/workflows/build.yml
Due: none

fix: error with code generation when file has unnamed extension
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/src/template/method_override.dart
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/lib/version.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/data/with_extension_input.dart
  mobx_codegen/test/data/with_extension_output.dart
  mobx_codegen/test/mobx_codegen_test.dart
Due: mobx_codegen

fix: error with code generation when file has unnamed extension
  mobx_codegen/test/data/with_extension_input.dart
  mobx_codegen/test/data/with_extension_output.dart
Due: none

feat: add observable queue
  mobx/CHANGELOG.md
  mobx/lib/src/api/observable_collections.dart
  mobx/lib/src/api/observable_collections/observable_queue.dart
  mobx/lib/version.dart
  mobx/pubspec.yaml
  mobx/test/observable_queue_test.dart
Due: mobx

feat: add observable queue
  mobx/test/all_tests.dart
Due: none

feat: add observable queue
  mobx/lib/src/api/observable_collections/observable_queue.dart
Due: mobx

feat: add observable queue
  mobx/lib/src/api/observable_collections.dart
  mobx/lib/src/api/observable_collections/observable_queue.dart
Due: mobx

feat: add observable queue
  mobx/test/observable_queue_test.dart
Due: none

ci: run the CI every day at 10AM (#1022)
  .github/workflows/build.yml
Due: none

Path conditions:
  mobx: any of: mobx/lib/
  mobx_codegen: any of: mobx_codegen/lib/
  flutter_mobx: any of: flutter_mobx/lib/
  mobx_lint: any of: mobx_lint/lib/
