Repository mobxjs/mobx.dart: changes, and which Codecov flags are due for each by the changed paths.
All: mobx, mobx_codegen, flutter_mobx

codecov.yml:

coverage:
  range: 80..100
  status:
    project:
      default: off
      mobx:
        flags: mobx
      mobx_codegen:
        flags: mobx_codegen
      flutter_mobx:
        flags: flutter_mobx

flags:
  # filter the folder(s) you wish to measure by that flag
  mobx:
    # only include files in the mobx folder
    paths:
      - mobx/lib/
  mobx_codegen:
    paths:
      - mobx_codegen/lib/
  flutter_mobx:
    paths:
      - flutter_mobx/lib/

added extensions to Future, List, Set and Map
  mobx/lib/src/api/extensions.dart
  mobx/lib/src/api/extensions/observable_future_extension.dart
  mobx/lib/src/api/extensions/observable_list_extension.dart
  mobx/lib/src/api/extensions/observable_map_extension.dart
  mobx/lib/src/api/extensions/observable_set_extension.dart
Due: mobx

fix lint errors
  mobx/lib/src/api/extensions/observable_future_extension.dart
  mobx/lib/src/api/extensions/observable_list_extension.dart
  mobx/lib/src/api/extensions/observable_map_extension.dart
  mobx/lib/src/api/extensions/observable_set_extension.dart
  mobx/lib/src/api/extensions/observable_stream_extension.dart
Due: mobx

fixing a few issues in mobx_examples
  .idea/libraries/Dart_Packages.xml
  .idea/libraries/Flutter_Plugins.xml
  .idea/mobx.dart.iml
  .idea/workspace.xml
  mobx_examples/.gitignore
  mobx_examples/lib/connectivity/connectivity_store.dart
  mobx_examples/lib/github/github_store.dart
  mobx_examples/pubspec.yaml
Due: none

Suppress test error logging in absence of exception (#348)
  mobx_codegen/test/test_utils.dart
Due: none

added RectiveContext in asObservable
  mobx/lib/src/api/extensions/observable_list_extension.dart
  mobx/lib/src/api/extensions/observable_map_extension.dart
  mobx/lib/src/api/extensions/observable_set_extension.dart
Due: mobx

fixing analyzer issues in mobx_examples
  .idea/workspace.xml
  mobx_examples/lib/form/form_store.dart
  mobx_examples/lib/main.dart
  mobx_examples/lib/random_stream/random_store.dart
  mobx_examples/lib/todos/todo_widgets.dart
Due: none

Add generated test coverage badge to gitignore (#350)
  .gitignore
Due: none

Creating the web version
  mobx_examples/lib/todos/todo_list.g.dart
  mobx_examples/web/index.html
  package.json
Due: none

Add support for analyzer 0.39.x
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/pubspec.yaml
Due: mobx_codegen

change version to 0.4.0
  mobx/lib/mobx.dart
  mobx/pubspec.yaml
Due: mobx

added extension tests
  mobx/test/extensions/observable_future_extension_test.dart
  mobx/test/extensions/observable_list_extension_test.dart
  mobx/test/extensions/observable_map_extension_test.dart
  mobx/test/extensions/observable_set_extension_test.dart
  mobx/test/extensions/observable_stream_extension_test.dart
Due: none

added ObservableStream, ObservableFuture and Collections extension #345 (#346)
  mobx/lib/mobx.dart
  mobx/lib/src/api/extensions.dart
  mobx/lib/src/api/extensions/observable_future_extension.dart
  mobx/lib/src/api/extensions/observable_list_extension.dart
  mobx/lib/src/api/extensions/observable_map_extension.dart
  mobx/lib/src/api/extensions/observable_set_extension.dart
  mobx/lib/src/api/extensions/observable_stream_extension.dart
  mobx/pubspec.yaml
  mobx/test/extensions/observable_future_extension_test.dart
  mobx/test/extensions/observable_list_extension_test.dart
  mobx/test/extensions/observable_map_extension_test.dart
  mobx/test/extensions/observable_set_extension_test.dart
  mobx/test/extensions/observable_stream_extension_test.dart
Due: mobx

Add support for analyzer 0.39.x (#355)
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/pubspec.yaml
Due: mobx_codegen

package upgrades
  .idea/workspace.xml
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/pubspec.yaml
  mobx/CHANGELOG.md
  mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/pubspec.yaml
Due: mobx_codegen, flutter_mobx

Remove the @store annotation
  mobx_codegen/lib/src/errors.dart
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/template/constructor_override.dart
  mobx_codegen/lib/src/template/store.dart
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/test/data/invalid_annotated_store.dart
  mobx_codegen/test/data/invalid_annotated_store_multiple.dart
  mobx_codegen/test/data/invalid_annotated_store_multiple_output.txt
  mobx_codegen/test/data/invalid_annotated_store_output.txt
  mobx_codegen/test/data/invalid_store_declaration.dart
  mobx_codegen/test/data/invalid_store_declaration_output.txt
  mobx_codegen/test/data/valid_annotated_store_input.dart
  mobx_codegen/test/data/valid_annotated_store_output.dart
  mobx_codegen/test/data/valid_annotated_store_referencing_store_input.dart
  mobx_codegen/test/data/valid_annotated_store_referencing_store_output.dart
  mobx_codegen/test/data/valid_generic_annotated_store_input.dart
  mobx_codegen/test/data/valid_generic_annotated_store_output.dart
  mobx_codegen/test/data/valid_generic_store_input.dart
  mobx_codegen/test/data/valid_generic_store_output.dart
  mobx_codegen/test/data/valid_store_with_ui_types_input.dart
  mobx_codegen/test/data/valid_store_with_ui_types_output.dart
  mobx_codegen/test/invalid_annotations_test.dart
  mobx_codegen/test/mobx_codegen_test.dart
Due: mobx_codegen

Update pubspec.yaml
  mobx_codegen/pubspec.yaml
Due: none

Version bump
  mobx_codegen/pubspec.yaml
Due: none

better fonts :-)
  .idea/workspace.xml
  docs/doczrc.js
  docs/gatsby-browser.js
  docs/src/components/Sponsor.tsx
  docs/src/components/Testimonial.tsx
  docs/src/development/release.mdx
  docs/src/examples/connectivity/index.mdx
  docs/src/examples/random-stream/index.mdx
  docs/src/gatsby-theme-docz/components/Logo/index.js
  docs/src/gatsby-theme-docz/components/Logo/mobx.png
  docs/src/gatsby-theme-docz/components/index.js
  docs/src/gatsby-theme-docz/index.css
  docs/src/gatsby-theme-docz/index.d.ts
  docs/src/guides/json-serialization.mdx
Due: none

Dependency upgrade for mobx_codegen (with version bump) (#359)
  mobx_codegen/pubspec.yaml
Due: none

Remove the @store annotation (#349)
  mobx_codegen/lib/src/errors.dart
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/template/constructor_override.dart
  mobx_codegen/lib/src/template/store.dart
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/test/data/invalid_annotated_store.dart
  mobx_codegen/test/data/invalid_annotated_store_multiple.dart
  mobx_codegen/test/data/invalid_annotated_store_multiple_output.txt
  mobx_codegen/test/data/invalid_annotated_store_output.txt
  mobx_codegen/test/data/invalid_store_declaration.dart
  mobx_codegen/test/data/invalid_store_declaration_output.txt
  mobx_codegen/test/data/valid_annotated_store_input.dart
  mobx_codegen/test/data/valid_annotated_store_output.dart
  mobx_codegen/test/data/valid_annotated_store_referencing_store_input.dart
  mobx_codegen/test/data/valid_annotated_store_referencing_store_output.dart
  mobx_codegen/test/data/valid_generic_annotated_store_input.dart
  mobx_codegen/test/data/valid_generic_annotated_store_output.dart
  mobx_codegen/test/data/valid_generic_store_input.dart
  mobx_codegen/test/data/valid_generic_store_output.dart
  mobx_codegen/test/data/valid_store_with_ui_types_input.dart
  mobx_codegen/test/data/valid_store_with_ui_types_output.dart
  mobx_codegen/test/invalid_annotations_test.dart
  mobx_codegen/test/mobx_codegen_test.dart
Due: mobx_codegen

Use Element model to supply type names
  mobx_codegen/lib/src/errors.dart
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/template/method_override.dart
  mobx_codegen/lib/src/template/util.dart
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/test/data/valid_import_prefixed_input.dart
  mobx_codegen/test/data/valid_import_prefixed_output.dart
  mobx_codegen/test/data/valid_input.dart
  mobx_codegen/test/data/valid_output.dart
  mobx_codegen/test/data/valid_store_with_ui_types_input.dart
  mobx_codegen/test/data/valid_store_with_ui_types_output.dart
  mobx_codegen/test/errors_test.dart
  mobx_codegen/test/mobx_codegen_test.dart
Due: mobx_codegen

create readme.md pt-BR file
  translation/pt-BR/README.md
Due: none

translation done
  README.md
  mobx/README.md
  translation/pt-BR/README.md
Due: none

fix one phrase
  translation/pt-BR/README.md
Due: none

Updated Mobx dependency for flutter_mobx and updated version on the mobx_codegen.dart file
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
Due: mobx_codegen, flutter_mobx

Clean up comments
  flutter_mobx/lib/src/observer.dart
Due: flutter_mobx

style updates
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  docs/design/mobx.afdesign
  docs/doczrc.js
  docs/src/components/PubBadge.tsx
  docs/src/components/Tip.tsx
  docs/src/core-concepts.mdx
  docs/src/examples/connectivity/index.mdx
  docs/src/examples/form/index.mdx
  docs/src/examples/github/index.mdx
  docs/src/examples/hacker-news/index.mdx
  docs/src/examples/todos/index.mdx
  docs/src/gatsby-theme-docz/components/index.js
  docs/src/getting-started/end-result.png
  docs/src/getting-started/index.mdx
  docs/src/getting-started/mobx-counter.gif
  docs/src/guides/organizing-stores.mdx
  docs/src/images/images.d.ts
  docs/src/images/tip.svg
Due: none

Correct Observer debug name to point to constructing frame
  flutter_mobx/lib/src/observer.dart
  flutter_mobx/test/flutter_mobx_test.dart
Due: flutter_mobx

Updated Mobx dependency for flutter_mobx and updated version on the mobx_codegen.dart file (#364)
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
Due: mobx_codegen, flutter_mobx

Clean up comments (#362)
  flutter_mobx/lib/src/observer.dart
Due: flutter_mobx

Translate documentation to pt-BR #317 (#360)
  README.md
  mobx/README.md
  translation/pt-BR/README.md
Due: none

changelog updates
  .idea/workspace.xml
  docs/doczrc.js
  docs/src/components/PubBadge.tsx
  flutter_mobx/CHANGELOG.md
  flutter_mobx/pubspec.yaml
Due: none

changelog updates
  .idea/workspace.xml
  mobx_codegen/CHANGELOG.md
Due: none

changelog updates
  .idea/workspace.xml
  flutter_mobx/lib/flutter_mobx.dart
Due: flutter_mobx

adding release info regarding git tagging
  .idea/workspace.xml
  docs/src/development/release.mdx
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/pubspec.yaml
Due: mobx

doc updates
  .idea/workspace.xml
  docs/src/api/context.mdx
  docs/src/api/observable.mdx
  docs/src/community.md
  docs/src/gatsby-theme-docz/components/index.js
Due: none

added testimonial from Jacob
  .idea/workspace.xml
  docs/src/components/Testimonial.tsx
Due: none
