Repository mobxjs/mobx.dart: changes, and which Codecov flags are due for each by the changed paths.
All: mobx, mobx_codegen, flutter_mobx

adding a conditional action wrapper to field setters, so that plain setters do not need manual action-wrappers. This is to improve the Developer Experience.
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  mobx/CHANGELOG.md
  mobx/lib/src/core/computed.dart
  mobx/lib/src/core/context.dart
  mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/mobx_codegen_test.dart
  mobx_codegen/test/templates_test.dart
  mobx_examples/lib/counter/counter.g.dart
  mobx_examples/lib/form/form_store.g.dart
  mobx_examples/lib/github/github_store.g.dart
  mobx_examples/lib/hackernews/news_store.g.dart
  mobx_examples/lib/multi_counter/multi_counter_store.g.dart
  mobx_examples/lib/todos/todo.dart
  mobx_examples/lib/todos/todo.g.dart
  mobx_examples/lib/todos/todo_list.dart
  mobx_examples/lib/todos/todo_list.g.dart
  mobx_examples/lib/todos/todo_widgets.dart
  mobx_examples/pubspec.yaml
Due: mobx, mobx_codegen

minor API convenience to simplify the code-gen for conditional action-wrapper
  .idea/workspace.xml
  mobx/CHANGELOG.md
  mobx/lib/src/core/context.dart
  mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/pubspec.yaml
  mobx_examples/lib/counter/counter.g.dart
  mobx_examples/lib/form/form_store.g.dart
  mobx_examples/lib/github/github_store.g.dart
  mobx_examples/lib/hackernews/news_store.g.dart
  mobx_examples/lib/multi_counter/multi_counter_store.g.dart
  mobx_examples/lib/todos/todo.g.dart
  mobx_examples/lib/todos/todo_list.g.dart
Due: mobx, mobx_codegen

fixing tests in mobx_codegen
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  mobx/example/lib/counter.g.dart
  mobx/example/lib/todos.g.dart
  mobx_codegen/CHANGELOG.md
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/generator_usage_test.g.dart
  mobx_codegen/test/mobx_codegen_test.dart
  mobx_codegen/test/nested_store.g.dart
  mobx_codegen/test/templates_test.dart
Due: none

fixing tests in mobx_codegen, increasing coverage
  .idea/workspace.xml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/mobx_codegen_test.dart
Due: none

increasing coverage for mobx
  .idea/workspace.xml
  mobx/CHANGELOG.md
  mobx/lib/src/core/context.dart
  mobx/pubspec.yaml
  mobx/test/context_test.dart
  mobx/test/shared_mocks.dart
Due: mobx

Adding conditional action wrappers for collection mutating methods
  mobx/CHANGELOG.md
  mobx/lib/src/api/async/observable_future.dart
  mobx/lib/src/api/observable_collections/observable_list.dart
  mobx/lib/src/api/observable_collections/observable_map.dart
  mobx/lib/src/api/observable_collections/observable_set.dart
  mobx/pubspec.yaml
  mobx/test/context_test.dart
Due: mobx

removing a few action methods which are plain setters
  mobx_examples/lib/form/form_store.dart
  mobx_examples/lib/form/form_store.g.dart
  mobx_examples/lib/form/form_widgets.dart
Due: none

enforcement is now inside the conditional wrapper
  mobx/example/lib/counter.g.dart
  mobx/example/lib/todos.g.dart
  mobx/lib/src/api/observable_collections/observable_list.dart
  mobx/lib/src/api/observable_collections/observable_map.dart
  mobx/lib/src/api/observable_collections/observable_set.dart
  mobx/lib/src/core/context.dart
  mobx/test/context_test.dart
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/generator_usage_test.g.dart
  mobx_codegen/test/mobx_codegen_test.dart
  mobx_codegen/test/nested_store.g.dart
  mobx_codegen/test/templates_test.dart
  mobx_examples/lib/counter/counter.g.dart
  mobx_examples/lib/form/form_store.g.dart
  mobx_examples/lib/github/github_store.g.dart
  mobx_examples/lib/hackernews/news_store.g.dart
  mobx_examples/lib/multi_counter/multi_counter_store.g.dart
  mobx_examples/lib/todos/todo.g.dart
  mobx_examples/lib/todos/todo_list.g.dart
Due: mobx, mobx_codegen

Adding conditional action wrappers for collection mutating methods (#210)
  mobx/CHANGELOG.md
  mobx/example/lib/counter.g.dart
  mobx/example/lib/todos.g.dart
  mobx/lib/src/api/async/observable_future.dart
  mobx/lib/src/api/observable_collections/observable_list.dart
  mobx/lib/src/api/observable_collections/observable_map.dart
  mobx/lib/src/api/observable_collections/observable_set.dart
  mobx/lib/src/core/context.dart
  mobx/pubspec.yaml
  mobx/test/context_test.dart
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/generator_usage_test.g.dart
  mobx_codegen/test/mobx_codegen_test.dart
  mobx_codegen/test/nested_store.g.dart
  mobx_codegen/test/templates_test.dart
  mobx_examples/lib/counter/counter.g.dart
  mobx_examples/lib/form/form_store.dart
  mobx_examples/lib/form/form_store.g.dart
  mobx_examples/lib/form/form_widgets.dart
  mobx_examples/lib/github/github_store.g.dart
  mobx_examples/lib/hackernews/news_store.g.dart
  mobx_examples/lib/multi_counter/multi_counter_store.g.dart
  mobx_examples/lib/todos/todo.g.dart
  mobx_examples/lib/todos/todo_list.g.dart
Due: mobx, mobx_codegen

added link to a new article
  docs/src/community.md
Due: none

added testimonials
  docs/design/github-social-card.afdesign
  docs/package-lock.json
  docs/package.json
  docs/src/components/testimonial.tsx
  docs/src/core-concepts.mdx
  docs/src/home.mdx
  docs/src/images/mobx-isometric.png
  docs/tsconfig.json
Due: none

using Provider for todos
  mobx_examples/lib/examples.dart
  mobx_examples/lib/main.dart
  mobx_examples/lib/random_stream/random_store.dart
  mobx_examples/lib/random_stream/random_widgets.dart
  mobx_examples/lib/todos/todo_widgets.dart
Due: none

a quick writeup on the random stream using the ObservableStream<T>
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  docs/src/examples/random-number.png
  docs/src/examples/random-stream.mdx
  docs/src/examples/todos/index.mdx
  mobx_examples/lib/random_stream/random_widgets.dart
Due: none

adding a short note on provider
  .idea/workspace.xml
  docs/src/examples/random-stream/index.mdx
  docs/src/examples/random-stream/random-number.png
  docs/src/examples/todos/index.mdx
Due: none

typo fix
  .idea/workspace.xml
  docs/src/examples/todos/index.mdx
Due: none

adding testimonials
  .idea/workspace.xml
  docs/src/components/testimonial.tsx
  docs/src/home.mdx
Due: none

testimonials
  .idea/workspace.xml
  docs/src/components/testimonial.tsx
Due: none

- removing the @experimental annotations for Observable{Future,Stream} and reaction. Also removed the dependency on the `meta` package. - updating the API section on docs
  .idea/workspace.xml
  docs/src/api/observable.mdx
  mobx/CHANGELOG.md
  mobx/lib/src/api/async.dart
  mobx/lib/src/api/async/observable_future.dart
  mobx/lib/src/api/async/observable_stream.dart
  mobx/lib/src/core.dart
  mobx/lib/src/core/reaction.dart
  mobx/pubspec.yaml
  mobx/test/bug_related_test.dart
  mobx_examples/lib/random_stream/random_widgets.dart
Due: mobx

- formatting changes
  .idea/workspace.xml
  README.md
  flutter_mobx/CHANGELOG.md
  flutter_mobx/pubspec.yaml
  mobx/CHANGELOG.md
  mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/pubspec.yaml
  mobx_examples/test/todos_test.dart
Due: none

added release guidelines
  .idea/workspace.xml
  docs/doczrc.js
  docs/src/components/circle-bullet.tsx
  docs/src/development/blueprint.md
  docs/src/development/release.mdx
Due: none

adding some mobx specific tests for todos
  .idea/workspace.xml
  mobx_examples/test/todos_test.dart
Due: none

minor edits in the docs
  .idea/workspace.xml
  docs/package-lock.json
  docs/package.json
  docs/src/guides/when-does-mobx-react.mdx
Due: none

added a link to article
  .idea/workspace.xml
  docs/src/community.md
Due: none

simpler call to remove the observer
  mobx/lib/src/core/atom.dart
Due: mobx

added folder location in add store section
  docs/src/getting-started/index.mdx
Due: none

Adding an example for json_serializable with ObservableList<T>
  mobx_examples/build.yaml
  mobx_examples/lib/counter/counter.g.dart
  mobx_examples/lib/counter/counter_widgets.dart
  mobx_examples/lib/form/form_store.g.dart
  mobx_examples/lib/github/github_store.g.dart
  mobx_examples/lib/hackernews/news_store.g.dart
  mobx_examples/lib/multi_counter/multi_counter_store.g.dart
  mobx_examples/lib/todos/todo.dart
  mobx_examples/lib/todos/todo.g.dart
  mobx_examples/lib/todos/todo_list.dart
  mobx_examples/lib/todos/todo_list.g.dart
  mobx_examples/pubspec.yaml
Due: none

Adding an example for json_serializable with ObservableList<T>
  mobx_examples/lib/todos/todo_list.dart
Due: none

Adding an example for json_serializable with ObservableList<T>
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  mobx_examples/lib/todos/todo.dart
Due: none

added the link of the complete code base present in git repository
  docs/src/core-concepts.mdx
Due: none

added validators link to form example
  docs/src/examples/form/index.mdx
Due: none

completed review comment changes
  docs/src/examples/form/index.mdx
Due: none

added review comment changes
  docs/src/getting-started/index.mdx
Due: none

added review comment changes
  docs/src/core-concepts.mdx
Due: none

made lib bold
  docs/src/getting-started/index.mdx
Due: none

added folder location in add store section (#227)
  docs/src/getting-started/index.mdx
Due: none

corrected the sentence
  docs/src/examples/form/index.mdx
Due: none

added the correct link
  docs/src/examples/form/index.mdx
Due: none

added the
  docs/src/examples/form/index.mdx
Due: none

added validators link to form example (#229)
  docs/src/examples/form/index.mdx
Due: none

Adding a detailed guide about json serialization.
  .idea/workspace.xml
  docs/src/guides/json-serialization.mdx
  mobx_examples/lib/todos/todo.dart
Due: none

Path conditions:
  mobx: any of: mobx/lib/
  mobx_codegen: any of: mobx_codegen/lib/
  flutter_mobx: any of: flutter_mobx/lib/
