Repository mobxjs/mobx.dart: changes, and which Codecov flags are due for each by the changed paths.
All: mobx, mobx_codegen, flutter_mobx

removing unneeded sections
  .idea/workspace.xml
  docs/src/guides/build-output.mdx
Due: none

removing link to logo
  .idea/workspace.xml
  docs/src/community.mdx
Due: none

Correct Observer debug name to point to constructing frame (#365)
  flutter_mobx/lib/src/observer.dart
  flutter_mobx/test/flutter_mobx_test.dart
Due: flutter_mobx

publishing flutter_mobx
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/pubspec.yaml
Due: flutter_mobx

adding flutter-fav logo to mobx_codegen
  .idea/workspace.xml
  mobx_codegen/README.md
Due: none

adding flutter-fav logo to mobx_codegen
  .idea/workspace.xml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/pubspec.yaml
Due: mobx_codegen

fix for the return-type when it is generic with type-arguments
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  mobx_codegen/lib/src/template/async_action.dart
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/test/data/valid_input.dart
  mobx_codegen/test/data/valid_output.dart
  mobx_codegen/test/mobx_codegen_test.dart
  mobx_codegen/test/test_utils.dart
  mobx_examples/lib/form/form_store.g.dart
  mobx_examples/lib/hackernews/news_store.g.dart
  mobx_examples/pubspec.yaml
Due: mobx_codegen

adding a test field for #367
  .idea/workspace.xml
  mobx_codegen/test/data/valid_input.dart
  mobx_codegen/test/data/valid_output.dart
  mobx_codegen/test/mobx_codegen_test.dart
  mobx_codegen/test/test_utils.dart
Due: none

updates changelog and bumps version
  .idea/workspace.xml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/pubspec.yaml
Due: mobx_codegen

cleaning up unnecessary code branch in type extraction
  .idea/workspace.xml
  mobx_codegen/lib/src/type_names.dart
Due: mobx_codegen

Update README.md
  translation/pt-BR/README.md
Due: none

Update README.md (#369)
  translation/pt-BR/README.md
Due: none

fix for the return-type when it is generic with type-arguments (#368)
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/lib/src/template/async_action.dart
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/data/valid_input.dart
  mobx_codegen/test/data/valid_output.dart
  mobx_codegen/test/mobx_codegen_test.dart
  mobx_codegen/test/test_utils.dart
  mobx_examples/lib/form/form_store.g.dart
  mobx_examples/lib/hackernews/news_store.g.dart
  mobx_examples/pubspec.yaml
Due: mobx_codegen

Fixed typos
  translation/pt-BR/README.md
Due: none

Fixed typos (#373)
  translation/pt-BR/README.md
Due: none

Remove const instance for better coverage
  flutter_mobx/test/flutter_mobx_test.dart
Due: none

Remove const instance for better coverage (#375)
  flutter_mobx/test/flutter_mobx_test.dart
Due: none

Upgrade our minimum analyzer dependency to 0.38.5
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/pubspec.yaml
Due: mobx_codegen

Upgrade our minimum analyzer dependency to 0.38.5 (#374)
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/pubspec.yaml
Due: mobx_codegen

pubspec updates
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/pubspec.yaml
Due: mobx_codegen

pubspec updates
  .idea/workspace.xml
  mobx_codegen/CHANGELOG.md
Due: none

Use forked test_coverage for debugging failure issues
  flutter_mobx/pubspec.yaml
  mobx/pubspec.yaml
  mobx_codegen/pubspec.yaml
Due: none

Use forked test_coverage for debugging failure issues (#376)
  flutter_mobx/pubspec.yaml
  mobx/pubspec.yaml
  mobx_codegen/pubspec.yaml
Due: none

Ignore another analyzer deprecation
  mobx_codegen/lib/src/type_names.dart
Due: mobx_codegen

Add Dart/Flutter version printing to CI script
  tool/circle_run.sh
Due: none

Add Dart/Flutter version printing to CI script (#378)
  tool/circle_run.sh
Due: none

doc updates
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  docs/src/examples/todos/index.mdx
  docs/src/getting-started/index.mdx
Due: none

doc updates
  .idea/workspace.xml
  docs/src/getting-started/index.mdx
Due: none

Dice App doc Initial Commit
  docs/src/examples/dice/dice.jpg
  docs/src/examples/dice/index.mdx
Due: none

Uncommented the PubBadge import.
  docs/src/examples/dice/index.mdx
Due: none

Dice App gif added
  docs/src/examples/dice/dice.gif
  docs/src/examples/dice/dice.jpg
  docs/src/examples/dice/index.mdx
Due: none

Computed observables update
  docs/src/examples/dice/index.mdx
Due: none

Ignore another analyzer deprecation (#380)
  mobx_codegen/lib/src/type_names.dart
Due: mobx_codegen

sample test that fails type discovery
  .idea/workspace.xml
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/data/valid_input.dart
Due: none

Path conditions:
  mobx: any of: mobx/lib/
  mobx_codegen: any of: mobx_codegen/lib/
  flutter_mobx: any of: flutter_mobx/lib/
