Repository mobxjs/mobx.dart: changes, and which Codecov flags are due for each by the changed paths.
All: mobx, mobx_codegen, flutter_mobx

codecov.yml:

coverage:
  range: 80..100
  status:
    project:
      default: off
      mobx:
        flags: mobx
      mobx_codegen:
        flags: mobx_codegen
      flutter_mobx:
        flags: flutter_mobx

flags:
  # filter the folder(s) you wish to measure by that flag
  mobx:
    # only include files in the mobx folder
    paths:
      - mobx/lib/
  mobx_codegen:
    paths:
      - mobx_codegen/lib/
  flutter_mobx:
    paths:
      - flutter_mobx/lib/

WIP...migrated a few files
  mobx/lib/mobx.dart
  mobx/lib/src/core.dart
  mobx/lib/src/core/notification_handlers.dart
  mobx/lib/src/core/spy.dart
  mobx/lib/src/interceptable.dart
  mobx/lib/src/listenable.dart
  mobx/pubspec.yaml
  tool/expose_version.dart
Due: mobx

hints
  mobx/lib/src/core/context.dart
  mobx/lib/src/core/observable.dart
  mobx/lib/src/core/observable_value.dart
  mobx/lib/src/core/reaction.dart
  mobx/lib/src/interceptable.dart
  mobx/lib/src/listenable.dart
Due: mobx

hints
  mobx/lib/src/core/context.dart
Due: mobx

@dart=2.10 in tests
  mobx/test/action_controller_test.dart
  mobx/test/action_test.dart
  mobx/test/all_tests.dart
  mobx/test/annotations_test.dart
  mobx/test/async_action_test.dart
  mobx/test/autorun_test.dart
  mobx/test/bug_related_test.dart
  mobx/test/computed_test.dart
  mobx/test/context_test.dart
  mobx/test/exceptions_test.dart
  mobx/test/extensions/observable_future_extension_test.dart
  mobx/test/extensions/observable_list_extension_test.dart
  mobx/test/extensions/observable_map_extension_test.dart
  mobx/test/extensions/observable_set_extension_test.dart
  mobx/test/extensions/observable_stream_extension_test.dart
  mobx/test/intercept_test.dart
  mobx/test/listenable_test.dart
  mobx/test/observable_future_test.dart
  mobx/test/observable_list_test.dart
  mobx/test/observable_map_test.dart
  mobx/test/observable_set_test.dart
  mobx/test/observable_stream_test.dart
  mobx/test/observable_test.dart
  mobx/test/observable_value_test.dart
  mobx/test/observe_test.dart
  mobx/test/reaction_test.dart
  mobx/test/reactive_policies_test.dart
  mobx/test/shared_mocks.dart
  mobx/test/spy_test.dart
  mobx/test/util.dart
  mobx/test/when_test.dart
Due: none

migration
  mobx/lib/src/api/action.dart
  mobx/lib/src/api/async/async_action.dart
  mobx/lib/src/api/async/observable_future.dart
  mobx/lib/src/api/async/observable_stream.dart
  mobx/lib/src/api/context.dart
  mobx/lib/src/api/extensions/observable_future_extension.dart
  mobx/lib/src/api/extensions/observable_list_extension.dart
  mobx/lib/src/api/extensions/observable_map_extension.dart
  mobx/lib/src/api/extensions/observable_set_extension.dart
  mobx/lib/src/api/extensions/observable_stream_extension.dart
  mobx/lib/src/api/observable_collections/observable_list.dart
  mobx/lib/src/api/observable_collections/observable_map.dart
  mobx/lib/src/api/observable_collections/observable_set.dart
  mobx/lib/src/api/reaction.dart
  mobx/lib/src/core.dart
  mobx/lib/src/core/action.dart
  mobx/lib/src/core/atom.dart
  mobx/lib/src/core/computed.dart
  mobx/lib/src/core/context.dart
  mobx/lib/src/core/context_extensions.dart
  mobx/lib/src/core/derivation.dart
  mobx/lib/src/core/notification_handlers.dart
  mobx/lib/src/core/observable.dart
  mobx/lib/src/core/observable_value.dart
  mobx/lib/src/core/reaction.dart
  mobx/lib/src/core/reaction_helper.dart
  mobx/lib/src/core/spy.dart
  mobx/lib/src/interceptable.dart
  mobx/lib/src/listenable.dart
  mobx/pubspec.yaml
Due: mobx

Fix cheat-sheet doc (#599)
  docs/docs/guides/cheat-sheet.mdx
Due: none

WIP...more files migrated and tests being pulled into strong mode
  mobx/example/pubspec.yaml
  mobx/lib/src/api/async/async_action.dart
  mobx/lib/src/api/async/observable_stream.dart
  mobx/lib/src/api/extensions/observable_stream_extension.dart
  mobx/lib/src/api/observable_collections/observable_list.dart
  mobx/lib/src/api/observable_collections/observable_set.dart
  mobx/lib/src/core/atom.dart
  mobx/lib/src/core/context.dart
  mobx/lib/src/core/derivation.dart
  mobx/lib/src/core/reaction.dart
  mobx/lib/src/core/reaction_helper.dart
  mobx/lib/src/interceptable.dart
  mobx/lib/src/listenable.dart
  mobx/test/async_action_test.dart
  mobx/test/context_test.dart
  mobx/test/extensions/observable_future_extension_test.dart
  mobx/test/extensions/observable_list_extension_test.dart
  mobx/test/extensions/observable_map_extension_test.dart
  mobx/test/extensions/observable_set_extension_test.dart
  mobx/test/extensions/observable_stream_extension_test.dart
  mobx/test/observable_list_test.dart
  mobx/test/observable_set_test.dart
  mobx/test/observe_test.dart
  mobx/test/reaction_test.dart
  mobx/test/util.dart
  mobx_examples/pubspec.yaml
Due: mobx

more tests migrated to NNBD
  mobx/test/action_controller_test.dart
  mobx/test/action_test.dart
  mobx/test/annotations_test.dart
  mobx/test/async_action_test.dart
  mobx/test/autorun_test.dart
  mobx/test/bug_related_test.dart
  mobx/test/computed_test.dart
  mobx/test/context_test.dart
  mobx/test/exceptions_test.dart
  mobx/test/intercept_test.dart
  mobx/test/listenable_test.dart
  mobx/test/observable_future_test.dart
  mobx/test/observable_list_test.dart
  mobx/test/observable_map_test.dart
Due: none

more tests migrated to NNBD
  mobx/test/context_test.dart
  mobx/test/intercept_test.dart
  mobx/test/listenable_test.dart
  mobx/test/observable_set_test.dart
  mobx/test/observable_test.dart
  mobx/test/observable_value_test.dart
  mobx/test/observe_test.dart
  mobx/test/reaction_test.dart
  mobx/test/reactive_policies_test.dart
  mobx/test/shared_mocks.dart
  mobx/test/spy_test.dart
  mobx/test/when_test.dart
Due: none

adding todo for removing the dart lang specifier
  mobx/test/all_tests.dart
  mobx/test/context_test.dart
  mobx/test/intercept_test.dart
  mobx/test/listenable_test.dart
  mobx/test/observable_stream_test.dart
Due: none

formatting fixes
  flutter_mobx/pubspec.yaml
  mobx/CHANGELOG.md
  mobx/lib/src/api/async/observable_future.dart
  mobx/lib/src/api/observable_collections/observable_map.dart
  mobx/lib/src/core/observable.dart
  mobx/pubspec.yaml
  mobx/test/action_controller_test.dart
  mobx/test/shared_mocks.dart
Due: mobx

Minor reference update to 'GitHup Repos' example
  docs/docs/examples/github/index.mdx
Due: none

Minor reference update to 'GitHup Repos' example (#607)
  docs/docs/examples/github/index.mdx
Due: none

Fixed to get the latest version but not pre-releases
  docs/plugins/fetch-versions/index.js
Due: none

Fixes testimonials images
  docs/src/components/testimonials.ts
Due: none

Fixes testimonials images (#624)
  docs/src/components/testimonials.ts
Due: none

Fetch Version Fix (#623)
  docs/plugins/fetch-versions/index.js
Due: none

Adds support for @readonly annotation
  mobx/lib/mobx.dart
  mobx/lib/src/api/annotations.dart
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/template/observable.dart
Due: mobx, mobx_codegen

Throws an error if @readonly is set on public fields
  mobx_codegen/lib/src/errors.dart
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/test/errors_test.dart
Due: mobx_codegen

Update pubspec.yaml
  mobx_codegen/pubspec.yaml
Due: none

Removes comment from test
  mobx_codegen/test/errors_test.dart
Due: none

try to let generated code support null safety
  mobx_codegen/lib/src/type_names.dart
Due: mobx_codegen

support null safety code generation for Computed
  mobx_codegen/lib/src/template/computed.dart
Due: mobx_codegen

upgrade dependencies
  mobx_codegen/pubspec.yaml
Due: none

support "required" keyword in Action methods
  mobx_codegen/lib/src/template/method_override.dart
  mobx_codegen/lib/src/template/params.dart
Due: mobx_codegen

upgrade mobx version for codegen
  mobx_codegen/pubspec.yaml
Due: none

upgrading packages in mobx_codegen
  mobx_codegen/pubspec.yaml
Due: none

analysis fixes for null safety
  flutter_mobx/lib/src/observer.dart
  flutter_mobx/lib/src/observer_widget_mixin.dart
  flutter_mobx/lib/src/stateful_observer_widget.dart
  flutter_mobx/lib/src/stateless_observer_widget.dart
  flutter_mobx/pubspec.yaml
  flutter_mobx/test/flutter_mobx_test.dart
  mobx/pubspec.yaml
Due: flutter_mobx

more analysis fixes
  mobx/analysis_options.yaml
  mobx/lib/src/api/observable_collections/observable_map.dart
  mobx/test/observable_list_test.dart
  mobx/test/observable_stream_test.dart
  mobx/test/reaction_test.dart
  mobx/test/shared_mocks.dart
Due: mobx

relaxing fatal-infos
  .github/workflows/build.yml
Due: none

Throws error on public setter with same name as a @readonly field
  mobx_codegen/lib/src/errors.dart
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/lib/src/utils/non_private_name_extension.dart
  mobx_codegen/test/data/invalid_multiple_setter_on_readonly_observable_input copy.dart
  mobx_codegen/test/data/invalid_multiple_setter_on_readonly_observable_output.text
  mobx_codegen/test/data/invalid_single_setter_on_readonly_observable_input.dart
  mobx_codegen/test/data/invalid_single_setter_on_readonly_observable_output.text
  mobx_codegen/test/errors_test.dart
  mobx_codegen/test/invalid_annotations_test.dart
  mobx_codegen/test/utils_test.dart
Due: mobx_codegen

change outputs of tests to be consistent with null safety
  mobx_codegen/test/data/valid_import_prefixed_output.dart
  mobx_codegen/test/data/valid_output.dart
  mobx_codegen/test/data/valid_output_annotation_store_config_has_to_string.dart
  mobx_codegen/test/templates_test.dart
Due: none

add tests about null safety and pass them
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/test/data/valid_generic_store_input.dart
  mobx_codegen/test/data/valid_generic_store_output.dart
  mobx_codegen/test/data/valid_import_prefixed_input.dart
  mobx_codegen/test/data/valid_import_prefixed_output.dart
  mobx_codegen/test/data/valid_input.dart
  mobx_codegen/test/data/valid_input_annotation_store_config_has_to_string.dart
  mobx_codegen/test/data/valid_output.dart
  mobx_codegen/test/data/valid_output_annotation_store_config_has_to_string.dart
  mobx_codegen/test/test_utils.dart
Due: mobx_codegen

fixing analysis errors in mobx
  analysis_options.yaml
  mobx/pubspec.yaml
  mobx/test/all_tests.dart
  mobx/test/all_tests.mocks.dart
Due: none

trying to get past the analyze step on Github actions
  .github/workflows/build.yml
  analysis_options.yaml
  mobx/analysis_options.yaml
Due: none

add more tests on null safety
  mobx_codegen/test/data/valid_generic_store_input.dart
  mobx_codegen/test/data/valid_generic_store_output.dart
  mobx_codegen/test/data/valid_import_prefixed_input.dart
  mobx_codegen/test/data/valid_import_prefixed_output.dart
Due: none

fixing analysis errors in mobx_codegen
  mobx_codegen/lib/src/type_names.dart
Due: mobx_codegen

adding todo to remind myself
  mobx/analysis_options.yaml
Due: none
