Repository mobxjs/mobx.dart: changes, and which Codecov flags are due for each by the changed paths.
All: mobx, mobx_codegen, flutter_mobx

codecov.yml:

coverage:
  range: 80..100
  status:
    project:
      default: off
      mobx:
        flags: mobx
      mobx_codegen:
        flags: mobx_codegen
      flutter_mobx:
        flags: flutter_mobx

flags:
  # filter the folder(s) you wish to measure by that flag
  mobx:
    # only include files in the mobx folder
    paths:
      - mobx/lib/
  mobx_codegen:
    paths:
      - mobx_codegen/lib/
  flutter_mobx:
    paths:
      - flutter_mobx/lib/

close off brackets correctly in organising stores page (#283)
  docs/src/guides/organizing-stores.mdx
Due: none

fixing RegExp to ensure only the starting '_' is replaced
  .idea/workspace.xml
  mobx_codegen/lib/src/mobx_codegen_base.dart
Due: mobx_codegen

Better error reporting for Store classes that don't meet constraints (#278)
  .idea/workspace.xml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/src/errors.dart
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/data/invalid_annotated_store.dart
  mobx_codegen/test/data/invalid_annotated_store_multiple.dart
  mobx_codegen/test/data/invalid_annotated_store_multiple_output.txt
  mobx_codegen/test/data/invalid_annotated_store_output.txt
  mobx_codegen/test/data/invalid_mixin_store.dart
  mobx_codegen/test/data/invalid_mixin_store_output.txt
  mobx_codegen/test/data/invalid_store_declaration_output.txt
  mobx_codegen/test/invalid_annotations_test.dart
  mobx_codegen/test/mobx_codegen_test.dart
  mobx_codegen/test/test_utils.dart
Due: mobx_codegen

package updates...need to update the configuration to match v2
  .idea/workspace.xml
  docs/package-lock.json
  docs/package.json
Due: none

changed description
  docs/doczrc.js
Due: none

reset error context when starting validation
  flutter_mobx_forms/lib/src/field_state.dart
Due: none

Throw errors that occur during Observer.setState
  flutter_mobx/lib/src/observer.dart
Due: flutter_mobx

Report errors that occur during Observer.setState
  flutter_mobx/lib/src/observer.dart
  flutter_mobx/test/flutter_mobx_test.dart
Due: flutter_mobx

Report errors that occur during Observer.setState (#285)
  flutter_mobx/lib/src/observer.dart
  flutter_mobx/test/flutter_mobx_test.dart
Due: flutter_mobx

flutter_mobx updated to 0.3.2
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  flutter_mobx/CHANGELOG.md
  flutter_mobx/pubspec.yaml
Due: none

Fix a case where an unknown parameter type is missed
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/test/data/valid_annotated_store_referencing_store_input.dart
  mobx_codegen/test/data/valid_annotated_store_referencing_store_output.dart
  mobx_codegen/test/data/valid_store_with_ui_types_input.dart
  mobx_codegen/test/data/valid_store_with_ui_types_output.dart
Due: mobx_codegen

Fix a case where an unknown parameter type is missed (#287)
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/test/data/valid_annotated_store_referencing_store_input.dart
  mobx_codegen/test/data/valid_annotated_store_referencing_store_output.dart
  mobx_codegen/test/data/valid_store_with_ui_types_input.dart
  mobx_codegen/test/data/valid_store_with_ui_types_output.dart
Due: mobx_codegen

Bump codegen version to 0.3.8
  mobx_codegen/CHANGELOG.md
  mobx_codegen/pubspec.yaml
Due: none

package updates
  .idea/workspace.xml
  mobx_examples/pubspec.yaml
Due: none

package updates
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  docs/package-lock.json
  docs/package.json
  docs/src/getting-started/index.mdx
  package-lock.json
Due: none

package updates
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  docs/package-lock.json
  docs/package.json
Due: none

updating with some changes with initial load of preferences
  .idea/workspace.xml
  mobx_examples/lib/form/form_store.g.dart
  mobx_examples/lib/main.dart
  mobx_examples/lib/multi_counter/multi_counter_store.g.dart
  mobx_examples/lib/settings/preferences_service.dart
  mobx_examples/lib/settings/settings_store.dart
  mobx_examples/lib/settings/settings_store.g.dart
  mobx_examples/test/widget_test.dart
Due: none

fixing analyzer issues
  .idea/workspace.xml
  docs/design/mobx.afdesign
  mobx/lib/src/api/async/observable_stream.dart
Due: mobx

Your's should be yours
  docs/src/getting-started/index.mdx
Due: none

Your's should be yours (#294)
  docs/src/getting-started/index.mdx
Due: none

add a test for ensuring ObservableMap reacts when a new key is added
  .idea/libraries/Dart_Packages.xml
  .idea/libraries/Dart_SDK.xml
  .idea/libraries/Flutter_Plugins.xml
  .idea/workspace.xml
  mobx.iml
  mobx/test/observable_map_test.dart
Due: none

fixing lint error
  .idea/jsLibraryMappings.xml
  .idea/libraries/Dart_Packages.xml
  .idea/libraries/Flutter_Plugins.xml
  .idea/workspace.xml
  mobx/test/observable_map_test.dart
Due: none

upgrading packages
  .idea/workspace.xml
  docs/package-lock.json
  docs/package.json
Due: none

Create version exposure tool
  docs/src/development/release.mdx
  tool/expose_version.dart
Due: none

Run expose_version.dart for the first time
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/test/flutter_mobx_test.dart
  mobx/lib/mobx.dart
  mobx/test/bug_related_test.dart
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/test/mobx_codegen_test.dart
Due: mobx, mobx_codegen, flutter_mobx

Fix broken tests
  flutter_mobx/lib/src/observer.dart
  mobx/test/observable_future_test.dart
Due: flutter_mobx

Expose versions (#295)
  docs/src/development/release.mdx
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/lib/src/observer.dart
  flutter_mobx/test/flutter_mobx_test.dart
  mobx/lib/mobx.dart
  mobx/test/bug_related_test.dart
  mobx/test/observable_future_test.dart
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/test/mobx_codegen_test.dart
  tool/expose_version.dart
Due: mobx, mobx_codegen, flutter_mobx

packages now include a version string that matches the pubspec.yaml
  .idea/libraries/Dart_Packages.xml
  .idea/libraries/Dart_SDK.xml
  .idea/libraries/Flutter_Plugins.xml
  .idea/mobx.dart.iml
  .idea/workspace.xml
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/pubspec.yaml
  mobx/lib/mobx.dart
  mobx/pubspec.yaml
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/pubspec.yaml
  package.json
Due: mobx, mobx_codegen, flutter_mobx

updated docs for release to include the npm script
  .idea/workspace.xml
  docs/src/development/release.mdx
Due: none

update docs
  .idea/workspace.xml
  docs/src/development/release.mdx
  docs/src/getting-started/index.mdx
Due: none

update docs
  .idea/workspace.xml
  docs/src/getting-started/index.mdx
Due: none

update docs
  .idea/workspace.xml
  docs/src/development/release.mdx
Due: none

updated changelogs
  .idea/workspace.xml
  flutter_mobx/CHANGELOG.md
  mobx/CHANGELOG.md
  mobx_codegen/CHANGELOG.md
Due: none

fixing lint errors
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  flutter_mobx/test/flutter_mobx_test.dart
  mobx/test/autorun_test.dart
  mobx/test/observable_future_test.dart
  mobx/test/reaction_test.dart
  mobx/test/when_test.dart
  mobx_examples/lib/clock/clock.dart
  mobx_examples/lib/form/form_store.dart
  mobx_examples/lib/form/form_widgets.dart
  mobx_examples/lib/main.dart
  mobx_examples/lib/random_stream/random_store.dart
  mobx_examples/lib/settings/preferences_service.dart
  mobx_examples/lib/settings/settings_store.dart
  mobx_examples/test/widget_test.dart
Due: none

package updates
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/pubspec.yaml
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/pubspec.yaml
Due: mobx, mobx_codegen, flutter_mobx

using the new ToggleButtons in 1.9
  .idea/workspace.xml
  mobx_examples/lib/todos/todo_widgets.dart
Due: none

Support parameters without type annotations
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/test/data/valid_input.dart
  mobx_codegen/test/data/valid_output.dart
Due: mobx_codegen

Support parameters without type annotations (#299)
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/test/data/valid_input.dart
  mobx_codegen/test/data/valid_output.dart
Due: mobx_codegen
