Repository mobxjs/mobx.dart: changes, and which Codecov flags are due for each by the changed paths.
All: mobx, mobx_codegen, flutter_mobx

codecov.yml:

coverage:
  range: 80..100
  status:
    project:
      default: off
      mobx:
        flags: mobx
      mobx_codegen:
        flags: mobx_codegen
      flutter_mobx:
        flags: flutter_mobx

flags:
  # filter the folder(s) you wish to measure by that flag
  mobx:
    # only include files in the mobx folder
    paths:
      - mobx/lib/
  mobx_codegen:
    paths:
      - mobx_codegen/lib/
  flutter_mobx:
    paths:
      - flutter_mobx/lib/

asserts for validation and added the ValidationPolicy
  .idea/workspace.xml
  flutter_mobx_forms/lib/src/form_field.dart
Due: none

Update flutter_mobx_forms/lib/src/form_field.dart
  flutter_mobx_forms/lib/src/form_field.dart
Due: none

removed some redundant code around try-catch-finally block
  .idea/workspace.xml
  flutter_mobx_forms/lib/src/form_field.dart
Due: none

still feeling the API. Added validation support with ValidationPolicy
  .idea/workspace.xml
  flutter_mobx_forms/lib/src/form_field.dart
Due: none

simplified error field
  .idea/workspace.xml
  flutter_mobx_forms/lib/src/form_field.dart
  flutter_mobx_forms/lib/src/form_field.g.dart
Due: none

changes based on ErrorContext
  .idea/workspace.xml
  flutter_mobx_forms/lib/src/error_context.dart
  flutter_mobx_forms/lib/src/form_field.dart
  flutter_mobx_forms/lib/src/form_field.g.dart
Due: none

FormField ==> FieldState renaming
  .idea/workspace.xml
  flutter_mobx_forms/lib/src/field_state.dart
  flutter_mobx_forms/lib/src/field_state.g.dart
Due: none

using the location of the file as the default name of the Observer, when not provided
  .idea/libraries/Dart_Packages.xml
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/src/observer.dart
  flutter_mobx/pubspec.yaml
Due: flutter_mobx

trying out a StackTrace based approach to name the Observer
  .idea/workspace.xml
  flutter_mobx/lib/src/observer.dart
  flutter_mobx/test/flutter_mobx_test.dart
Due: flutter_mobx

correct assertion
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  flutter_mobx_forms/lib/src/field_state.dart
Due: none

fixing analyzer issue
  .idea/workspace.xml
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/src/observer.dart
Due: flutter_mobx

fixing analyzer issue
  .idea/workspace.xml
  flutter_mobx/test/flutter_mobx_test.dart
Due: none

docs update
  .idea/workspace.xml
  flutter_mobx/CHANGELOG.md
  flutter_mobx/README.md
  flutter_mobx/pubspec.yaml
Due: none

Fix @store super call to referenced named constructors
  mobx_codegen/lib/src/template/constructor_override.dart
  mobx_codegen/test/data/valid_annotated_store_output.dart
Due: mobx_codegen

Fix @store super call to referenced named constructors (#271)
  mobx_codegen/lib/src/template/constructor_override.dart
  mobx_codegen/test/data/valid_annotated_store_output.dart
Due: mobx_codegen

Output a single ignore_for_file per store file
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/lib/src/template/store.dart
  mobx_codegen/lib/src/template/store_file.dart
Due: mobx_codegen

Fix lints
  mobx_codegen/lib/src/template/store.dart
Due: mobx_codegen

Add support for codegen of "unknown" type names
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/lib/src/template/method_override.dart
  mobx_codegen/lib/src/template/util.dart
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/test/data/valid_annotated_store_input.dart
  mobx_codegen/test/data/valid_annotated_store_output.dart
  mobx_codegen/test/data/valid_annotated_store_referencing_store_input.dart
  mobx_codegen/test/data/valid_annotated_store_referencing_store_output.dart
  mobx_codegen/test/data/valid_store_with_ui_types_input.dart
  mobx_codegen/test/data/valid_store_with_ui_types_output.dart
  mobx_codegen/test/mobx_codegen_test.dart
Due: mobx_codegen

Improve test coverage
  mobx_codegen/test/data/valid_annotated_store_referencing_store_input.dart
Due: none

Increase code coverage
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/test/data/valid_annotated_store_referencing_store_input.dart
  mobx_codegen/test/data/valid_annotated_store_referencing_store_output.dart
Due: mobx_codegen

Add support for codegen of "unknown" type names (#273)
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/lib/src/template/method_override.dart
  mobx_codegen/lib/src/template/util.dart
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/test/data/valid_annotated_store_input.dart
  mobx_codegen/test/data/valid_annotated_store_output.dart
  mobx_codegen/test/data/valid_annotated_store_referencing_store_input.dart
  mobx_codegen/test/data/valid_annotated_store_referencing_store_output.dart
  mobx_codegen/test/data/valid_store_with_ui_types_input.dart
  mobx_codegen/test/data/valid_store_with_ui_types_output.dart
  mobx_codegen/test/mobx_codegen_test.dart
Due: mobx_codegen

Inherit @required annotations in overidden methods
  mobx_codegen/lib/src/template/method_override.dart
  mobx_codegen/lib/src/template/params.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/data/valid_input.dart
  mobx_codegen/test/data/valid_output.dart
  mobx_codegen/test/data/valid_store_with_ui_types_input.dart
  mobx_codegen/test/data/valid_store_with_ui_types_output.dart
Due: mobx_codegen

package updates
  .idea/workspace.xml
  flutter_mobx/lib/src/observer.dart
  mobx/CHANGELOG.md
  mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/pubspec.yaml
Due: flutter_mobx

Inherit @required annotations in overidden methods (#274)
  mobx_codegen/lib/src/template/method_override.dart
  mobx_codegen/lib/src/template/params.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/data/valid_input.dart
  mobx_codegen/test/data/valid_output.dart
  mobx_codegen/test/data/valid_store_with_ui_types_input.dart
  mobx_codegen/test/data/valid_store_with_ui_types_output.dart
Due: mobx_codegen

Include a set reference in ObservableSet change notifications
  mobx/lib/src/api/observable_collections/observable_set.dart
Due: mobx

.
  mobx/lib/src/api/annotations.dart
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/lib/src/template/panoptic_observable.dart
  mobx_codegen/pubspec.yaml
Due: mobx, mobx_codegen

Include a set reference in ObservableSet change notifications
  mobx/lib/src/api/observable_collections/observable_set.dart
  mobx/test/observable_set_test.dart
Due: mobx

adding more error reporting
  .idea/workspace.xml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/src/errors.dart
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/data/invalid_annotated_store.dart
  mobx_codegen/test/data/invalid_annotated_store_multiple.dart
  mobx_codegen/test/data/invalid_annotated_store_multiple_output.txt
  mobx_codegen/test/data/invalid_annotated_store_output.txt
  mobx_codegen/test/data/invalid_mixin_store.dart
  mobx_codegen/test/data/invalid_mixin_store_output.txt
  mobx_codegen/test/data/invalid_store_declaration_output.txt
  mobx_codegen/test/invalid_annotations_test.dart
  mobx_codegen/test/mobx_codegen_test.dart
  mobx_codegen/test/test_utils.dart
Due: mobx_codegen

fixing lint errors
  .idea/workspace.xml
  mobx_codegen/lib/src/errors.dart
Due: mobx_codegen

coverage back to 100%
  .idea/workspace.xml
  mobx_codegen/lib/src/errors.dart
Due: mobx_codegen

Prevent output if no stores were generated
  mobx_codegen/lib/src/template/store_file.dart
Due: mobx_codegen

Prevent output if no stores were generated (#281)
  mobx_codegen/lib/src/template/store_file.dart
Due: mobx_codegen

_isValidating can't be null
  flutter_mobx_forms/lib/src/field_state.dart
Due: none

_isValidating can't be null (#282)
  flutter_mobx_forms/lib/src/field_state.dart
Due: none

close off brackets correctly in organising stores page
  docs/src/guides/organizing-stores.mdx
Due: none

reword notes about writing widget tests
  docs/src/guides/organizing-stores.mdx
Due: none
