Repository mobxjs/mobx.dart: changes, and which Codecov flags are due for each by the changed paths.
All: mobx, mobx_codegen, flutter_mobx

Simplify class matching logic in codegen
  mobx_codegen/lib/src/mobx_codegen_base.dart
Due: mobx_codegen

Simplify class matching logic in codegen (#245)
  mobx_codegen/lib/src/mobx_codegen_base.dart
Due: mobx_codegen

remove period at the end of a link in community page
  docs/src/community.md
Due: none

update info about MobX Quick Start Guide
  mobx/README.md
Due: none

Add note about deep observability in core concepts page
  docs/src/core-concepts.mdx
Due: none

tidy up on explanation on lack of deep observability
  docs/src/core-concepts.mdx
Due: none

fixing analyzer lint error
  .idea/workspace.xml
  mobx_codegen/lib/src/mobx_codegen_base.dart
Due: mobx_codegen

change wording about change tracking
  docs/src/core-concepts.mdx
Due: none

Add info on lack of deep observability (#251)
  docs/src/community.md
  docs/src/core-concepts.mdx
  mobx/README.md
Due: none

minor tweaks to the docs
  .idea/workspace.xml
  docs/src/core-concepts.mdx
Due: none

minor tweaks to the docs
  .idea/workspace.xml
  docs/package-lock.json
  docs/package.json
  docs/src/home.mdx
Due: none

add settings example with ProxyProvider
  mobx_examples/lib/examples.dart
  mobx_examples/lib/form/form_widgets.dart
  mobx_examples/lib/main.dart
  mobx_examples/lib/settings/preferences_service.dart
  mobx_examples/lib/settings/settings_store.dart
  mobx_examples/lib/settings/settings_store.g.dart
  mobx_examples/lib/settings/settings_widgets.dart
  mobx_examples/lib/todos/todo_widgets.dart
  mobx_examples/pubspec.yaml
  mobx_examples/test/widget_test.dart
Due: none

add documentation on using ProxyProvider and Consumer
  docs/src/guides/organizing-stores.mdx
Due: none

update details on ProxyProvider
  docs/src/guides/organizing-stores.mdx
Due: none

update other examples to import using relative paths where possible
  mobx_examples/lib/github/github_widgets.dart
  mobx_examples/lib/hackernews/news_widgets.dart
  mobx_examples/lib/multi_counter/multi_counter_widgets.dart
  mobx_examples/lib/random_stream/random_widgets.dart
  mobx_examples/lib/todos/todo_list.dart
Due: none

runBinary in a zone is not being used for AsyncActions, so commenting it out for now
  .idea/workspace.xml
  mobx/lib/src/api/async/async_action.dart
Due: mobx

update settings example to initialise useDarkMode property from preferences
  mobx_examples/lib/settings/settings_store.dart
Due: none

Update community.md
  docs/src/community.md
Due: none

Update community.md (#254)
  docs/src/community.md
Due: none

change back to package imports
  mobx_examples/lib/examples.dart
  mobx_examples/lib/github/github_widgets.dart
  mobx_examples/lib/hackernews/news_widgets.dart
  mobx_examples/lib/main.dart
  mobx_examples/lib/multi_counter/multi_counter_widgets.dart
  mobx_examples/lib/random_stream/random_widgets.dart
  mobx_examples/lib/todos/todo_widgets.dart
Due: none

minor tweaks to the community.md file
  .idea/workspace.xml
  docs/src/community.md
Due: none

use package import for preferences service
  mobx_examples/lib/settings/settings_store.dart
Due: none

make details about using ProxyProvider it's own section
  docs/src/guides/organizing-stores.mdx
Due: none

Add code generation support for the @store annotation
  mobx_codegen/lib/src/errors.dart
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/lib/src/template/store.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/data/invalid_store_declaration.dart
  mobx_codegen/test/data/invalid_store_declaration_output.txt
  mobx_codegen/test/data/valid_annotated_store_input.dart
  mobx_codegen/test/data/valid_annotated_store_output.dart
  mobx_codegen/test/data/valid_generic_annotated_store_input.dart
  mobx_codegen/test/data/valid_generic_annotated_store_output.dart
  mobx_codegen/test/invalid_annotations_test.dart
  mobx_codegen/test/mobx_codegen_test.dart
  mobx_codegen/test/templates_test.dart
Due: mobx_codegen

Fix type key access ObservableMap
  mobx/lib/src/api/observable_collections/observable_map.dart
Due: mobx

adding a new package flutter_mobx_forms
  .idea/mobx.dart.iml
  .idea/workspace.xml
  flutter_mobx_forms/.gitignore
  flutter_mobx_forms/.metadata
  flutter_mobx_forms/LICENSE
  flutter_mobx_forms/README.md
  flutter_mobx_forms/lib/flutter_mobx_forms.dart
  flutter_mobx_forms/pubspec.yaml
  flutter_mobx_forms/test/widget_test.dart
Due: none

Fix change reporting in ObservableMap
  mobx/lib/src/api/observable_collections/observable_map.dart
Due: mobx

Fix change reporting in ObservableMap (#260)
  mobx/lib/src/api/observable_collections/observable_map.dart
Due: mobx

Fix invalid declaration output
  mobx_codegen/test/data/invalid_store_declaration_output.txt
Due: none

Add support for pass-through constructors
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/lib/src/template/constructor_override.dart
  mobx_codegen/lib/src/template/method_override.dart
  mobx_codegen/lib/src/template/store.dart
  mobx_codegen/test/data/valid_annotated_store_input.dart
  mobx_codegen/test/data/valid_annotated_store_output.dart
  mobx_codegen/test/data/valid_generic_annotated_store_input.dart
  mobx_codegen/test/data/valid_generic_annotated_store_output.dart
Due: mobx_codegen

Remove debugging code
  mobx_codegen/lib/src/mobx_codegen_base.dart
Due: mobx_codegen

Add code generation support for the @store annotation (#261)
  mobx_codegen/lib/src/errors.dart
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/lib/src/template/constructor_override.dart
  mobx_codegen/lib/src/template/method_override.dart
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/lib/src/template/store.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/data/invalid_store_declaration.dart
  mobx_codegen/test/data/invalid_store_declaration_output.txt
  mobx_codegen/test/data/valid_annotated_store_input.dart
  mobx_codegen/test/data/valid_annotated_store_output.dart
  mobx_codegen/test/data/valid_generic_annotated_store_input.dart
  mobx_codegen/test/data/valid_generic_annotated_store_output.dart
  mobx_codegen/test/invalid_annotations_test.dart
  mobx_codegen/test/mobx_codegen_test.dart
  mobx_codegen/test/templates_test.dart
Due: mobx_codegen

WIP
  .idea/libraries/Dart_Packages.xml
  .idea/libraries/Flutter_Plugins.xml
  .idea/mobx.dart.iml
  .idea/workspace.xml
  flutter_mobx_forms/CHANGELOG.md
  flutter_mobx_forms/lib/src/form_field.dart
  flutter_mobx_forms/lib/src/form_field.g.dart
  flutter_mobx_forms/pubspec.yaml
  flutter_mobx_forms/test/flutter_mobx_forms_test.dart
  flutter_mobx_forms/test/widget_test.dart
  package.json
Due: none

package updates
  .idea/libraries/Dart_Packages.xml
  .idea/libraries/Flutter_Plugins.xml
  .idea/workspace.xml
  mobx/CHANGELOG.md
  mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/data/valid_annotated_store_input.dart
  mobx_examples/lib/main.dart
Due: none

package updates
  .idea/workspace.xml
  mobx_codegen/pubspec.yaml
Due: none

package updates
  .idea/modules.xml
  .idea/workspace.xml
  flutter_mobx_forms/pubspec.yaml
Due: none

make main function in examples return a future
  mobx_examples/lib/main.dart
Due: none

safety check for picking the first error
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  flutter_mobx_forms/lib/src/form_field.dart
Due: none

make main function in examples return a future (#269)
  mobx_examples/lib/main.dart
Due: none

Path conditions:
  mobx: any of: mobx/lib/
  mobx_codegen: any of: mobx_codegen/lib/
  flutter_mobx: any of: flutter_mobx/lib/
