Repository mobxjs/mobx.dart: changes, and which Codecov flags are due for each by the changed paths.
All: mobx, mobx_codegen, flutter_mobx

codecov.yml:

coverage:
  range: 80..100
  status:
    project:
      default: off
      mobx:
        flags: mobx
      mobx_codegen:
        flags: mobx_codegen
      flutter_mobx:
        flags: flutter_mobx

flags:
  # filter the folder(s) you wish to measure by that flag
  mobx:
    # only include files in the mobx folder
    paths:
      - mobx/lib/
  mobx_codegen:
    paths:
      - mobx_codegen/lib/
  flutter_mobx:
    paths:
      - flutter_mobx/lib/

updates to pr template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Expose latest mobx codegen version
  mobx_codegen/lib/mobx_codegen.dart
Due: mobx_codegen

Add no_leading_underscores rule to ignore_for_file in mobx_codegen (#817)
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/lib/src/template/store_file.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/data/valid_output_annotation_store_config_has_to_string.dart
Due: mobx_codegen

Fix typo in observable.mdx
  docs/docs/api/observable.mdx
Due: none

Removed unneeded newline
  mobx/lib/mobx.dart
Due: mobx

Removed unneeded newline
  mobx/pubspec.yaml
Due: none

deprecate asObservable() rename it to toObs()
  mobx/lib/src/api/extensions/observable_future_extension.dart
  mobx/lib/src/api/extensions/observable_list_extension.dart
  mobx/lib/src/api/extensions/observable_map_extension.dart
  mobx/lib/src/api/extensions/observable_set_extension.dart
  mobx/lib/src/api/extensions/observable_stream_extension.dart
  mobx/lib/src/api/extensions/primitive_types_extensions.dart
Due: mobx

redirect asObservable() methods to toObs()
  mobx/lib/src/api/extensions/observable_future_extension.dart
  mobx/lib/src/api/extensions/observable_list_extension.dart
  mobx/lib/src/api/extensions/observable_map_extension.dart
  mobx/lib/src/api/extensions/observable_set_extension.dart
  mobx/lib/src/api/extensions/observable_stream_extension.dart
  mobx/lib/src/api/extensions/primitive_types_extensions.dart
Due: mobx

fix tests and a cheat-sheet
  docs/docs/guides/cheat-sheet.mdx
  mobx/test/extensions/observable_future_extension_test.dart
  mobx/test/extensions/observable_list_extension_test.dart
  mobx/test/extensions/observable_set_extension_test.dart
  mobx/test/extensions/observable_stream_extension_test.dart
  mobx/test/extensions/primitive_types_extensions_test.dart
Due: none

bump version && add an entry to Changelog
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/pubspec.yaml
Due: mobx

Fix typo in observable.mdx (#822)
  docs/docs/api/observable.mdx
Due: none

Update pubspec.yaml
  mobx/pubspec.yaml
Due: none

Don't trigger unneeded ActionSpyEvent for AsyncAction (#784)
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/lib/src/api/async/async_action.dart
  mobx/pubspec.yaml
  mobx/test/spy_test.dart
Due: mobx

renamed asObservable to obs
  mobx/lib/src/api/extensions/primitive_types_extensions.dart
  mobx/test/extensions/primitive_types_extensions_test.dart
Due: mobx

bump ver., changelog
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/pubspec.yaml
Due: mobx

ci: if the test fails, github action should fail.
  tool/coverage.sh
Due: none

shortened typedefs added tests for typedefs
  mobx/CHANGELOG.md
  mobx/lib/src/api/extensions/primitive_types_extensions.dart
  mobx/lib/src/core/typedefs.dart
  mobx/test/extensions/primitive_types_extensions_test.dart
Due: mobx

line endings removed
  mobx/lib/src/api/extensions/primitive_types_extensions.dart
  mobx/lib/src/core/typedefs.dart
Due: mobx

removed typedefs
  mobx/CHANGELOG.md
  mobx/lib/src/api/extensions/primitive_types_extensions.dart
  mobx/lib/src/core.dart
  mobx/lib/src/core/typedefs.dart
  mobx/test/extensions/primitive_types_extensions_test.dart
Due: mobx

Rename asObservable() to obs() (primitive types only) (#831)
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/lib/src/api/extensions/primitive_types_extensions.dart
  mobx/lib/src/core.dart
  mobx/lib/src/core/typedefs.dart
  mobx/pubspec.yaml
  mobx/test/extensions/primitive_types_extensions_test.dart
Due: mobx

Add .asObs extension for all possible types
  mobx/lib/src/api/extensions/observable_future_extension.dart
  mobx/lib/src/api/extensions/observable_list_extension.dart
  mobx/lib/src/api/extensions/observable_map_extension.dart
  mobx/lib/src/api/extensions/observable_set_extension.dart
  mobx/lib/src/api/extensions/observable_stream_extension.dart
  mobx/lib/src/api/extensions/primitive_types_extensions.dart
Due: mobx

Add test for .asObs
  mobx/test/extensions/observable_future_extension_test.dart
  mobx/test/extensions/observable_list_extension_test.dart
  mobx/test/extensions/observable_map_extension_test.dart
  mobx/test/extensions/observable_set_extension_test.dart
  mobx/test/extensions/observable_stream_extension_test.dart
  mobx/test/extensions/primitive_types_extensions_test.dart
Due: none

Add call extension for Observable<T> type
  mobx/lib/src/api/extensions.dart
  mobx/lib/src/api/extensions/observable_call_extension.dart
Due: mobx

Add test for call extension
  mobx/test/extensions/observable_call_extension_test.dart
Due: none

Update version, changelog
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/pubspec.yaml
Due: mobx

Add `newBehavior` variable to the `AsyncAction`
  mobx/lib/src/api/async/async_action.dart
Due: mobx

Modify the test for the new `AsyncAction` method
  mobx/test/spy_test.dart
Due: none

Update version and changelog
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/pubspec.yaml
Due: mobx

Update mobx_codegen to be able to generate for the new mobx version (>= 2.0.7+6)
  mobx_codegen/lib/src/template/async_action.dart
Due: mobx_codegen

Update test
  mobx_codegen/test/generator_usage_test.dart
  mobx_codegen/test/generator_usage_test.g.dart
Due: none

Update version, changelog
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/pubspec.yaml
Due: mobx_codegen

Add flag `asyncActionBehavior` to `ReactiveConfig`
  mobx/lib/src/api/async.dart
  mobx/lib/src/api/async/async_action.dart
  mobx/lib/src/api/async/async_action_helper.dart
  mobx/lib/src/core/context.dart
  mobx/test/async_action_test.dart
  mobx/test/spy_test.dart
Due: mobx

Update changelog, version
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/pubspec.yaml
Due: mobx

fix: revert #784
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/lib/src/api/async/async_action.dart
  mobx/pubspec.yaml
  mobx/test/spy_test.dart
Due: mobx

add `nonObservableInner`, such that users can bypass observability system for performance
  mobx/lib/src/api/observable_collections/observable_list.dart
  mobx/lib/src/api/observable_collections/observable_map.dart
  mobx/lib/src/api/observable_collections/observable_set.dart
Due: mobx

fix: revert #784 (#842)
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/lib/src/api/async/async_action.dart
  mobx/pubspec.yaml
  mobx/test/spy_test.dart
Due: mobx

ci: provide coverage directory
  tool/coverage.sh
Due: none

ci: ignore deprecated_member_use
  mobx_codegen/lib/src/type_names.dart
Due: mobx_codegen

Update atom.dart
  mobx/lib/src/core/atom.dart
Due: mobx
