Repository mobxjs/mobx.dart: changes, and which Codecov flags are due for each by the changed paths.
All: mobx, mobx_codegen, flutter_mobx, mobx_lint

Bump mobx_codegen version to 2.7.2
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/version.dart
  mobx_codegen/pubspec.yaml
Due: mobx_codegen

Replace deprecated call to TypeChecker.fromRuntime
  mobx_codegen/lib/src/template/util.dart
Due: mobx_codegen

Update codegen to use new Element2 API from analyzer >= 7.4.0 (#1051)
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/template/method_override.dart
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/lib/src/template/util.dart
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/lib/version.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/data/invalid_action_multiple_output.txt
  mobx_codegen/test/store_class_visitor_test.dart
  mobx_codegen/test/test_utils.dart
  mobx_codegen/test/util_test.dart
Due: mobx_codegen

Update some package versions including analyzer, and resolve deprecations
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/template/method_override.dart
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/lib/src/template/util.dart
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/store_class_visitor_test.dart
  mobx_codegen/test/util_test.dart
  mobx_examples/lib/clock/clock.dart
Due: mobx_codegen

Run `melos run set_version`
  mobx_codegen/lib/version.dart
Due: mobx_codegen

Fix changelog version header
  mobx_codegen/CHANGELOG.md
Due: none

Widen supported analyzer versions, and revert deprecation fixes
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/template/method_override.dart
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/lib/src/template/util.dart
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/store_class_visitor_test.dart
  mobx_codegen/test/util_test.dart
Due: mobx_codegen

Update analyzer to >=7.4.0 <9.0.0 and bump related packages (#1055)
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/template/method_override.dart
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/lib/src/template/util.dart
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/lib/version.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/store_class_visitor_test.dart
  mobx_codegen/test/util_test.dart
  mobx_examples/lib/clock/clock.dart
Due: mobx_codegen

Drop build_resolvers dependency
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/version.dart
  mobx_codegen/pubspec.yaml
Due: mobx_codegen

Drop build_resolvers dependency (#1057)
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/version.dart
  mobx_codegen/pubspec.yaml
Due: mobx_codegen

Allow a custom equals parameter for observable collections
  mobx/CHANGELOG.md
  mobx/lib/src/api/observable_collections.dart
  mobx/lib/src/api/observable_collections/observable_list.dart
  mobx/lib/src/api/observable_collections/observable_map.dart
  mobx/lib/src/api/observable_collections/observable_set.dart
  mobx/lib/version.dart
  mobx/pubspec.yaml
Due: mobx

test: add unit tests for custom equals functionality in observable collections
  mobx/lib/src/api/observable_collections/observable_list.dart
  mobx/lib/src/api/observable_collections/observable_map.dart
  mobx/lib/src/api/observable_collections/observable_set.dart
  mobx/test/observable_collections_equals_test.dart
Due: mobx

refactor: simplify casting logic in equals tests
  mobx/test/observable_collections_equals_test.dart
Due: none

docs: add scheduler parameter documentation to reactions
  docs/docs/api/reaction.mdx
Due: none

docs: add scheduler parameter documentation to reactions (#1060)
  docs/docs/api/reaction.mdx
Due: none

fix: update observableAlwaysNotEqual function signature to accept nullable Object parameters
  mobx/lib/src/api/annotations.dart
Due: mobx

chore: update Dart SDK constraint to >=3.7.0
  mobx/pubspec.yaml
Due: none

style: format MakeObservable constructor and alwaysNotify constant for improved readability
  mobx/lib/src/api/annotations.dart
Due: mobx

Implement observeKey extension on ObservableMap
  flutter_mobx/test/flutter_mobx_test.dart
  mobx/lib/src/api/extensions.dart
  mobx/lib/src/api/extensions/observable_map_extension.dart
  mobx/test/observable_map_key_test.dart
Due: mobx

chore: update Dart SDK constraint to >=3.7.0
  pubspec.yaml
Due: none

chore(release): publish packages
  CHANGELOG.md
  flutter_mobx/pubspec.yaml
  mobx/CHANGELOG.md
  mobx/pubspec.yaml
  mobx_codegen/pubspec.yaml
  mobx_lint/pubspec.yaml
Due: none

chore: update version to 2.6.0 in version.dart
  mobx/lib/version.dart
Due: mobx

style: fix formatting of computed properties for improved readability in multiple files
  mobx_codegen/test/data/valid_import_prefixed_output.dart
  mobx_codegen/test/data/valid_keep_alive_computed_output.dart
  mobx_codegen/test/data/valid_output.dart
  mobx_codegen/test/data/valid_output_annotation_store_config_has_to_string.dart
Due: none

chore(release): publish packages
  CHANGELOG.md
  mobx_codegen/CHANGELOG.md
  mobx_codegen/pubspec.yaml
Due: none

chore(mobc_codegen): update version to 2.7.5 and Dart SDK constraint to >=3.7.0
  mobx_codegen/lib/version.dart
  mobx_examples/pubspec.yaml
Due: mobx_codegen

Revert "Implement observeKey extension on ObservableMap"
  flutter_mobx/test/flutter_mobx_test.dart
  mobx/lib/src/api/extensions.dart
  mobx/lib/src/api/extensions/observable_map_extension.dart
  mobx/test/observable_map_key_test.dart
Due: mobx

Fix useDeepEquality not being passed to observables
  mobx_codegen/lib/src/store_class_visitor.dart
Due: mobx_codegen

Update change log and bump version
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/version.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/store_class_visitor_test.dart
Due: mobx_codegen

add support for analyzer 9.0.0
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/template/method_override.dart
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/lib/src/template/util.dart
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/lib/version.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/store_class_visitor_test.dart
  mobx_codegen/test/util_test.dart
Due: mobx_codegen

Update observable template for late field setter
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/test/store_class_visitor_test.dart
Due: mobx_codegen

fix: use explicit type filtering in LibraryScopedNameFinder
  mobx_codegen/lib/src/type_names.dart
Due: mobx_codegen

chore: require analyzer ^9.0.0
  mobx_codegen/pubspec.yaml
Due: none

docs: update changelog for analyzer ^9.0.0 requirement
  mobx_codegen/CHANGELOG.md
Due: none

feat: add support for analyzer 9.0.0 (#1065)
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/template/method_override.dart
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/lib/src/template/util.dart
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/lib/version.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/store_class_visitor_test.dart
  mobx_codegen/test/util_test.dart
Due: mobx_codegen

chore: prepare mobx_codegen v2.7.6 release
  CHANGELOG.md
  mobx_codegen/pubspec.yaml
Due: none

chore: prepare mobx_codegen v2.7.6 release (#1068)
  CHANGELOG.md
  mobx_codegen/pubspec.yaml
Due: none

Fix lint errors and run build
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/test/generator_usage_test.g.dart
  mobx_codegen/test/nested_store.g.dart
  mobx_codegen/test/store_with_custom_context.g.dart
Due: mobx_codegen

Update valid output
  mobx_codegen/test/data/valid_output.dart
Due: none

Path conditions:
  mobx: any of: mobx/lib/
  mobx_codegen: any of: mobx_codegen/lib/
  flutter_mobx: any of: flutter_mobx/lib/
  mobx_lint: any of: mobx_lint/lib/
