Repository mobxjs/mobx.dart: changes, and which Codecov flags are due for each by the changed paths.
All: mobx, mobx_codegen, flutter_mobx

codecov.yml:

coverage:
  range: 80..100
  status:
    project:
      default: off
      mobx:
        flags: mobx
      mobx_codegen:
        flags: mobx_codegen
      flutter_mobx:
        flags: flutter_mobx

flags:
  # filter the folder(s) you wish to measure by that flag
  mobx:
    # only include files in the mobx folder
    paths:
      - mobx/lib/
  mobx_codegen:
    paths:
      - mobx_codegen/lib/
  flutter_mobx:
    paths:
      - flutter_mobx/lib/

package updates to docs
  docs/package-lock.json
  docs/src/components/Shield.tsx
  docs/src/home.mdx
  docs/src/images/images.d.ts
Due: none

formatting badges
  docs/src/home.mdx
Due: none

fixing links to home page
  docs/package-lock.json
  docs/package.json
  docs/src/home.mdx
Due: none

starting with NNBD
  mobx/pubspec.yaml
Due: none

Removed MobX Todos unused observable #529
  mobx_examples/lib/main.reflectable.dart
  mobx_examples/lib/todos/todo_list.dart
  mobx_examples/lib/todos/todo_list.g.dart
  mobx_examples/lib/todos/todo_widgets.dart
  mobx_examples/test/todos_test.dart
  mobx_examples/test/todos_test.reflectable.dart
Due: none

cleanups
  docs/doczrc.js
  netlify.toml
Due: none

removing the light/dark switch
  docs/docusaurus.config.js
Due: none

icons for discord and github
  docs/docusaurus.config.js
  docs/src/css/custom.css
Due: none

code block theme set to vsdark
  docs/docusaurus.config.js
  docs/package.json
Due: none

adding footer links
  docs/docusaurus.config.js
  docs/package.json
Due: none

bump analyzer version to >=0.39.1 <0.50.0
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/pubspec.yaml
Due: mobx_codegen

bump codegen version because
  mobx_codegen/pubspec.yaml
Due: none

Updated CHANGELOD.md and codegen version
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
Due: mobx_codegen

bump analyzer version to >=0.39.1 <0.50.0 (#577)
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/pubspec.yaml
Due: mobx_codegen

Auto fetch plugin versions & dart formatting
  docs/docs/development/release.mdx
  docs/docs/getting-started/index.mdx
  docs/docs/guides/cheat-sheet.mdx
  docs/docs/versions.js
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/plugins/fetch-versions/index.js
  docs/src/theme/MDXComponents/index.tsx
  docs/src/theme/MDXComponents/utils.ts
  mobx/test/observable_list_test.dart
  mobx/test/util.dart
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_examples/lib/dice/dice_widgets.dart
  mobx_examples/lib/examples.dart
  tool/expose_version.dart
Due: mobx_codegen

formatting updates
  docs/package-lock.json
  docs/package.json
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/pubspec.yaml
  mobx/test/observable_list_test.dart
  mobx/test/util.dart
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/pubspec.yaml
Due: mobx, mobx_codegen

Formatting and fetch plugin versions (#580)
  docs/docs/development/release.mdx
  docs/docs/getting-started/index.mdx
  docs/docs/guides/cheat-sheet.mdx
  docs/docs/versions.js
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/plugins/fetch-versions/index.js
  docs/src/theme/MDXComponents/index.tsx
  docs/src/theme/MDXComponents/utils.ts
  mobx_examples/lib/dice/dice_widgets.dart
  mobx_examples/lib/examples.dart
  tool/expose_version.dart
Due: none

adding versions for dart_json_mapper
  docs/docs/guides/json-serialization.mdx
  docs/docs/versions.js
  docs/plugins/fetch-versions/index.js
Due: none

Removed MobX Todos unused observable #529 (#572)
  mobx_examples/lib/main.reflectable.dart
  mobx_examples/lib/todos/todo_list.dart
  mobx_examples/lib/todos/todo_list.g.dart
  mobx_examples/lib/todos/todo_widgets.dart
  mobx_examples/test/todos_test.dart
  mobx_examples/test/todos_test.reflectable.dart
Due: none

fixing mobx_codegen tests
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/data/valid_import_prefixed_output.dart
Due: mobx_codegen

fixing analyzer errors and updating the command in github actions to use the new `dart <command>`
  .github/workflows/build.yml
  mobx/example/lib/counter.g.dart
  mobx/example/lib/todos.g.dart
  package.json
Due: none

fixing analyzer error for mobx_codegen
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/pubspec.yaml
Due: mobx, mobx_codegen

changing job names for easier identification
  .github/workflows/publish.yml
Due: none

fix error in provider doc
  docs/docs/guides/organizing-stores.mdx
Due: none

updated example code with latest json_serializable
  mobx_examples/lib/main.reflectable.dart
  mobx_examples/lib/todos/todo_list.dart
  mobx_examples/test/todos_test.reflectable.dart
Due: none

synced todo list example docs with latest code
  docs/docs/examples/todos/index.mdx
Due: none

fix error in provider doc (#589)
  docs/docs/guides/organizing-stores.mdx
Due: none

Issue #590 (#591)
  docs/docs/examples/todos/index.mdx
  mobx_examples/lib/main.reflectable.dart
  mobx_examples/lib/todos/todo_list.dart
  mobx_examples/test/todos_test.reflectable.dart
Due: none

fixing analyzer errors and upgrading types
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/pubspec.yaml
  package-lock.json
Due: mobx_codegen

fixing sdk constraint error
  flutter_mobx/example/pubspec.yaml
  mobx_examples/pubspec.yaml
Due: none

fixing analyzer issue on sorting dependencies
  flutter_mobx/pubspec.yaml
Due: none

Fix cheat-sheet doc
  docs/docs/guides/cheat-sheet.mdx
Due: none

Fix shuffle test by passing a specific Random seed
  mobx/test/observable_list_test.dart
Due: none

implicit-casts: false
  mobx/analysis_options.yaml
  mobx/lib/src/api/action.dart
  mobx/lib/src/api/async/observable_future.dart
  mobx/lib/src/api/async/observable_stream.dart
  mobx/lib/src/api/observable_collections/observable_list.dart
  mobx/lib/src/api/observable_collections/observable_map.dart
  mobx/lib/src/api/observable_collections/observable_set.dart
  mobx/lib/src/core.dart
  mobx/lib/src/core/observable.dart
  mobx/lib/src/core/spy.dart
  mobx/test/action_test.dart
  mobx/test/observable_stream_test.dart
Due: mobx

hints
  mobx/lib/src/api/action.dart
  mobx/lib/src/api/async/async_action.dart
  mobx/lib/src/api/async/observable_future.dart
  mobx/lib/src/api/async/observable_stream.dart
  mobx/lib/src/api/extensions/observable_stream_extension.dart
  mobx/lib/src/api/observable_collections/observable_list.dart
  mobx/lib/src/api/observable_collections/observable_map.dart
  mobx/lib/src/api/observable_collections/observable_set.dart
  mobx/lib/src/api/reaction.dart
  mobx/lib/src/core/action.dart
  mobx/lib/src/core/atom.dart
  mobx/lib/src/core/computed.dart
  mobx/lib/src/core/context.dart
  mobx/lib/src/core/derivation.dart
  mobx/lib/src/core/observable.dart
  mobx/lib/src/core/reaction.dart
  mobx/lib/src/core/reaction_helper.dart
  mobx/lib/src/interceptable.dart
Due: mobx
