Repository mobxjs/mobx.dart: changes, and which Codecov flags are due for each by the changed paths.
All: mobx, mobx_codegen, flutter_mobx

reporting actions with more detailed info
  mobx/lib/mobx.dart
  mobx/lib/src/core/action.dart
  mobx/lib/src/core/action_extensions.dart
  mobx/lib/src/core/atom_extensions.dart
  mobx/lib/src/core/reaction.dart
  mobx/lib/src/core/spy.dart
  mobx_codegen/lib/src/template/action.dart
  mobx_examples/lib/counter/counter.g.dart
  mobx_examples/lib/dice/dice_counter.g.dart
  mobx_examples/lib/form/form_store.g.dart
  mobx_examples/lib/github/github_store.g.dart
  mobx_examples/lib/hackernews/news_store.g.dart
  mobx_examples/lib/main.dart
  mobx_examples/lib/multi_counter/multi_counter_store.g.dart
  mobx_examples/lib/todos/todo_list.g.dart
Due: mobx, mobx_codegen

refactoring in spy, some cleanups in toString generation on Stores
  mobx/lib/mobx.dart
  mobx/lib/src/core/action.dart
  mobx/lib/src/core/action_extensions.dart
  mobx/lib/src/core/atom_extensions.dart
  mobx/lib/src/core/observable.dart
  mobx/lib/src/core/reaction.dart
  mobx/lib/src/core/spy.dart
  mobx_codegen/lib/src/template/action.dart
  mobx_codegen/lib/src/template/store.dart
  mobx_examples/lib/connectivity/connectivity_store.g.dart
  mobx_examples/lib/counter/counter.g.dart
  mobx_examples/lib/dice/dice_counter.g.dart
  mobx_examples/lib/form/form_store.g.dart
  mobx_examples/lib/github/github_store.g.dart
  mobx_examples/lib/hackernews/news_store.g.dart
  mobx_examples/lib/main.dart
  mobx_examples/lib/multi_counter/multi_counter_store.g.dart
  mobx_examples/lib/random_stream/random_store.g.dart
  mobx_examples/lib/settings/settings_store.g.dart
  mobx_examples/lib/todos/todo.g.dart
  mobx_examples/lib/todos/todo_list.g.dart
Due: mobx, mobx_codegen

naming of AsyncActions
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/template/async_action.dart
  mobx_codegen/lib/src/template/store.dart
  mobx_examples/lib/connectivity/connectivity_store.g.dart
  mobx_examples/lib/counter/counter.g.dart
  mobx_examples/lib/dice/dice_counter.g.dart
  mobx_examples/lib/form/form_store.g.dart
  mobx_examples/lib/github/github_store.g.dart
  mobx_examples/lib/hackernews/news_store.g.dart
  mobx_examples/lib/multi_counter/multi_counter_store.g.dart
  mobx_examples/lib/random_stream/random_store.g.dart
  mobx_examples/lib/settings/settings_store.g.dart
  mobx_examples/lib/todos/todo.g.dart
  mobx_examples/lib/todos/todo_list.g.dart
Due: mobx_codegen

many of the data structures were not accepting names.
  mobx/lib/src/api/async/observable_future.dart
  mobx/lib/src/api/async/observable_stream.dart
  mobx/lib/src/api/extensions/observable_future_extension.dart
  mobx/lib/src/api/extensions/observable_list_extension.dart
  mobx/lib/src/api/extensions/observable_map_extension.dart
  mobx/lib/src/api/extensions/observable_set_extension.dart
  mobx/lib/src/api/extensions/observable_stream_extension.dart
  mobx/lib/src/api/observable_collections/observable_list.dart
  mobx/lib/src/api/observable_collections/observable_map.dart
  mobx/lib/src/api/observable_collections/observable_set.dart
  mobx/lib/src/core/observable.dart
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/template/computed.dart
  mobx_examples/lib/dice/dice_counter.g.dart
  mobx_examples/lib/form/form_store.g.dart
  mobx_examples/lib/github/github_store.g.dart
  mobx_examples/lib/todos/todo_list.g.dart
  rfc/spying-and-tracing.md
Due: mobx, mobx_codegen

reaction dispose being tracked in spy
  mobx/lib/src/core/reaction.dart
  mobx/lib/src/core/spy.dart
Due: mobx

fixed an overflow issues in github widgets. Better naming of AsyncAction spy
  mobx/lib/src/api/async/async_action.dart
  mobx/test/action_controller_test.dart
  mobx/test/spy_test.dart
  mobx_examples/lib/github/github_widgets.dart
Due: mobx

fixing tests in mobx
  mobx/test/shared_mocks.dart
Due: none

all tests passing
  mobx_codegen/lib/src/template/rows.dart
  mobx_codegen/lib/src/template/store.dart
  mobx_codegen/test/data/valid_generic_store_output.dart
  mobx_codegen/test/data/valid_import_prefixed_output.dart
  mobx_codegen/test/data/valid_output.dart
  mobx_codegen/test/data/valid_output_annotation_store_config_has_to_string.dart
  mobx_codegen/test/templates_test.dart
Due: mobx_codegen

fixing analysis errors
  mobx_codegen/lib/src/template/store.dart
Due: mobx_codegen

build only on push
  .github/workflows/build.yml
Due: none

trying for mobx_codegen only
  .github/workflows/build.yml
Due: none

adding mobx
  .github/workflows/build.yml
Due: none

adding lcov
  package.json
Due: none

add generated code from reflectable package
  mobx_examples/.gitignore
  mobx_examples/lib/main.reflectable.dart
  mobx_examples/test/todos_test.reflectable.dart
  mobx_examples/test/widget_test.reflectable.dart
Due: none

bump dependencies used by example app
  mobx_examples/pubspec.yaml
Due: none

basic spy tests
  mobx/lib/src/api/annotations.dart
  mobx/lib/src/core/spy.dart
  mobx/test/spy_test.dart
Due: mobx

fixing lint
  mobx/lib/src/api/annotations.dart
  mobx/test/spy_test.dart
Due: mobx

improving coverage and adding missing tests
  mobx/lib/src/api/async/observable_future.dart
  mobx/lib/src/api/observable_collections/observable_set.dart
  mobx/lib/src/core/action.dart
  mobx/test/observable_list_test.dart
  mobx/test/observable_map_test.dart
  mobx/test/observable_set_test.dart
  mobx/test/observable_stream_test.dart
  mobx/test/spy_test.dart
Due: mobx

more missing tests for name related ones
  mobx/test/observable_future_test.dart
  mobx/test/observable_stream_test.dart
Due: none

fixing lints
  mobx/test/observable_stream_test.dart
Due: none

delete widget test from mobx_examples
  mobx_examples/test/widget_test.dart
  mobx_examples/test/widget_test.reflectable.dart
Due: none

fix issue with settings example on restoring preferencing on using dark mode
  mobx_examples/lib/main.dart
  mobx_examples/lib/settings/preferences_service.dart
  mobx_examples/lib/settings/settings_store.dart
Due: none

Fix a type in Computed Observables section
  docs/src/core-concepts.mdx
Due: none

Fix a type in Computed Observables section (#463)
  docs/src/core-concepts.mdx
Due: none

bump dependencies used by mobx_examples, fix settings example and add reflectable code (#462)
  mobx_examples/.gitignore
  mobx_examples/lib/main.dart
  mobx_examples/lib/main.reflectable.dart
  mobx_examples/lib/settings/preferences_service.dart
  mobx_examples/lib/settings/settings_store.dart
  mobx_examples/pubspec.yaml
  mobx_examples/test/todos_test.reflectable.dart
  mobx_examples/test/widget_test.dart
Due: none

removing .idea
  .idea/libraries/Dart_Packages.xml
  .idea/libraries/Dart_SDK.xml
  .idea/libraries/Flutter_Plugins.xml
  .idea/misc.xml
  .idea/mobx.dart.iml
  .idea/modules.xml
  .idea/vcs.xml
  .idea/workspace.xml
Due: none

Fix a typo
  docs/src/getting-started/index.mdx
Due: none

Fix a typo (#465)
  docs/src/getting-started/index.mdx
Due: none

removing test_coverage as its causing lots of failures and is very unpredictable
  .github/workflows/build.yml
  .gitignore
  mobx/pubspec.yaml
  mobx/test/all_tests.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/all_tests.dart
  tool/coverage.sh
Due: none

fixing directory for script
  .github/workflows/build.yml
Due: none

Simpler coverage (#466)
  .github/workflows/build.yml
  .gitignore
  mobx/pubspec.yaml
  mobx/test/all_tests.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/all_tests.dart
  tool/coverage.sh
Due: none

more detail on the benefits and some thoughts on the API
  rfc/spying-and-tracing.md
Due: none

more updates to the spec and starting with a test
  mobx/lib/src/core/computed.dart
  mobx/test/spy_test.dart
  rfc/spying-and-tracing.md
Due: mobx

initial draft of spy feature
  rfc/spying-and-tracing.md
Due: none

spying in observable
  mobx/lib/mobx.dart
  mobx/lib/src/core.dart
  mobx/lib/src/core/context.dart
  mobx/lib/src/core/context_extensions.dart
  mobx/lib/src/core/observable.dart
  mobx/lib/src/core/spy.dart
  mobx/test/spy_test.dart
Due: mobx

removing the ignored .idea/
  .gitignore
  mobx.iml
Due: none

more updates to the spec and starting with a test
  mobx/test/spy_test.dart
  rfc/spying-and-tracing.md
Due: none

spying on computed values. Simplifying the code template for `@observable` fields. This considerably reduces the amount of generated code.
  mobx/lib/mobx.dart
  mobx/lib/src/core.dart
  mobx/lib/src/core/atom_extensions.dart
  mobx/lib/src/core/computed.dart
  mobx/lib/src/core/context.dart
  mobx/lib/src/core/observable.dart
  mobx/lib/src/core/spy.dart
  mobx_codegen/lib/src/template/observable.dart
  mobx_examples/lib/connectivity/connectivity_store.g.dart
  mobx_examples/lib/counter/counter.g.dart
  mobx_examples/lib/dice/dice_counter.g.dart
  mobx_examples/lib/form/form_store.g.dart
  mobx_examples/lib/github/github_store.g.dart
  mobx_examples/lib/hackernews/news_store.g.dart
  mobx_examples/lib/multi_counter/multi_counter_store.g.dart
  mobx_examples/lib/settings/settings_store.g.dart
  mobx_examples/lib/todos/todo.g.dart
  mobx_examples/lib/todos/todo_list.g.dart
Due: mobx, mobx_codegen

Path conditions:
  mobx: any of: mobx/lib/
  mobx_codegen: any of: mobx_codegen/lib/
  flutter_mobx: any of: flutter_mobx/lib/
