Repository mobxjs/mobx.dart: changes, and which Codecov flags are due for each by the changed paths.
All: mobx, mobx_codegen, flutter_mobx

codecov.yml:

coverage:
  range: 80..100
  status:
    project:
      default: off
      mobx:
        flags: mobx
      mobx_codegen:
        flags: mobx_codegen
      flutter_mobx:
        flags: flutter_mobx

flags:
  # filter the folder(s) you wish to measure by that flag
  mobx:
    # only include files in the mobx folder
    paths:
      - mobx/lib/
  mobx_codegen:
    paths:
      - mobx_codegen/lib/
  flutter_mobx:
    paths:
      - flutter_mobx/lib/

test...wip
  .github/workflows/publish.yml
  .idea/workspace.xml
Due: none

trying out the newly added fields to the dart publisher action
  .github/workflows/publish.yml
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
Due: none

version updates
  .idea/workspace.xml
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/pubspec.yaml
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/pubspec.yaml
Due: mobx, mobx_codegen, flutter_mobx

using the 1.0 version of action
  .github/workflows/publish.yml
  .idea/workspace.xml
Due: none

adding flutter action
  .github/workflows/publish.yml
  .idea/workspace.xml
Due: none

fix for the tag
  .github/workflows/publish.yml
  .idea/workspace.xml
Due: none

Auto publish (#406)
  .github/workflows/publish.yml
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/pubspec.yaml
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/pubspec.yaml
Due: mobx, mobx_codegen, flutter_mobx

added observer_listener
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/lib/src/observer_listener.dart
  flutter_mobx/test/observer_listener_test.dart
Due: flutter_mobx

trying a different flutter setup
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .idea/workspace.xml
Due: none

cleanups on flutter_mobx pubspec
  .idea/workspace.xml
  flutter_mobx/pubspec.yaml
Due: none

no need for a flutter action as its part of dockerfile
  .github/workflows/publish.yml
  .idea/workspace.xml
Due: none

back to test_coverage
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/pubspec.yaml
Due: mobx, mobx_codegen

publish only from master
  .github/workflows/publish.yml
Due: none

Upgrade build_resolvers to 1.3.2
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/pubspec.yaml
Due: mobx_codegen

name for publish step
  .github/workflows/publish.yml
  .idea/workspace.xml
  mobx/lib/src/api/store.dart
Due: mobx

sdk update, package update
  .idea/workspace.xml
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/pubspec.yaml
Due: flutter_mobx

Enclosing dart:ui in backticks
  mobx_codegen/CHANGELOG.md
Due: none

Upgrade build_resolvers to 1.3.2 (#408)
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/pubspec.yaml
Due: mobx_codegen

adding a Publish status badge
  .idea/workspace.xml
  docs/src/home.mdx
Due: none

readme updates
  .idea/workspace.xml
  README.md
Due: none

cleanups
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  mobx/test/action_controller_test.dart
  mobx/test/action_test.dart
  mobx/test/async_action_test.dart
  mobx/test/autorun_test.dart
  mobx/test/bug_related_test.dart
  mobx/test/computed_test.dart
  mobx/test/context_test.dart
  mobx/test/extensions/observable_future_extension_test.dart
  mobx/test/extensions/observable_list_extension_test.dart
  mobx/test/extensions/observable_map_extension_test.dart
  mobx/test/extensions/observable_set_extension_test.dart
  mobx/test/extensions/observable_stream_extension_test.dart
  mobx/test/intercept_test.dart
  mobx/test/listenable_test.dart
  mobx/test/observable_future_test.dart
  mobx/test/observable_list_test.dart
  mobx/test/observable_map_test.dart
  mobx/test/observable_set_test.dart
  mobx/test/observable_stream_test.dart
  mobx/test/observable_test.dart
  mobx/test/observable_value_test.dart
  mobx/test/observe_test.dart
  mobx/test/reaction_test.dart
  mobx/test/reactive_policies_test.dart
  mobx/test/when_test.dart
  package.json
Due: none

fixing analyzer errors
  .idea/workspace.xml
  mobx/test/async_action_test.dart
Due: none

increasing coverage
  .idea/workspace.xml
  mobx/test/exceptions_test.dart
Due: none

package bump
  .idea/workspace.xml
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/pubspec.yaml
Due: mobx

Test cleanups (#409)
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/pubspec.yaml
  mobx/test/action_controller_test.dart
  mobx/test/action_test.dart
  mobx/test/async_action_test.dart
  mobx/test/autorun_test.dart
  mobx/test/bug_related_test.dart
  mobx/test/computed_test.dart
  mobx/test/context_test.dart
  mobx/test/exceptions_test.dart
  mobx/test/extensions/observable_future_extension_test.dart
  mobx/test/extensions/observable_list_extension_test.dart
  mobx/test/extensions/observable_map_extension_test.dart
  mobx/test/extensions/observable_set_extension_test.dart
  mobx/test/extensions/observable_stream_extension_test.dart
  mobx/test/intercept_test.dart
  mobx/test/listenable_test.dart
  mobx/test/observable_future_test.dart
  mobx/test/observable_list_test.dart
  mobx/test/observable_map_test.dart
  mobx/test/observable_set_test.dart
  mobx/test/observable_stream_test.dart
  mobx/test/observable_test.dart
  mobx/test/observable_value_test.dart
  mobx/test/observe_test.dart
  mobx/test/reaction_test.dart
  mobx/test/reactive_policies_test.dart
  mobx/test/when_test.dart
  package.json
Due: mobx

adding netlify as sponsor
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  docs/src/components/Sponsor.tsx
Due: none

added autorun, reaction example in cheat sheet
  .idea/workspace.xml
  docs/src/guides/cheat-sheet.mdx
Due: none

added when example in cheat sheet
  .idea/workspace.xml
  docs/src/guides/cheat-sheet.mdx
Due: none

using the sucess flag from step
  .github/workflows/publish.yml
  .idea/workspace.xml
Due: none

Local setup: Don't include in pull request !
  .idea/libraries/Dart_Packages.xml
  .idea/libraries/Dart_SDK.xml
  .idea/libraries/Flutter_Plugins.xml
  .idea/workspace.xml
  mobx/example/lib/counter.g.dart
  mobx/example/lib/todos.g.dart
  mobx/example/lib/valid_input.dart
  mobx/example/lib/valid_input.g.dart
  mobx_codegen/lib/src/template/rows.dart
Due: mobx_codegen

breaking apart the various classes that make up the Observer
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/lib/src/observer.dart
  flutter_mobx/lib/src/observer_widget_mixin.dart
  flutter_mobx/lib/src/stateful_observer_widget.dart
  flutter_mobx/lib/src/stateless_observer_widget.dart
  flutter_mobx/pubspec.yaml
Due: flutter_mobx

adding files for flutter web
  mobx_examples/web/icons/Icon-192.png
  mobx_examples/web/icons/Icon-512.png
  mobx_examples/web/manifest.json
Due: none

updating docs
  .idea/workspace.xml
  docs/src/development/release.mdx
  docs/src/getting-started/index.mdx
Due: none

v1.0
  .idea/workspace.xml
  docs/src/getting-started/index.mdx
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/pubspec.yaml
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/pubspec.yaml
Due: mobx, mobx_codegen, flutter_mobx

dummy commit because .idea merge
  .idea/libraries/Dart_Packages.xml
  .idea/libraries/Flutter_Plugins.xml
Due: none

fixing version solving issue
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/pubspec.yaml
  mobx_examples/pubspec.yaml
Due: mobx_codegen, flutter_mobx

setting proper versions
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  mobx_examples/pubspec.yaml
Due: none

Update pubscpec.yaml from last master version
  mobx_codegen/pubspec.yaml
Due: none

Use ComputedTemplate to generate computed part of toString method
  mobx_codegen/lib/src/template/store.dart
Due: mobx_codegen

Remove useless test files
  mobx_codegen/test/data/valid_input_to_string_false.dart
  mobx_codegen/test/data/valid_output_to_string_false.dart
Due: none
