Repository mobxjs/mobx.dart: changes, and which Codecov flags are due for each by the changed paths.
All: mobx, mobx_codegen, flutter_mobx

codecov.yml:

coverage:
  range: 80..100
  status:
    project:
      default: off
      mobx:
        flags: mobx
      mobx_codegen:
        flags: mobx_codegen
      flutter_mobx:
        flags: flutter_mobx

flags:
  # filter the folder(s) you wish to measure by that flag
  mobx:
    # only include files in the mobx folder
    paths:
      - mobx/lib/
  mobx_codegen:
    paths:
      - mobx_codegen/lib/
  flutter_mobx:
    paths:
      - flutter_mobx/lib/

cleanups, package upgrades
  analysis_options.yaml
  flutter_mobx/CHANGELOG.md
  flutter_mobx/analysis_options.yaml
  flutter_mobx/example/pubspec.yaml
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/pubspec.yaml
  flutter_mobx/test/helpers.dart
  mobx/CHANGELOG.md
  mobx/analysis_options.yaml
  mobx/example/lib/todos.g.dart
  mobx/example/pubspec.yaml
  mobx/lib/mobx.dart
  mobx/lib/src/core/computed.dart
  mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/analysis_options.yaml
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/pubspec.yaml
  mobx_examples/lib/clock/clock.dart
  mobx_examples/lib/clock/clock_widgets.dart
  mobx_examples/lib/counter/counter_widgets.dart
  mobx_examples/lib/dice/dice_widgets.dart
  mobx_examples/lib/examples.dart
  mobx_examples/lib/form/form_widgets.dart
  mobx_examples/lib/github/github_widgets.dart
  mobx_examples/lib/hackernews/hn_api.dart
  mobx_examples/lib/hackernews/news_store.dart
  mobx_examples/lib/hackernews/news_widgets.dart
  mobx_examples/lib/main.dart
  mobx_examples/lib/multi_counter/multi_counter_widgets.dart
  mobx_examples/lib/random_stream/random_widgets.dart
  mobx_examples/lib/settings/settings_widgets.dart
  mobx_examples/lib/todos/observable_todo_list_converter.dart
  mobx_examples/lib/todos/todo_widgets.dart
Due: mobx, mobx_codegen, flutter_mobx

package upgrades for docs and fixing the plugin version reads
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/plugins/fetch-versions/index.js
Due: none

doc updates
  docs/docs/guides/json-serialization.mdx
  docs/docs/versions.js
  docs/plugins/fetch-versions/index.js
Due: none

setting the node version for docs
  docs/.nvmrc
Due: none

adding yarn.lock
  .gitignore
  docs/yarn.lock
Due: none

adding algolia search
  docs/docusaurus.config.js
Due: none

fixing image urls
  docs/src/components/testimonials.ts
Due: none

minor reformating
  docs/docs/examples/connectivity/index.mdx
  docs/docs/examples/dice/index.mdx
  docs/docs/examples/form/index.mdx
  docs/docs/examples/github/index.mdx
  docs/docs/examples/hacker-news/index.mdx
  docs/docs/examples/random-stream/index.mdx
  docs/docs/examples/todos/index.mdx
Due: none

general cleanups in docs
  docs/docs/core-concepts.mdx
  docs/docs/examples/counter.mdx
  docs/docs/examples/form/index.mdx
  docs/docs/examples/hacker-news/index.mdx
  docs/docs/getting-started/index.mdx
  docs/docs/guides/build-output.mdx
  docs/docs/guides/cheat-sheet.mdx
  docs/docs/guides/json-serialization.mdx
  mobx_examples/lib/raw/raw.dart
Due: none

Adding ReactionBuilder
  README.md
  docs/docs/api/action.mdx
  docs/docs/api/context.mdx
  docs/docs/api/observable.mdx
  docs/docs/api/observers.mdx
  docs/docs/api/reaction.mdx
  docs/docs/examples/connectivity/index.mdx
  docs/docusaurus.config.js
  docs/package.json
  docs/sidebars.js
  docs/yarn.lock
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/lib/src/reaction_builder.dart
  flutter_mobx/pubspec.yaml
  flutter_mobx/test/all_tests.dart
  flutter_mobx/test/flutter_mobx_test.dart
  flutter_mobx/test/reaction_builder_test.dart
  mobx_examples/lib/connectivity/connectivity_widgets.dart
Due: flutter_mobx

fixing analyzer issues
  mobx/test/intercept_test.dart
Due: none

Adding ReactionBuilder (#739)
  README.md
  docs/docs/api/action.mdx
  docs/docs/api/context.mdx
  docs/docs/api/observable.mdx
  docs/docs/api/observers.mdx
  docs/docs/api/reaction.mdx
  docs/docs/examples/connectivity/index.mdx
  docs/docusaurus.config.js
  docs/package.json
  docs/sidebars.js
  docs/yarn.lock
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/lib/src/reaction_builder.dart
  flutter_mobx/pubspec.yaml
  flutter_mobx/test/all_tests.dart
  flutter_mobx/test/flutter_mobx_test.dart
  flutter_mobx/test/reaction_builder_test.dart
  mobx/test/intercept_test.dart
  mobx_examples/lib/connectivity/connectivity_widgets.dart
Due: flutter_mobx

Update README.md
  README.md
Due: none

Update README.md (#742)
  README.md
Due: none

Update observers.mdx
  docs/docs/api/observers.mdx
Due: none

detailed messages when setState has error
  flutter_mobx/lib/src/observer_widget_mixin.dart
Due: flutter_mobx

change approach to give context to error
  flutter_mobx/lib/src/observer_widget_mixin.dart
Due: flutter_mobx

Provide more debugging context for `setState() or markNeedsBuild() called during build` (#756)
  flutter_mobx/lib/src/observer_widget_mixin.dart
Due: flutter_mobx

Avoid `setState() or markNeedsBuild() called during build` by automatically wait for a frame whenever needed
  flutter_mobx/lib/src/observer_widget_mixin.dart
Due: flutter_mobx

when in `postFrameCallbacks` phase, no need to wait a frame
  flutter_mobx/lib/src/observer_widget_mixin.dart
Due: flutter_mobx

feat: use custom context
  mobx/lib/src/api/store.dart
  mobx_codegen/lib/src/template/async_action.dart
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/lib/src/template/observable_future.dart
  mobx_codegen/lib/src/template/observable_stream.dart
  mobx_codegen/lib/src/template/store.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/all_tests.dart
  mobx_codegen/test/data/valid_generic_store_output.dart
  mobx_codegen/test/data/valid_import_prefixed_output.dart
  mobx_codegen/test/data/valid_late_variables_output.dart
  mobx_codegen/test/data/valid_output.dart
  mobx_codegen/test/data/valid_output_annotation_store_config_has_to_string.dart
  mobx_codegen/test/generator_usage_test.g.dart
  mobx_codegen/test/store_with_custom_context.dart
  mobx_codegen/test/store_with_custom_context.g.dart
  mobx_codegen/test/templates_test.dart
Due: mobx, mobx_codegen

feat: allow use custom context
  mobx_codegen/pubspec.yaml
Due: none

feat: use custom context
  mobx/test/store_test.dart
Due: none

add tests
  flutter_mobx/test/flutter_mobx_test.dart
Due: none

comment out prints and format code
  flutter_mobx/lib/src/observer_widget_mixin.dart
  flutter_mobx/test/flutter_mobx_test.dart
Due: flutter_mobx

feat: use custom context
  mobx/test/all_tests.dart
  mobx/test/store_test.dart
Due: none

Feat: Allow use custom context (#770)
  mobx/lib/src/api/store.dart
  mobx/test/all_tests.dart
  mobx/test/store_test.dart
  mobx_codegen/lib/src/template/async_action.dart
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/lib/src/template/observable_future.dart
  mobx_codegen/lib/src/template/observable_stream.dart
  mobx_codegen/lib/src/template/store.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/all_tests.dart
  mobx_codegen/test/data/valid_generic_store_output.dart
  mobx_codegen/test/data/valid_import_prefixed_output.dart
  mobx_codegen/test/data/valid_late_variables_output.dart
  mobx_codegen/test/data/valid_output.dart
  mobx_codegen/test/data/valid_output_annotation_store_config_has_to_string.dart
  mobx_codegen/test/generator_usage_test.g.dart
  mobx_codegen/test/store_with_custom_context.dart
  mobx_codegen/test/store_with_custom_context.g.dart
  mobx_codegen/test/templates_test.dart
Due: mobx, mobx_codegen

Routine PR (#769)
  flutter_mobx/lib/src/observer_widget_mixin.dart
  flutter_mobx/test/flutter_mobx_test.dart
Due: flutter_mobx

add tests to debugFindConstructingStackFrame
  flutter_mobx/test/flutter_mobx_test.dart
Due: none

Improve debugFindConstructingStackFrame to let the message be less confusing to the reader #777
  flutter_mobx/lib/src/observer.dart
  flutter_mobx/test/flutter_mobx_test.dart
Due: flutter_mobx

fix tests
  flutter_mobx/test/flutter_mobx_test.dart
Due: none

Allow disabling `No observables detected in the build method of Observer`
  flutter_mobx/lib/src/observer.dart
  flutter_mobx/lib/src/observer_widget_mixin.dart
  flutter_mobx/lib/src/stateless_observer_widget.dart
  flutter_mobx/test/flutter_mobx_test.dart
  flutter_mobx/test/helpers.dart
Due: flutter_mobx

Globally disable `toString()` method generation #692
  mobx_codegen/lib/builder.dart
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/test/store_class_visitor_test.dart
Due: mobx_codegen

The analyzer: ^3.0.0 in master branch is incompatible with Flutter stable #779
  mobx_codegen/pubspec.yaml
Due: none

add flag enableWarnWhenNoObservables
  flutter_mobx/lib/src/observer_widget_mixin.dart
  flutter_mobx/test/flutter_mobx_test.dart
Due: flutter_mobx

add ignores, since flutter beta and flutter stable has different nullability, and we have to support stable
  flutter_mobx/lib/src/observer_widget_mixin.dart
Due: flutter_mobx

fix: If builder of Observer errors, further error LateInitializationError: Local 'built' has not been initialized. will happen in addition to the actual error, reducing developer experience #780
  flutter_mobx/lib/src/observer_widget_mixin.dart
  flutter_mobx/test/flutter_mobx_test.dart
Due: flutter_mobx

improve error message
  flutter_mobx/lib/src/observer_widget_mixin.dart
  flutter_mobx/test/flutter_mobx_test.dart
Due: flutter_mobx

Fix for #734
  mobx/lib/src/api/async/async_action.dart
Due: mobx

Update async_action.dart
  mobx/lib/src/api/async/async_action.dart
Due: mobx
