Repository mobxjs/mobx.dart: changes, and which Codecov flags are due for each by the changed paths.
All: mobx, mobx_codegen, flutter_mobx

codecov.yml:

coverage:
  range: 80..100
  status:
    project:
      default: off
      mobx:
        flags: mobx
      mobx_codegen:
        flags: mobx_codegen
      flutter_mobx:
        flags: flutter_mobx

flags:
  # filter the folder(s) you wish to measure by that flag
  mobx:
    # only include files in the mobx folder
    paths:
      - mobx/lib/
  mobx_codegen:
    paths:
      - mobx_codegen/lib/
  flutter_mobx:
    paths:
      - flutter_mobx/lib/

commenting out flutter sdk
  .idea/workspace.xml
  mobx_codegen/pubspec.yaml
Due: none

Update README.md
  translation/pt-BR/README.md
Due: none

Update README.md (#382)
  translation/pt-BR/README.md
Due: none

Fix localhost reference in form example docs
  docs/src/examples/form/index.mdx
Due: none

Update index.mdx
  docs/src/examples/form/index.mdx
Due: none

Update when-does-mobx-react.mdx
  docs/src/guides/when-does-mobx-react.mdx
Due: none

Remove localhost references in docs (#383)
  docs/src/examples/form/index.mdx
  docs/src/guides/when-does-mobx-react.mdx
Due: none

Update README.md (#387)
  translation/pt-BR/README.md
Due: none

Configure mobx_codegen to use the Flutter image in CI
  .circleci/config.yml
  tool/circle_run.sh
Due: none

mobx_codegen: allow generating toString method for Store class #174
  mobx/lib/mobx.dart
  mobx/lib/src/api/annotations.dart
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/template/store.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/data/valid_input_to_string_false.dart
  mobx_codegen/test/data/valid_input_to_string_true.dart
  mobx_codegen/test/data/valid_output_to_string_false.dart
  mobx_codegen/test/data/valid_output_to_string_true.dart
  mobx_codegen/test/mobx_codegen_test.dart
Due: mobx, mobx_codegen

Update README.md (#393)
  translation/pt-BR/README.md
Due: none

Dice Example added.
  docs/src/examples/dice/index.mdx
  mobx_examples/README.md
  mobx_examples/images/dice1.png
  mobx_examples/images/dice2.png
  mobx_examples/images/dice3.png
  mobx_examples/images/dice4.png
  mobx_examples/images/dice5.png
  mobx_examples/images/dice6.png
  mobx_examples/lib/dice/dice_counter.dart
  mobx_examples/lib/dice/dice_counter.g.dart
  mobx_examples/lib/dice/dice_widgets.dart
  mobx_examples/lib/examples.dart
  mobx_examples/pubspec.yaml
Due: none

fix sintaxe extension stream #395
  mobx/lib/src/api/extensions/observable_stream_extension.dart
Due: mobx

remove @store and @MakeStore annotation + create toString from templates
  mobx/lib/mobx.dart
  mobx/lib/src/api/annotations.dart
  mobx/test/annotations_test.dart
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/template/rows.dart
  mobx_codegen/lib/src/template/store.dart
Due: mobx, mobx_codegen

fix sintaxe extension stream #395 (#396)
  mobx/lib/src/api/extensions/observable_stream_extension.dart
Due: mobx

upgrading the version of mobx_codegen in mobx_examples
  .idea/libraries/Dart_Packages.xml
  .idea/misc.xml
  .idea/workspace.xml
  mobx_examples/pubspec.yaml
Due: none

Dice app back arrow Issue fix.
  mobx_examples/lib/dice/dice_widgets.dart
Due: none

Dice example (#389)
  docs/src/examples/dice/dice.gif
  docs/src/examples/dice/index.mdx
  mobx_examples/README.md
  mobx_examples/images/dice1.png
  mobx_examples/images/dice2.png
  mobx_examples/images/dice3.png
  mobx_examples/images/dice4.png
  mobx_examples/images/dice5.png
  mobx_examples/images/dice6.png
  mobx_examples/lib/dice/dice_counter.dart
  mobx_examples/lib/dice/dice_counter.g.dart
  mobx_examples/lib/dice/dice_widgets.dart
  mobx_examples/lib/examples.dart
  mobx_examples/pubspec.yaml
Due: none

minor typo fixes in the dice example, package updates
  .idea/libraries/Flutter_Plugins.xml
  .idea/workspace.xml
  docs/package-lock.json
  docs/package.json
  docs/src/components/Testimonial.tsx
  docs/src/examples/connectivity/index.mdx
  docs/src/examples/dice/index.mdx
Due: none

tweaks
  .idea/workspace.xml
  docs/src/examples/dice/index.mdx
Due: none

typos
  .idea/workspace.xml
  docs/src/examples/dice/index.mdx
Due: none

moving write policy inside the group...test!
  .idea/workspace.xml
  mobx/test/autorun_test.dart
  mobx/test/observable_list_test.dart
  mobx/test/observable_map_test.dart
  mobx/test/observable_set_test.dart
  mobx/test/observable_stream_test.dart
  mobx/test/reaction_test.dart
  mobx/test/when_test.dart
Due: none

moving write policy inside the group...test!
  .idea/workspace.xml
  mobx/test/computed_test.dart
  mobx/test/observable_test.dart
Due: none

moving write policy inside the group...test!
  .idea/workspace.xml
  mobx/test/action_controller_test.dart
  mobx/test/action_test.dart
  mobx/test/async_action_test.dart
  mobx/test/context_test.dart
  mobx/test/extensions/observable_future_extension_test.dart
  mobx/test/extensions/observable_list_extension_test.dart
  mobx/test/extensions/observable_map_extension_test.dart
  mobx/test/extensions/observable_set_extension_test.dart
  mobx/test/extensions/observable_stream_extension_test.dart
  mobx/test/intercept_test.dart
  mobx/test/listenable_test.dart
  mobx/test/observable_future_test.dart
  mobx/test/observable_list_test.dart
  mobx/test/observable_map_test.dart
  mobx/test/observable_set_test.dart
  mobx/test/observable_value_test.dart
  mobx/test/observe_test.dart
  mobx/test/reaction_test.dart
  mobx/test/reactive_policies_test.dart
Due: none

moving write policy inside the group...test!
  .idea/workspace.xml
  mobx/test/action_test.dart
Due: none

correct naming of tracking function argument
  mobx/README.md
  mobx/lib/src/api/reaction.dart
  mobx/lib/src/core/reaction_helper.dart
  mobx/test/autorun_test.dart
Due: mobx

update docs with corrected naming of tracking function
  docs/src/api/reaction.mdx
  docs/src/core-concepts.mdx
Due: none

update reaction tests to mention tracking function instead of predicate
  mobx/test/reaction_test.dart
Due: none

Fix naming of tracking function argument in reaction (#398)
  docs/src/api/reaction.mdx
  docs/src/core-concepts.mdx
  mobx/README.md
  mobx/lib/src/api/reaction.dart
  mobx/lib/src/core/reaction_helper.dart
  mobx/test/autorun_test.dart
  mobx/test/reaction_test.dart
Due: mobx

Fix @observable generic types when using import aliases
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/data/valid_generic_store_input.dart
  mobx_codegen/test/data/valid_generic_store_output.dart
  mobx_codegen/test/data/valid_import_prefixed_input.dart
  mobx_codegen/test/data/valid_import_prefixed_output.dart
Due: mobx_codegen

Fix @observable generic types when using import aliases (#399)
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/data/valid_generic_store_input.dart
  mobx_codegen/test/data/valid_generic_store_output.dart
  mobx_codegen/test/data/valid_import_prefixed_input.dart
  mobx_codegen/test/data/valid_import_prefixed_output.dart
Due: mobx_codegen

publishing mobx_codegen
  .idea/workspace.xml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/pubspec.yaml
Due: mobx_codegen

adding a cheat sheet
  .idea/workspace.xml
  docs/package-lock.json
  docs/package.json
  docs/src/gatsby-theme-docz/index.css
  docs/src/getting-started/index.mdx
  docs/src/guides/cheat-sheet.mdx
Due: none

fixing typo and incomplete sentence
  .idea/workspace.xml
  docs/src/guides/cheat-sheet.mdx
Due: none

notes on extension methods, @computed, build_runner
  .idea/workspace.xml
  docs/src/guides/cheat-sheet.mdx
Due: none

Create dart.yml
  .github/workflows/dart.yml
Due: none

fixed path
  .github/workflows/dart.yml
Due: none
