Repository mobxjs/mobx.dart: changes, and which Codecov flags are due for each by the changed paths.
All: mobx, mobx_codegen, flutter_mobx, mobx_lint

codecov.yml:

coverage:
  range: 80..100
  status:
    project:
      default: off
      mobx:
        flags: mobx
      mobx_codegen:
        flags: mobx_codegen
      flutter_mobx:
        flags: flutter_mobx
      mobx_lint:
        flags: mobx_lint

flags:
  # filter the folder(s) you wish to measure by that flag
  mobx:
    # only include files in the mobx folder
    paths:
      - mobx/lib/
  mobx_codegen:
    paths:
      - mobx_codegen/lib/
  flutter_mobx:
    paths:
      - flutter_mobx/lib/
  mobx_lint:
    paths:
      - mobx_lint/lib/

ignore deprecations
  mobx_codegen/lib/src/mobx_codegen_base.dart
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_codegen/lib/src/template/method_override.dart
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/lib/src/template/util.dart
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/test/store_class_visitor_test.dart
  mobx_codegen/test/util_test.dart
Due: mobx_codegen

support analyzer 10
  mobx_codegen/lib/src/type_names.dart
  mobx_codegen/pubspec.yaml
Due: mobx_codegen

version
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/version.dart
  mobx_codegen/pubspec.yaml
Due: mobx_codegen

Update test formatting
  mobx_codegen/test/data/annotations_test_class_output.dart
  mobx_codegen/test/data/invalid_action_multiple_output.txt
  mobx_codegen/test/data/invalid_computed_multiple_output.txt
  mobx_codegen/test/data/invalid_computed_single_output.txt
  mobx_codegen/test/data/invalid_mixin_store_output.txt
  mobx_codegen/test/data/invalid_multiple_setter_on_readonly_observable_output.txt
  mobx_codegen/test/data/invalid_observable_multiple_output.txt
  mobx_codegen/test/data/invalid_observable_single_output.txt
  mobx_codegen/test/data/invalid_output.txt
  mobx_codegen/test/data/invalid_single_setter_on_readonly_observable_output.txt
  mobx_codegen/test/data/valid_generic_store_output.dart
  mobx_codegen/test/data/valid_import_prefixed_input.dart
  mobx_codegen/test/data/valid_import_prefixed_output.dart
  mobx_codegen/test/data/valid_input.dart
  mobx_codegen/test/data/valid_input_annotation_store_config_has_to_string.dart
  mobx_codegen/test/data/valid_keep_alive_computed_output.dart
  mobx_codegen/test/data/valid_late_variables_output.dart
  mobx_codegen/test/data/valid_output.dart
  mobx_codegen/test/data/valid_output_annotation_store_config_has_to_string.dart
  mobx_codegen/test/data/with_extension_output.dart
  mobx_codegen/test/test_utils.dart
Due: none

support v11 too, no affected changes
  mobx_codegen/pubspec.yaml
Due: none

changelog
  mobx_codegen/CHANGELOG.md
Due: none

support v12
  mobx_codegen/CHANGELOG.md
  mobx_codegen/pubspec.yaml
Due: none

Support analyzer v13
  mobx_codegen/CHANGELOG.md
  mobx_codegen/pubspec.yaml
Due: none

version
  mobx_codegen/lib/version.dart
Due: mobx_codegen

allow analyzer 14
  mobx_codegen/pubspec.yaml
Due: none

fix(mobx): fix analyzer infos on beta channel (super parameters + collection contains) (#1081)
  mobx/CHANGELOG.md
  mobx/lib/src/core/spy.dart
  mobx/lib/version.dart
  mobx/pubspec.yaml
  mobx/test/observable_list_test.dart
Due: mobx

Support analyzer v13 and v14 (#1078)
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/version.dart
  mobx_codegen/pubspec.yaml
Due: mobx_codegen

Update README.md
  README.md
Due: none

refactor: simplify constructors and update analysis exclusions
  flutter_mobx/analysis_options.yaml
  mobx_examples/analysis_options.yaml
  mobx_examples/lib/clock/clock_widgets.dart
  mobx_examples/lib/connectivity/connectivity_widgets.dart
  mobx_examples/lib/counter/counter_widgets.dart
  mobx_examples/lib/counter/without_codegen.dart
  mobx_examples/lib/dice/dice_widgets.dart
  mobx_examples/lib/form/form_store.dart
  mobx_examples/lib/form/form_widgets.dart
  mobx_examples/lib/github/github_widgets.dart
  mobx_examples/lib/hackernews/news_widgets.dart
  mobx_examples/lib/main.dart
  mobx_examples/lib/multi_counter/multi_counter_widgets.dart
  mobx_examples/lib/random_stream/random_widgets.dart
  mobx_examples/lib/settings/settings_widgets.dart
  mobx_examples/lib/todos/todo.dart
  mobx_examples/lib/todos/todo_widgets.dart
  mobx_lint_flutter_test/pubspec.yaml
Due: none

chore: add trailing newlines to markdown files for consistency
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  LICENSE
Due: none

chore: add trailing newlines to markdown files for consistency
  netlify.toml
  tool/coverage.sh
Due: none

chore: add trailing newline to zh-CN README for consistency
  translation/zh-CN/README.md
Due: none

docs: document when and asyncWhen optional parameters
  docs/docs/api/reaction.mdx
Due: none

chore(release): publish packages
  CHANGELOG.md
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/version.dart
  flutter_mobx/pubspec.yaml
  mobx/CHANGELOG.md
  mobx/lib/version.dart
  mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/version.dart
  mobx_codegen/pubspec.yaml
  mobx_examples/pubspec.yaml
  mobx_lint/pubspec.yaml
  pubspec.yaml
Due: mobx, mobx_codegen, flutter_mobx

chore(release): publish packages
  mobx_lint/CHANGELOG.md
  mobx_lint/lib/version.dart
  mobx_lint/pubspec.yaml
Due: mobx_lint

chore(release): synchronize version metadata and publish core before dependents
  .github/workflows/publish.yml
  docs/content/development/release.md
  docs/docs/development/release.mdx
  flutter_mobx/CHANGELOG.md
  flutter_mobx/melos_flutter_mobx.iml
  mobx/CHANGELOG.md
  mobx/melos_mobx.iml
  mobx_codegen/melos_mobx_codegen.iml
  mobx_lint/pubspec.lock
  mobx_lint_flutter_test/pubspec.lock
Due: none

ci: pause the GitHub website job during Cloudflare migration
  .github/workflows/build.yml
Due: none

build: prepare Cloudflare Pages with bundled Flutter gallery
  docs/.vitepress/config.ts
  docs/public/_headers
  tool/cloudflare/README.md
  tool/cloudflare/build.sh
  wrangler.jsonc
Due: none

fix(ci): resolve Flutter workspace during publishing and coverage
  .github/workflows/publish.yml
  tool/coverage.sh
Due: none

ci: build and deploy the Flutter documentation site from GitHub Actions
  .github/workflows/website.yml
  tool/cloudflare/README.md
  tool/cloudflare/build.sh
  tool/cloudflare/ensure-project.mjs
Due: none

fix(web): include Flutter web entry point in clean builds
  mobx_examples/.gitignore
  mobx_examples/web/index.html
Due: none

fix(deploy): retry transient Pages propagation errors
  .github/workflows/website.yml
Due: none

fix(docs): show only the last updated date
  docs/.vitepress/config.ts
Due: none

fix(docs): redirect legacy Netlify site to Cloudflare domain
  netlify.toml
  tool/netlify-redirect/index.html
Due: none

feat(docs): add branded social sharing cards and metadata
  docs/.vitepress/config.ts
  docs/public/images/social-card.jpg
  docs/public/robots.txt
  docs/scripts/social-card.html
Due: none

feat(docs): restore GA4 and track navigation and example usage
  docs/.vitepress/theme/analytics.ts
  docs/.vitepress/theme/components/FlutterExample.vue
  docs/.vitepress/theme/index.ts
Due: none

docs: remove company adoption section
  docs/.vitepress/theme/components/HomePage.tsx
  docs/.vitepress/theme/components/home/CompanyLogos.tsx
  docs/.vitepress/theme/home.css
Due: none

docs: move Netlify and Algolia to past sponsors
  docs/.vitepress/theme/data/sponsors.ts
Due: none

docs: restore approved company logo carousel
  docs/.vitepress/theme/components/HomePage.tsx
  docs/.vitepress/theme/components/home/CompanyLogos.tsx
  docs/.vitepress/theme/home.css
  docs/public/images/companies/hyperzones.png
  docs/public/images/companies/multipl.png
  docs/public/images/companies/sources.json
Due: none

docs: enforce grayscale for all company logos
  docs/.vitepress/theme/components/home/CompanyLogos.tsx
  docs/.vitepress/theme/home.css
  docs/AGENTS.md
Due: none

docs: add Birju Vachhani testimonial
  docs/.vitepress/theme/data/testimonials.ts
  docs/public/images/people/birju.png
Due: none

docs: add company logo caption
  docs/.vitepress/theme/components/home/CompanyLogos.tsx
  docs/.vitepress/theme/home.css
Due: none

docs: use company adoption text as carousel heading
  docs/.vitepress/theme/components/home/CompanyLogos.tsx
  docs/.vitepress/theme/home.css
Due: none
