Repository mobxjs/mobx.dart: changes, and which Codecov flags are due for each by the changed paths.
All: mobx, mobx_codegen, flutter_mobx

codecov.yml:

coverage:
  range: 80..100
  status:
    project:
      default: off
      mobx:
        flags: mobx
      mobx_codegen:
        flags: mobx_codegen
      flutter_mobx:
        flags: flutter_mobx

flags:
  # filter the folder(s) you wish to measure by that flag
  mobx:
    # only include files in the mobx folder
    paths:
      - mobx/lib/
  mobx_codegen:
    paths:
      - mobx_codegen/lib/
  flutter_mobx:
    paths:
      - flutter_mobx/lib/

more styling tweaks
  docs/src/components/home/HeroSection.tsx
  docs/src/components/home/NutshellListItem.tsx
  docs/src/components/home/NutshellSection.tsx
  docs/src/components/home/Sponsor.tsx
Due: none

more styling tweaks
  docs/src/components/home/NutshellSection.tsx
Due: none

removing algolia and adding local lunr search
  docs/docusaurus.config.js
  docs/package.json
  docs/pnpm-lock.yaml
  docs/src/components/home/BadgesSection.tsx
  docs/src/css/custom.css
  docs/src/pages/index.tsx
Due: none

minor adjustments
  docs/src/components/home/BadgesSection.tsx
  docs/src/css/custom.css
Due: none

styling tweaks
  docs/docusaurus.config.js
  docs/src/components/home/BadgesSection.tsx
  docs/src/components/home/HeroSection.tsx
  docs/src/css/custom.css
Due: none

package updates to include homepage and topics
  docs/src/components/home/BadgesSection.tsx
  flutter_mobx/CHANGELOG.md
  flutter_mobx/pubspec.yaml
  melos.yaml
  mobx/CHANGELOG.md
  mobx/lib/version.dart
  mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/version.dart
  mobx_codegen/pubspec.yaml
  mobx_lint/lib/version.dart
  mobx_lint/pubspec.yaml
Due: mobx, mobx_codegen

animation for mobx
  docs/design/arrow.png
  docs/design/mobx-triad.png
  docs/design/mobx.afdesign
  docs/design/mobx.motn
  docs/static/mobx.mp4
Due: none

replacing image with the looping animation
  docs/design/mobx-triad.png
  docs/design/mobx.motn
  docs/src/components/home/NutshellSection.tsx
  docs/static/mobx.mp4
Due: none

making it work on safari
  docs/src/components/home/NutshellSection.tsx
Due: none

improved quality of video
  docs/design/mobx.motn
  docs/static/mobx.mp4
Due: none

switching to algolia search
  docs/docusaurus.config.js
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

back to lunr until algolia finishes indexing
  docs/docusaurus.config.js
Due: none

Using algolia...
  docs/design/mobx.afdesign
  docs/docusaurus.config.js
Due: none

adding algolia as sponsor
  docs/src/data/sponsors.ts
  docs/src/images/algolia-sponsor.png
Due: none

opening url in a separate tab for sponsors
  docs/src/components/home/Sponsor.tsx
Due: none

package updates and changing the copyright years
  docs/docusaurus.config.js
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

Refactor Sponsor component to SponsorSection
  docs/src/components/home/SponsorSection.tsx
  docs/src/pages/index.tsx
Due: none

adding google tag manager
  docs/docusaurus.config.js
Due: none

updating readme
  README.md
  docs/src/images/vyuh-sponsor.png
Due: none

updating readme
  README.md
Due: none

updating readme
  docs/src/data/sponsors.ts
Due: none

feat: Add mobx_lint_flutter_test package to melos.yaml
  melos.yaml
Due: none

chore: update melos dev dependency to version 5.2.1
  pubspec.yaml
Due: none

chore: remove unused command in melos.yaml
  melos.yaml
Due: none

fix: preserve stacktrace in Computed and Reaction
  mobx/lib/src/core/computed.dart
  mobx/lib/src/core/reaction.dart
Due: mobx

build: melos (#987)
  melos.yaml
  pubspec.yaml
Due: none

docs: add mobx_utils page (#893)
  docs/docs/guides/mobx-utils.mdx
  docs/sidebars.js
Due: none

tests: Add test cases for testing preserving stacktrace in Computed and Observer
  flutter_mobx/test/flutter_mobx_test.dart
  mobx/test/exceptions_test.dart
Due: none

chore: bump version to 2.3.1 and update changelog with bug fix for preserving stacktrace in Computed and Reaction functions
  mobx/CHANGELOG.md
  mobx/lib/version.dart
  mobx/pubspec.yaml
Due: mobx

chore: format
  flutter_mobx/lib/src/observer.dart
  flutter_mobx/test/flutter_mobx_test.dart
  mobx/lib/src/api/annotations.dart
  mobx/test/atom_extensions_test.dart
  mobx/test/computed_test.dart
  mobx/test/observable_list_test.dart
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_lint/lib/src/mobx_types.dart
  mobx_lint_flutter_test/test/assists/wrap_widget/wrap_widget.dart
  mobx_lint_flutter_test/test/golden.dart
Due: mobx, mobx_codegen, flutter_mobx

chore: update code formatting command in release documentation
  docs/docs/development/release.mdx
Due: none

chore: format (#992)
  docs/docs/development/release.mdx
  flutter_mobx/lib/src/observer.dart
  flutter_mobx/test/flutter_mobx_test.dart
  mobx/lib/src/api/annotations.dart
  mobx/test/atom_extensions_test.dart
  mobx/test/computed_test.dart
  mobx/test/observable_list_test.dart
  mobx_codegen/lib/src/store_class_visitor.dart
  mobx_lint/lib/src/mobx_types.dart
  mobx_lint_flutter_test/test/assists/wrap_widget/wrap_widget.dart
  mobx_lint_flutter_test/test/golden.dart
Due: mobx, mobx_codegen, flutter_mobx

fix: stacktrace in computed (#988)
  flutter_mobx/test/flutter_mobx_test.dart
  mobx/CHANGELOG.md
  mobx/lib/src/core/computed.dart
  mobx/lib/src/core/reaction.dart
  mobx/lib/version.dart
  mobx/pubspec.yaml
  mobx/test/exceptions_test.dart
Due: mobx

fixing the mdx issue
  docs/docs/guides/mobx-utils.mdx
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

fix(observable): check if new value is an instance of WillChangeNotification unchanged before setting it
  mobx/lib/src/core/observable.dart
  mobx/test/observable_test.dart
Due: mobx

chore(observable): Bump version to 2.3.2 and update CHANGELOG.md with bug fix for Observable value setter
  mobx/CHANGELOG.md
  mobx/lib/version.dart
  mobx/pubspec.yaml
Due: mobx

fix: Observable.value setter (covariant) (#993)
  mobx/CHANGELOG.md
  mobx/lib/src/core/observable.dart
  mobx/lib/version.dart
  mobx/pubspec.yaml
  mobx/test/observable_test.dart
Due: mobx

Update package versions and SDK requirements
  .github/workflows/build.yml
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/version.dart
  flutter_mobx/pubspec.yaml
  melos.yaml
  mobx/CHANGELOG.md
  mobx/lib/version.dart
  mobx/pubspec.yaml
  mobx/test/all_tests.dart
  mobx/test/atom_extensions_test.dart
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/version.dart
  mobx_codegen/pubspec.yaml
  pubspec.yaml
Due: mobx, mobx_codegen, flutter_mobx

Refactor several classes for code readability and upgrade package versions
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/src/multi_reaction_builder.dart
  flutter_mobx/lib/src/observer.dart
  flutter_mobx/lib/src/reaction_builder.dart
  flutter_mobx/lib/src/stateful_observer_widget.dart
  flutter_mobx/lib/src/stateless_observer_widget.dart
  flutter_mobx/lib/version.dart
  flutter_mobx/pubspec.yaml
  flutter_mobx/test/flutter_mobx_test.dart
  flutter_mobx/test/helpers.dart
  flutter_mobx/test/reaction_builder_test.dart
  mobx/CHANGELOG.md
  mobx/lib/src/api/annotations.dart
  mobx/lib/src/core.dart
  mobx/lib/src/core/computed.dart
  mobx/lib/src/core/observable.dart
  mobx/lib/src/core/spy.dart
  mobx/lib/src/interceptable.dart
  mobx/lib/src/listenable.dart
  mobx/lib/version.dart
  mobx/pubspec.yaml
  mobx/test/autorun_test.dart
  mobx/test/observable_map_test.dart
  mobx_examples/lib/hackernews/news_widgets.dart
  mobx_examples/lib/todos/todo_list.dart
Due: mobx, flutter_mobx
