Repository mobxjs/mobx.dart: changes, and which Codecov flags are due for each by the changed paths.
All: mobx, mobx_codegen, flutter_mobx

codecov.yml:

coverage:
  range: 80..100
  status:
    project:
      default: off
      mobx:
        flags: mobx
      mobx_codegen:
        flags: mobx_codegen
      flutter_mobx:
        flags: flutter_mobx

flags:
  # filter the folder(s) you wish to measure by that flag
  mobx:
    # only include files in the mobx folder
    paths:
      - mobx/lib/
  mobx_codegen:
    paths:
      - mobx_codegen/lib/
  flutter_mobx:
    paths:
      - flutter_mobx/lib/

fix observable list notifications and improve test coverage
  mobx/lib/src/api/observable_collections/observable_list.dart
  mobx/test/observable_list_test.dart
Due: mobx

fix observable list notifications and improve test coverage (#194)
  mobx/lib/src/api/observable_collections/observable_list.dart
  mobx/test/observable_list_test.dart
Due: mobx

minor adjustments to the notifications on list changes
  .idea/workspace.xml
  mobx/lib/src/api/observable_collections/observable_list.dart
Due: mobx

create .gitignore for mobx package/folder
  mobx/.gitignore
Due: none

retroactive changelog updates for flutter_mobx
  .idea/workspace.xml
  flutter_mobx/CHANGELOG.md
  flutter_mobx/pubspec.yaml
Due: none

consolide .gitignore file
  .gitignore
  docs/.gitignore
  flutter_mobx/.gitignore
  mobx_codegen/.gitignore
  mobx_examples/.gitignore
Due: none

<version> and full path to Intellij on macOS and Windows
  tool/intellij/README.md
Due: none

consolidate .gitignore (#195)
  .gitignore
  docs/.gitignore
  flutter_mobx/.gitignore
  mobx/.gitignore
  mobx_examples/.gitignore
Due: none

retroactive changelog updates for mobx_codegen
  mobx_codegen/CHANGELOG.md
Due: none

rethrow exceptions occurring inside the `Observer`
  .idea/workspace.xml
  flutter_mobx/lib/src/observer.dart
  flutter_mobx/test/flutter_mobx_test.dart
Due: flutter_mobx

add store live templates and readme for live templates (#189)
  tool/intellij/MobX.xml
  tool/intellij/README.md
Due: none

adjusting path for Intellij
  .idea/workspace.xml
  tool/intellij/README.md
Due: none

rethrow exceptions occurring inside the `Observer` (#198)
  flutter_mobx/lib/src/observer.dart
  flutter_mobx/test/flutter_mobx_test.dart
Due: flutter_mobx

version update for flutter_mobx
  .idea/workspace.xml
  flutter_mobx/CHANGELOG.md
  flutter_mobx/pubspec.yaml
Due: none

minor renaming
  .idea/workspace.xml
  mobx/lib/src/core/computed.dart
  mobx/lib/src/core/context.dart
  mobx/lib/src/core/reaction.dart
Due: mobx

- adding a guide for not able to run app on iOS Simulator - example for using with ObservableStream
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  docs/docs.iml
  docs/src/guides/build-output.mdx
  docs/src/guides/deployment-target.png
  flutter_mobx/CHANGELOG.md
  flutter_mobx/flutter_mobx.iml
  flutter_mobx/lib/src/observer.dart
  flutter_mobx/pubspec.yaml
  mobx/mobx.iml
  mobx_examples/lib/examples.dart
  mobx_examples/lib/main.dart
  mobx_examples/lib/multi_counter/multi_counter_widgets.dart
  mobx_examples/lib/random_stream/random_store.dart
  mobx_examples/lib/random_stream/random_store.g.dart
  mobx_examples/lib/random_stream/random_widgets.dart
  mobx_examples/pubspec.yaml
Due: flutter_mobx

adding links to examples
  .idea/workspace.xml
  mobx_examples/README.md
Due: none

fixing tests in flutter_mobx
  .idea/workspace.xml
  flutter_mobx/CHANGELOG.md
  flutter_mobx/pubspec.yaml
  flutter_mobx/test/flutter_mobx_test.dart
Due: none

Adding a policy to allow observable reads only inside reactions/actions. No stray reads.
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  flutter_mobx/test/flutter_mobx_test.dart
  mobx/example/lib/counter.g.dart
  mobx/example/lib/todos.g.dart
  mobx/lib/src/api/observable_collections/observable_list.dart
  mobx/lib/src/api/observable_collections/observable_map.dart
  mobx/lib/src/api/observable_collections/observable_set.dart
  mobx/lib/src/core/context.dart
  mobx/lib/src/core/observable.dart
  mobx/test/action_test.dart
  mobx/test/async_action_test.dart
  mobx/test/reactive_policies.dart
  mobx/test/util.dart
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/generator_usage_test.dart
  mobx_codegen/test/generator_usage_test.g.dart
  mobx_codegen/test/mobx_codegen_test.dart
  mobx_codegen/test/nested_store.g.dart
  mobx_codegen/test/templates_test.dart
  mobx_examples/lib/counter/counter.g.dart
  mobx_examples/lib/form/form_store.g.dart
  mobx_examples/lib/github/github_store.g.dart
  mobx_examples/lib/hackernews/news_store.g.dart
  mobx_examples/lib/multi_counter/multi_counter_store.g.dart
  mobx_examples/lib/todos/todo.g.dart
  mobx_examples/lib/todos/todo_list.g.dart
  mobx_examples/pubspec.yaml
  package.json
Due: mobx, mobx_codegen

some tests to enforce read behavior
  .idea/workspace.xml
  mobx/lib/src/core/context.dart
  mobx/lib/src/core/observable.dart
  mobx/test/context_test.dart
  mobx/test/reactive_policies.dart
  mobx/test/reactive_policies_test.dart
Due: mobx

renaming fields
  .idea/workspace.xml
  flutter_mobx/test/flutter_mobx_test.dart
  mobx/example/lib/counter.g.dart
  mobx/example/lib/todos.g.dart
  mobx/lib/src/api/observable_collections/observable_list.dart
  mobx/lib/src/api/observable_collections/observable_map.dart
  mobx/lib/src/api/observable_collections/observable_set.dart
  mobx/lib/src/core/context.dart
  mobx/lib/src/core/observable.dart
  mobx/test/action_test.dart
  mobx/test/async_action_test.dart
  mobx/test/autorun_test.dart
  mobx/test/context_test.dart
  mobx/test/observable_list_test.dart
  mobx/test/observable_map_test.dart
  mobx/test/observable_set_test.dart
  mobx/test/observable_stream_test.dart
  mobx/test/reaction_test.dart
  mobx/test/reactive_policies_test.dart
  mobx/test/util.dart
  mobx/test/when_test.dart
  mobx_codegen/test/generator_usage_test.dart
  mobx_codegen/test/generator_usage_test.g.dart
  mobx_codegen/test/nested_store.g.dart
  mobx_examples/lib/counter/counter.g.dart
  mobx_examples/lib/form/form_store.g.dart
  mobx_examples/lib/github/github_store.g.dart
  mobx_examples/lib/hackernews/news_store.g.dart
  mobx_examples/lib/multi_counter/multi_counter_store.g.dart
  mobx_examples/lib/todos/todo.g.dart
  mobx_examples/lib/todos/todo_list.g.dart
Due: mobx

renaming fields
  .idea/workspace.xml
  docs/src/api/context.mdx
  mobx/example/lib/counter.g.dart
  mobx/example/lib/todos.g.dart
  mobx/lib/src/api/observable_collections/observable_list.dart
  mobx/lib/src/api/observable_collections/observable_map.dart
  mobx/lib/src/api/observable_collections/observable_set.dart
  mobx/lib/src/core/context.dart
  mobx/lib/src/core/observable.dart
  mobx_codegen/test/generator_usage_test.g.dart
  mobx_codegen/test/nested_store.g.dart
  mobx_examples/lib/counter/counter.g.dart
  mobx_examples/lib/form/form_store.g.dart
  mobx_examples/lib/github/github_store.g.dart
  mobx_examples/lib/hackernews/news_store.g.dart
  mobx_examples/lib/multi_counter/multi_counter_store.g.dart
  mobx_examples/lib/todos/todo.g.dart
  mobx_examples/lib/todos/todo_list.g.dart
Due: mobx

bringing versions in sync, adding read policy checks to collections
  .idea/workspace.xml
  flutter_mobx/CHANGELOG.md
  flutter_mobx/pubspec.yaml
  flutter_mobx/test/flutter_mobx_test.dart
  mobx/CHANGELOG.md
  mobx/lib/src/api/observable_collections/observable_list.dart
  mobx/lib/src/api/observable_collections/observable_map.dart
  mobx/lib/src/api/observable_collections/observable_set.dart
  mobx/lib/src/core/observable.dart
  mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/src/template/observable.dart
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/generator_usage_test.g.dart
  mobx_codegen/test/nested_store.g.dart
Due: mobx, mobx_codegen

fixing the api call
  .idea/workspace.xml
  mobx/test/observable_map_test.dart
Due: none

tests for observable reads in observable, list, set, map
  .idea/workspace.xml
  mobx/test/reactive_policies_test.dart
  mobx/test/shared_mocks.dart
Due: none

few tweaks on internal classes
  .idea/workspace.xml
  mobx/lib/src/api/observable_collections/observable_map.dart
  mobx/lib/src/api/observable_collections/observable_set.dart
  mobx/test/observable_map_test.dart
  mobx/test/reactive_policies_test.dart
Due: mobx

switching to assertions
  .idea/workspace.xml
  mobx/lib/src/core.dart
  mobx/lib/src/core/context.dart
  mobx/test/action_test.dart
  mobx/test/context_test.dart
  mobx/test/reactive_policies_test.dart
Due: mobx

assert wrappers
  .idea/workspace.xml
  docs/package-lock.json
  docs/package.json
  mobx/lib/src/core/context.dart
Due: mobx

updating documentation
  .idea/workspace.xml
  docs/src/api/context.mdx
Due: none

package updates to alpha to enable testing on circleCI
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  flutter_mobx/pubspec.yaml
  mobx/pubspec.yaml
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/mobx_codegen_test.dart
  mobx_codegen/test/templates_test.dart
  package.json
Due: none

having some failing tests
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  mobx/pubspec.yaml
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/mobx_codegen_test.dart
Due: none

having some failing tests
  docs/design/mobx.afdesign
  mobx_codegen/test/mobx_codegen_test.dart
Due: none

removing the fake sources as the Store class is now a mixin and no longer just an interface
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  mobx_codegen/pubspec.yaml
  mobx_codegen/test/mobx_codegen_test.dart
Due: none

version upgrades to 0.3.0
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  flutter_mobx/CHANGELOG.md
  flutter_mobx/pubspec.yaml
  mobx/pubspec.yaml
  mobx_codegen/pubspec.yaml
Due: none

version upgrades to 0.3.0+2
  .idea/workspace.xml
  mobx/CHANGELOG.md
  mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/README.md
  mobx_codegen/pubspec.yaml
  mobx_examples/pubspec.yaml
Due: none

pubspec updates
  .idea/workspace.xml
  mobx/pubspec.yaml
Due: none

Exception message change, version update
  .idea/libraries/Dart_Packages.xml
  .idea/workspace.xml
  mobx/lib/src/core/context.dart
  mobx/pubspec.yaml
Due: mobx

Exception message change, version update
  .idea/workspace.xml
  mobx/CHANGELOG.md
Due: none
