Repository mobxjs/mobx.dart: changes, and which Codecov flags are due for each by the changed paths.
All: mobx, mobx_codegen, flutter_mobx

spy_test.dart: ensure that spy-event is raised only once for async actions that involve scheduleMicrotask
  mobx/test/spy_test.dart
Due: none

result of Observable is not a String, but an Observable
  README.md
  docs/docs/api/reaction.mdx
  docs/docs/core-concepts.mdx
  mobx/README.md
  translation/pt-BR/README.md
  translation/zh-CN/README.md
Due: none

primitive type aliases; asObservable() ext. for primitive types
  mobx/lib/src/api/extensions.dart
  mobx/lib/src/api/extensions/primitive_types_extensions.dart
  mobx/lib/src/core.dart
  mobx/lib/src/core/typedefs.dart
  mobx/pubspec.yaml
Due: mobx

toggle
  mobx/lib/src/api/extensions.dart
  mobx/lib/src/api/extensions/primitive_types_extensions.dart
Due: mobx

naming fixes
  mobx/lib/src/api/extensions/primitive_types_extensions.dart
Due: mobx

tests
  mobx/test/extensions/primitive_types_extensions_test.dart
Due: none

bump ver. 2.0.7
  mobx/pubspec.yaml
Due: none

mobx.dart version increment
  mobx/lib/mobx.dart
Due: mobx

changelog for 2.0.7
  mobx/CHANGELOG.md
Due: none

API docs
  mobx/lib/src/api/extensions/primitive_types_extensions.dart
Due: mobx

english
  flutter_mobx/lib/src/observer_widget_mixin.dart
  flutter_mobx/test/flutter_mobx_test.dart
Due: flutter_mobx

changelog
  flutter_mobx/CHANGELOG.md
  flutter_mobx/pubspec.yaml
  mobx_codegen/CHANGELOG.md
  mobx_codegen/pubspec.yaml
Due: none

npm run set:versions
  flutter_mobx/lib/flutter_mobx.dart
  mobx_codegen/lib/mobx_codegen.dart
Due: mobx_codegen, flutter_mobx

result of Observable is not a String, but an Observable (#787)
  README.md
  docs/docs/api/reaction.mdx
  docs/docs/core-concepts.mdx
  mobx/README.md
  translation/pt-BR/README.md
  translation/zh-CN/README.md
Due: none

requested changed to changelog
  mobx/CHANGELOG.md
Due: none

Observable extensions (#792)
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/lib/src/api/extensions.dart
  mobx/lib/src/api/extensions/primitive_types_extensions.dart
  mobx/lib/src/core.dart
  mobx/lib/src/core/typedefs.dart
  mobx/pubspec.yaml
  mobx/test/extensions/primitive_types_extensions_test.dart
Due: mobx

upgrading dart sdk to 2.13. Removing dependency_overrides in mobx_codegen
  flutter_mobx/pubspec.yaml
  mobx_codegen/pubspec.yaml
Due: none

incorrect argument names in Provider & ProxyProvider constructor
  docs/docs/guides/organizing-stores.mdx
Due: none

Updated changelog
  mobx/CHANGELOG.md
Due: none

Updated mobx version
  mobx/lib/mobx.dart
  mobx/pubspec.yaml
Due: mobx

Upgrading `mobx` to `2.0.7`
  mobx/CHANGELOG.md
  mobx_codegen/CHANGELOG.md
  mobx_codegen/pubspec.yaml
Due: none

migrate to flutter 3.0
  flutter_mobx/lib/src/observer_widget_mixin.dart
Due: flutter_mobx

Upgrading `mobx` to `2.0.7`
  mobx_codegen/lib/mobx_codegen.dart
Due: mobx_codegen

test: .packages is deprecated
  tool/coverage.sh
Due: none

update analyzer version
  mobx_codegen/pubspec.yaml
Due: none

test: .packages is deprecated (#811)
  tool/coverage.sh
Due: none

Upgrading `mobx` to `2.0.7` (#806)
  mobx/CHANGELOG.md
  mobx_codegen/CHANGELOG.md
  mobx_codegen/lib/mobx_codegen.dart
  mobx_codegen/pubspec.yaml
Due: mobx_codegen

updating the dart docker image
  .github/workflows/build.yml
Due: none

fixing a few lints
  mobx/analysis_options.yaml
  mobx_codegen/analysis_options.yaml
Due: none

making the executables work for build
  tool/coverage.sh
Due: none

:ambulance: Fixed error on build with null safety
  flutter_mobx/lib/src/observer_widget_mixin.dart
Due: flutter_mobx

bringing support for previous version of flutter sdk for flutter_mobx
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/lib/src/observer_widget_mixin.dart
  flutter_mobx/pubspec.yaml
  mobx/CHANGELOG.md
  mobx/lib/mobx.dart
  mobx/pubspec.yaml
  mobx/test/intercept_test.dart
  mobx/test/listenable_test.dart
Due: mobx, flutter_mobx

bringing support for previous version of flutter sdk for flutter_mobx
  flutter_mobx/CHANGELOG.md
  flutter_mobx/lib/flutter_mobx.dart
  flutter_mobx/lib/src/observer_widget_mixin.dart
  flutter_mobx/pubspec.yaml
Due: flutter_mobx

Add no_leading_underscores rule to ignore_for_file
  mobx_codegen/lib/src/template/store_file.dart
  mobx_codegen/test/data/valid_output_annotation_store_config_has_to_string.dart
Due: mobx_codegen

Bump mobx codegen version to 2.0.7
  mobx_codegen/pubspec.yaml
Due: none

Update changelog to reflect v2.0.7
  mobx_codegen/CHANGELOG.md
Due: none

Create PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Create PULL_REQUEST_TEMPLATE.md (#818)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Path conditions:
  mobx: any of: mobx/lib/
  mobx_codegen: any of: mobx_codegen/lib/
  flutter_mobx: any of: flutter_mobx/lib/
